
{{&gt; molecules-ma-banner-with-video }}

&lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;col-xs-12&quot;&gt;
        &lt;p class=&quot;text-center-xs&quot;&gt;Dinner plans, weekend plans, vacation plans. We spend so much time planning our daily lives that retirement planning can get lost in the shuffle.&lt;/p&gt;
        &lt;p class=&quot;text-center-xs&quot;&gt;Truth is, retirement planning can be much easier &amp;dash; and take less time &amp;dash; than you think. That's why we created &lt;em&gt;Managed Advice&lt;/em&gt;&lt;sup&gt;&amp;reg;&lt;/sup&gt;.
    &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;col-xs-12&quot;&gt;
        &lt;h2 class=&quot;margin-bottom&quot;&gt;&lt;em&gt;Managed Advice&lt;/em&gt;&lt;sup&gt;&amp;reg;&lt;/sup&gt; offers you:&lt;/h2&gt;
        {{&gt; atoms-horizontal-circles }}
    &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;row margin-top margin-bottom-lg&quot;&gt;
    &lt;div class=&quot;col-xs-12&quot;&gt;
        &lt;div class=&quot;well well--plain well--rounded text-center-xs&quot;&gt;
            Plus, your employer has arranged a &lt;br class=&quot;visible-xs&quot;&gt;&lt;strong class=&quot;text-larger&quot;&gt;free trial period&lt;/strong&gt;&lt;br class=&quot;visible-xs&quot;&gt; for &lt;em&gt;Managed Advice&lt;/em&gt;&lt;sup&gt;&amp;reg;&lt;/sup&gt; from 00/00/0000 through 00/00/0000, so be sure to consider this exclusive offer while it's available.
        &lt;/div&gt;

        &lt;div class=&quot;margin-top-lg&quot;&gt;
            &lt;div class=&quot;btn-unit btn-unit-primary-action&quot;&gt;
                &lt;a class=&quot;btn btn-primary&quot; href=&quot;{{ link.pages-lets-get-started }}&quot;&gt;Get started&lt;/a&gt;
            &lt;/div&gt;
            &lt;div class=&quot;btn-unit btn-unit-primary-action&quot;&gt;
                &lt;a class=&quot;btn btn-secondary&quot; href=&quot;{{ link.pages-managed-advice-find-out-more }}&quot;&gt;Find out more&lt;/a&gt;
            &lt;/div&gt;
            &lt;div class=&quot;btn-unit btn-unit-secondary-action&quot;&gt;
                &lt;a class=&quot;btn btn-secondary&quot; href=&quot;#&quot;&gt;No thanks&lt;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;col-xs-12&quot;&gt;
        &lt;p class=&quot;text-center-xs&quot;&gt;
            Your account will be charged a fee at an annual rate of 0.25% of your account balance (that's $2.08 per $10,000 when applied monthly) in &lt;em&gt;Managed Advice&lt;/em&gt;&lt;sup&gt;&amp;reg;&lt;/sup&gt;. Please refer to the &lt;strong&gt;&lt;a href=&quot;#&quot;&gt;&lt;em&gt;Managed Advice&lt;/em&gt;&lt;sup&gt;&amp;reg;&lt;/sup&gt; Service Agreement&lt;/a&gt;&lt;/strong&gt; for more information, as well as these important details about the &lt;em&gt;Managed Advice&lt;/em&gt;&lt;sup&gt;&amp;reg;&lt;/sup&gt; service offered by ABC Organization.
        &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;col-xs-12&quot;&gt;
        &lt;ul class=&quot;list-box&quot;&gt;
            &lt;li&gt;&lt;a class=&quot;link--style1__rarrow full-width&quot; title=&quot;&quot; href=&quot;#&quot;&gt;&lt;span&gt;ABC Organization Retirement Advisor's Form ADV&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a class=&quot;link--style1__rarrow full-width&quot; title=&quot;&quot; href=&quot;#&quot;&gt;&lt;span&gt;Your Plan's Investment Managers' Form ADV&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;/div&gt;
