&lt;h1 class=&quot;text-center&quot;&gt;Let &lt;em&gt;Managed Advice&lt;/em&gt; Work For You&lt;/h1&gt;

&lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;col-xs-12 text-center padding-bottom-md__mobile&quot;&gt;&lt;img src=&quot;../../images/video-placeholder.png&quot;
                                                                      class=&quot;img-responsive margin-horz__auto&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;col-sm-8 col-sm-offset-2 text-center padding-top padding-bottom&quot;&gt;&lt;h2 class=&quot;ma-h2&quot;&gt;Highly customized
        investing strategies, delivered with a human touch.&lt;/h2&gt;&lt;/div&gt;
    &lt;div class=&quot;col-xs-12 text-center&quot;&gt;
        &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;Get Started&lt;/button&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;row ma-icon-block js-eq-ht-container&quot;&gt;
    &lt;div class=&quot;arrow-down&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;col-sm-3 text-center js-eq-ht-div&quot;&gt;
        &lt;div class=&quot;ma-icon ma-icon__globe&quot;&gt;&lt;/div&gt;
        &lt;h3 class=&quot;ma-h3&quot;&gt;Personalized&lt;/h3&gt;
        &lt;p class=&quot;ma-p__gray&quot;&gt;Customized investment strategy to help you meet your goals&lt;/p&gt;
        &lt;div class=&quot;ma-horz-dotted visible-xs&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-sm-3 text-center js-eq-ht-div&quot;&gt;
        &lt;div class=&quot;left-border hidden-xs&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;ma-icon ma-icon__calendar&quot;&gt;&lt;/div&gt;
        &lt;h3 class=&quot;ma-h3&quot;&gt;Proactive&lt;/h3&gt;
        &lt;p class=&quot;ma-p__gray&quot;&gt;Quarterly investment review and rebalancing&lt;/p&gt;
        &lt;div class=&quot;ma-horz-dotted visible-xs&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-sm-3 text-center js-eq-ht-div&quot;&gt;
        &lt;div class=&quot;left-border hidden-xs&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;ma-icon ma-icon__person&quot;&gt;&lt;/div&gt;
        &lt;h3 class=&quot;ma-h3&quot;&gt;Human Touch&lt;/h3&gt;
        &lt;p class=&quot;ma-p__gray&quot;&gt;Speak with an experienced investment advisor to help refine your strategy&lt;/p&gt;
        &lt;div class=&quot;ma-horz-dotted visible-xs&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-sm-3 text-center js-eq-ht-div&quot;&gt;
        &lt;div class=&quot;left-border hidden-xs&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;ma-icon ma-icon__money&quot;&gt;&lt;/div&gt;
        &lt;h3 class=&quot;ma-h3&quot;&gt;Affordable&lt;/h3&gt;
        &lt;p class=&quot;ma-p__gray&quot;&gt;Up to 2/3 less than industry average&lt;/p&gt;
        &lt;p class=&quot;footnote&quot;&gt;AdvisorBenchmarking RIA Trend Report, 2014&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class=&quot;arrow-down arrow__gray arrow__bottom&quot;&gt;&lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;row&quot;&gt;
    &lt;h1 class=&quot;text-center&quot;&gt;How it works&lt;/h1&gt;
    &lt;div class=&quot;col-sm-6 col-sm-offset-3 text-center&quot;&gt;
        &lt;div class=&quot;ma-icon ma-icon__wrench&quot;&gt;&lt;/div&gt;
        &lt;h2 class=&quot;ma-h2&quot;&gt;Tell us about yourself&lt;/h2&gt;
        &lt;p class=&quot;ma-p__gray&quot;&gt;Sign in to your account to start taking advantage of all the benefits of Managed Advice.
            You&rsquo;ll fill out a profile so we can start to build a personalized retirement strategy that will meet your
            individual needs.&lt;/p&gt;
        &lt;div class=&quot;ma-horz-dotted&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-sm-6 col-sm-offset-3 text-center padding-top-lg&quot;&gt;
        &lt;div class=&quot;ma-icon ma-icon__gear&quot;&gt;&lt;/div&gt;
        &lt;h2 class=&quot;ma-h2&quot;&gt;Let Managed Advice work for you&lt;/h2&gt;
        &lt;p class=&quot;ma-p__gray&quot;&gt;We create a personalized strategy for you &mdash; automatically investing your account and
            guiding you towards your goals &mdash; so you can worry less about tomorrow. And if you ever want to change
            anything, one-on-one advice is always a phone call away.&lt;/p&gt;
        &lt;div class=&quot;ma-horz-dotted&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-sm-6 col-sm-offset-3 text-center padding-top-lg padding-bottom-lg&quot;&gt;
        &lt;div class=&quot;ma-icon ma-icon__dollars&quot;&gt;&lt;/div&gt;
        &lt;h2 class=&quot;ma-h2&quot;&gt;Competitive Cost&lt;/h2&gt;
        &lt;p class=&quot;ma-p__gray&quot;&gt;Managed Advice has a monthly fee based on your account balance &mdash; [$2.08/$2.92/$3.75] for
            every $10,000 in your account, with absolutely no impact on your paycheck. And since you're getting
            professional money management through your employer, this fee is much less than what you would pay if you
            sought advice on your own.*&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-xs-12 text-center&quot;&gt;
        &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;Get Started&lt;/button&gt;
    &lt;/div&gt;
&lt;/div&gt;

