&lt;div class=&quot;text-center&quot;&gt;
    &lt;div class=&quot;page-meter&quot;&gt;
        &lt;ol role=&quot;navigation&quot;&gt;
        {{# page-meter-items }}
            &lt;li class=&quot;page-meter__step{{#isComplete}} page-meter__step--complete{{/isComplete}}{{#isActive}} page-meter__step--active{{/isActive}}&quot;&gt;
                {{#isComplete}}&lt;span class=&quot;trs-icons-alert-ok page-meter__icon&quot; role=&quot;presentation&quot;&gt;&lt;/span&gt;&lt;span class=&quot;sr-only&quot;&gt;Step {{index}} of {{total}} complete&lt;/span&gt;{{/isComplete}}
                {{#isActive}}&lt;span class=&quot;sr-only&quot;&gt;Step {{index}} of {{total}}, current step&lt;/span&gt;&lt;span aria-hidden=&quot;true&quot;&gt;{{index}}&lt;/span&gt;{{/isActive}}
                {{^isComplete}}{{^isActive}}{{index}}{{/isActive}}{{/isComplete}}
            &lt;/li&gt;
        {{/ page-meter-items }}
        &lt;/ol&gt;
    &lt;/div&gt;
&lt;/div&gt;