&lt;div class=&quot;alert alert-success&quot;&gt;
    &lt;div class=&quot;alert-icon&quot;&gt;&lt;span class=&quot;glyphicon glyphicon-ok-sign glyph-white alert-icon-size&quot; role=&quot;presentation&quot;&gt;&lt;/span&gt;&lt;/div&gt;
    &lt;div class=&quot;alert-message&quot;&gt;&lt;strong&gt;Success&lt;/strong&gt;
        &lt;br&gt;Success Your inquiry was received and forwarded to the appropriate support group. Please check your email periodically for a response.&lt;/div&gt;
&lt;/div&gt;
