&lt;div class=&quot;row row-margin-fix trs-activity-select js-eq-ht-container&quot;&gt;
    &lt;div class=&quot;block block-well col-sm-7 col-lg-7 block-left border-right-collapse js-eq-ht-div&quot;&gt;
        &lt;div class=&quot;well-title&quot;&gt;Select a Date&lt;/div&gt;
        &lt;div class=&quot;well-body&quot;&gt;
            &lt;div class=&quot;row no-border&quot;&gt;
                &lt;div class=&quot;col-xs-12&quot;&gt;
                    &lt;div class=&quot;row&quot;&gt;
                        &lt;div class=&quot;col-xs-12 col-sm-3 padding-top-sm padding-bottom-sm&quot;&gt;View By&lt;/div&gt;
                        &lt;div class=&quot;col-xs-12 col-sm-9 select-date form-inline&quot;&gt;
                            &lt;select id=&quot;rangeSelect&quot;&gt;
                                &lt;option value=&quot;Yearly&quot;&gt;Year To Date&lt;/option&gt;
                                &lt;option value=&quot;Monthly&quot;&gt;Month To Date&lt;/option&gt;
                                &lt;option value=&quot;Quarterly&quot; selected=&quot;&quot;&gt;Quarter To Date&lt;/option&gt;
                                &lt;option value=&quot;specific&quot;&gt;Specific Date&lt;/option&gt;
                            &lt;/select&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                &lt;!--end col--&gt;
            &lt;/div&gt;
            &lt;!-- end row--&gt;

            &lt;br&gt;

            &lt;div class=&quot;row no-border dateRange&quot; id=&quot;dateRangeReadOnly&quot;&gt;
                &lt;div class=&quot;col-xs-12&quot;&gt;
                    &lt;p class=&quot;text-center&quot; id=&quot;dateRangeText&quot;&gt;&lt;/p&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;!-- end row dateReangeReadOnly--&gt;

            &lt;div class=&quot;dateRange padding-bottom&quot; id=&quot;dateRangeField&quot;&gt;
                &lt;div class=&quot;row no-border no-vertical-padding&quot;&gt;
                    &lt;div class=&quot;col-xs-12 col-sm-6&quot;&gt;
                        &lt;div class=&quot;row no-border&quot;&gt;
                            &lt;div class=&quot;col-xs-12&quot;&gt;
                                &lt;label class=&quot;control-label FromDatepicker&quot; for=&quot;startDateDP&quot;&gt;From&lt;/label&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;row no-border&quot;&gt;
                            &lt;div class=&quot;col-xs-12&quot;&gt;
                                {{&gt; atoms-input-datepicker(id: 'startDateDP', input_attr: '', value: '2016-05-18', min: '1970-01-01', max: '2099-01-01') }}
                                &lt;!-- start date --&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;!--end from col--&gt;

                    &lt;div class=&quot;col-xs-12 col-sm-6&quot;&gt;
                        &lt;div class=&quot;row no-border&quot;&gt;
                            &lt;div class=&quot;col-xs-12&quot;&gt;
                                &lt;label class=&quot;control-label ToDatepicker&quot; for=&quot;endDateDP&quot;&gt;
                                    &lt;span&gt;To&lt;/span&gt;
                                &lt;/label&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;row no-border&quot;&gt;
                            &lt;div class=&quot;col-xs-12&quot;&gt;
                                {{&gt; atoms-input-datepicker(id: 'endDateDP', input_attr: '', value: '2016-05-18', min: '1970-01-01', max: '2099-01-01') }}
                                &lt;!-- end date --&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;!--end to col--&gt;
                &lt;/div&gt;
                &lt;!-- end from to row --&gt;
            &lt;/div&gt;
            &lt;!-- end dateRangeFields --&gt;

            &lt;div class=&quot;text-center padding-top-lg&quot;&gt;
                &lt;div class=&quot;text-center padding&quot;&gt;
                    &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;Update&lt;/button&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;!-- end well body --&gt;
    &lt;/div&gt;
    &lt;!-- end left block --&gt;

    &lt;div class=&quot;block block-well col-sm-5 col-lg-5 block-right col-height trs-activity-select_right js-eq-ht-div&quot;&gt;
        &lt;div class=&quot;well-title&quot;&gt;Summary&lt;/div&gt;
        &lt;div class=&quot;well-body&quot;&gt;
            {{# tables}}
                {{# isActivityCurrentBalance }}
                    {{&gt; atoms-table}}
                {{/ isActivityCurrentBalance }}
            {{/ tables}}
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;p class=&quot;trs-table-footnote padding-bottom&quot;&gt;
    *Your Personal Rate of Return (PRR) represents the specific performance of the investment choices you have selected. The PRR calculates the percentage change of your account balance by weighting all activity included in the time period measured. It includes your investment earnings during the period and its net of plan fees and credits. Returns are annualized when performance of one year or greater is shown.
&lt;/p&gt;

{{# Activity By contribution }}
    {{# isSelectActivityContribution}}
        &lt;h2 class=&quot;padding-bottom-md padding-top-sm&quot;&gt;
            {{{ tbl_title }}}&lt;span class=&quot;sr-only&quot;&gt;ACTIVITY BY CONTRIBUTION TYPE&lt;/span&gt;
        &lt;/h2&gt;

        {{&gt; atoms-table-style2 }}
    {{/isSelectActivityContribution}}
{{/ Activity By contribution }}

{{# Activity By Funds }}
    {{# isSelectActivityFunds}}
        &lt;h2 class=&quot;padding-top mobile-center&quot;&gt;
            {{{ tbl_title }}}&lt;span class=&quot;sr-only&quot;&gt;ACTIVITY BY FUNDS&lt;/span&gt;
        &lt;/h2&gt;

        &lt;p class=&quot;mobile-center&quot;&gt;
            &lt;small&gt;Select the Fund Name to view specific fund information in PDF format. &lt;a href=&quot;#&quot;&gt;Help with PDFs&lt;/a&gt;&lt;/small&gt;
        &lt;/p&gt;

        {{&gt; atoms-table-style2 }}
    {{/isSelectActivityFunds}}
{{/ Activity By Funds }}

&lt;script&gt;
$(function() {
    'use strict';

    $('#dateRangeField').hide();

    $(&quot;#rangeSelect&quot;)
        .on(&quot;change&quot;, function() {
            $(this).find(&quot;option:selected&quot;).each(function() {
                if ($(this).attr(&quot;value&quot;) == &quot;Monthly&quot;) {
                    MonthToDate();
                    $('#dateRangeField').hide();
                } else if ($(this).attr(&quot;value&quot;) == &quot;Yearly&quot;) {
                    YearToDate();
                    $('#dateRangeField').hide();
                } else if ($(this).attr(&quot;value&quot;) == &quot;Quarterly&quot;) {
                    QuarterToDate();
                    $('#dateRangeField').hide();
                } else if ($(this).attr(&quot;value&quot;) == &quot;specific&quot;) {
                    $(&quot;#dateRangeReadOnly p&quot;).hide();
                    $('#dateRangeField').show();
                } else {
                    // ?? guess a switch() would be better
                }
            });
        })
        .change();
});

// all of this global stuff here makes me feel uneasy
var today = new Date();
var thisYear = today.getFullYear();
var thisMonth = today.getMonth() + 1;
var quarter = Math.floor((today.getMonth() + 3) / 3);
var lastMonth;

if (thisMonth == 1) {
    lastMonth = 12;
    thisYear = thisYear - 1;
} else {
    lastMonth = thisMonth - 1;
}

today = today.getDate();

//Month To Date conversion
var MonthToDate = function() {
    'use strict';
    var start = thisMonth + &quot;/1/&quot; + thisYear;
    var end = thisMonth + &quot;/&quot; + today + &quot;/&quot; + thisYear;
    $(&quot;#dateRangeReadOnly p&quot;).replaceWith(&quot;&lt;p class='text-center' id='dateRangeText'&gt;&quot; + start + &quot;-&quot; + end + &quot;&lt;/p&gt;&quot;);
};

//Year To Date Conversion
var YearToDate = function() {
    'use strict';
    var start = &quot;1/1/&quot; + thisYear;
    var end = thisMonth + &quot;/&quot; + today + &quot;/&quot; + thisYear;
    $(&quot;#dateRangeReadOnly p&quot;).replaceWith(&quot;&lt;p class='text-center' id='dateRangeText'&gt;&quot; + start + &quot;-&quot; + end + &quot;&lt;/p&gt;&quot;);
};

//Quarter to date conversion
var QuarterToDate = function() {
    'use strict';
    var nextq; // unused?
    if (quarter == 4) {
        var start = thisMonth + &quot;/&quot; + today + &quot;/&quot; + thisYear;
        var previousMonth = thisMonth - 3;
        var end = previousMonth + &quot;/&quot; + today + &quot;/&quot; + thisYear;
        $(&quot;#dateRangeReadOnly p&quot;).replaceWith(&quot;&lt;p class='text-center' id='dateRangeText'&gt;&quot; + end + &quot;-&quot; + start + &quot;&lt;/p&gt;&quot;);
    } else {
        // ??
    }
};
&lt;/script&gt;
