
&lt;div class=&quot;row padding-bottom&quot;&gt;
    &lt;div class=&quot;col-xs-12&quot;&gt;
        &lt;h2 class=&quot;padding-bottom section-title&quot;&gt;&lt;em&gt;Your Retirement Outlook&lt;/em&gt;&lt;sup&gt;&amp;reg;&lt;/sup&gt;&lt;/h2&gt;

        &lt;div class=&quot;panel panel-default modeling-area forecast display-spinner&quot;&gt;
            &lt;div class=&quot;panel-body&quot;&gt;
                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-xs-12 col-sm-8&quot;&gt;
                        &lt;p&gt;You are likely to reach &lt;strong id=&quot;forecast-percentage&quot; class=&quot;forecast-percentage&quot;&gt;some&lt;/strong&gt; of your goal based on your saving and investing strategies.&lt;/p&gt;

                        &lt;div class=&quot;row margin-top&quot;&gt;
                            &lt;div class=&quot;col-xs-12 col-sm-5&quot;&gt;
                                &lt;div id=&quot;income-chart&quot; class=&quot;income-chart&quot;&gt;
                                    &lt;div class=&quot;graph&quot;&gt;
                                        &lt;span class=&quot;graph-color4 gap&quot;&gt;&lt;/span&gt;
                                        &lt;span class=&quot;graph-color5 goal&quot;&gt;&lt;/span&gt;
                                        &lt;span class=&quot;graph-color2 estimate&quot;&gt;&lt;/span&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;range&quot;&gt;
                                        &lt;span class=&quot;left&quot;&gt;$0k&lt;/span&gt;
                                        &lt;span class=&quot;right goal&quot;&gt;$80k&lt;/span&gt;
                                        &lt;span class=&quot;estimate&quot;&gt;$50k&lt;/span&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;

                            &lt;div class=&quot;col-xs-12 col-sm-7&quot;&gt;
                                &lt;div class=&quot;view-by&quot; id=&quot;view-by&quot;&gt;
                                    &lt;span&gt;&lt;strong&gt;View By&lt;/strong&gt;&lt;/span&gt;

                                    &lt;div class=&quot;btn-group btn-toggle&quot; data-toggle=&quot;buttons&quot;&gt;
                                        &lt;label class=&quot;btn active&quot;&gt;
                                            &lt;input type=&quot;radio&quot; name=&quot;options&quot; id=&quot;&quot; value=&quot;annual&quot; autocomplete=&quot;off&quot;&gt;Annual
                                        &lt;/label&gt;
                                        &lt;label class=&quot;btn&quot;&gt;
                                            &lt;input type=&quot;radio&quot; name=&quot;options&quot; id=&quot;&quot; value=&quot;monthly&quot; autocomplete=&quot;off&quot; checked&gt;Monthly
                                        &lt;/label&gt;
                                    &lt;/div&gt;

                                    &lt;table id=&quot;income-table-monthly&quot; class=&quot;income-table hidden&quot;&gt;
                                        &lt;tbody&gt;
                                            &lt;tr&gt;
                                                &lt;td&gt;&lt;span class=&quot;box-sm graph-color2&quot;&gt;&lt;/span&gt;Estimated Income&lt;/td&gt;
                                                &lt;td class=&quot;text-right estimate&quot;&gt;$50,000&lt;/td&gt;
                                            &lt;/tr&gt;
                                            &lt;tr&gt;
                                                &lt;td&gt;&lt;span class=&quot;box-sm graph-color5&quot;&gt;&lt;/span&gt;Income Goal&lt;/td&gt;
                                                &lt;td class=&quot;text-right goal&quot;&gt;$80,000&lt;/td&gt;
                                            &lt;/tr&gt;
                                            &lt;tr&gt;
                                                &lt;td&gt;&lt;span class=&quot;box-sm graph-color4&quot;&gt;&lt;/span&gt;Income Gap&lt;/td&gt;
                                                &lt;td class=&quot;text-right gap&quot;&gt;$30,000&lt;/td&gt;
                                            &lt;/tr&gt;
                                        &lt;/tbody&gt;
                                    &lt;/table&gt;

                                    &lt;table id=&quot;income-table-annual&quot; class=&quot;income-table&quot;&gt;
                                        &lt;tbody&gt;
                                            &lt;tr&gt;
                                                &lt;td&gt;&lt;span class=&quot;box-sm graph-color2&quot;&gt;&lt;/span&gt;Estimated Income&lt;/td&gt;
                                                &lt;td class=&quot;text-right estimate&quot;&gt;$50,000&lt;/td&gt;
                                            &lt;/tr&gt;
                                            &lt;tr&gt;
                                                &lt;td&gt;&lt;span class=&quot;box-sm graph-color5&quot;&gt;&lt;/span&gt;Income Goal&lt;/td&gt;
                                                &lt;td class=&quot;text-right goal&quot;&gt;$80,000&lt;/td&gt;
                                            &lt;/tr&gt;
                                            &lt;tr&gt;
                                                &lt;td&gt;&lt;span class=&quot;box-sm graph-color4&quot;&gt;&lt;/span&gt;Income Gap&lt;/td&gt;
                                                &lt;td class=&quot;text-right gap&quot;&gt;$30,000&lt;/td&gt;
                                            &lt;/tr&gt;
                                        &lt;/tbody&gt;
                                    &lt;/table&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;

                    &lt;div class=&quot;col-xs-12 col-sm-4&quot;&gt;
                        &lt;div class=&quot;panel panel-default no-vertical-margin&quot;&gt;
                            &lt;div class=&quot;panel-body panel-do-it align-center&quot; id=&quot;forecast-outlook&quot;&gt;
                                &lt;span class=&quot;forecast-text&quot;&gt;&lt;/span&gt;
                                &lt;img class=&quot;img-responsive center-block forecast-image&quot; src=&quot;../../images/spacer.gif&quot;&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
