{{# tooltip }}
&lt;a class=&quot;tooltip-link&quot; data-toggle=&quot;tooltip&quot; {{# position}}data-placement=&quot;{{ . }}&quot;{{/ position}} data-title=&quot;{{bubble_text}}&quot; href=&quot;javascript:void(0);&quot;&gt;{{text}}&lt;/a&gt;
{{/ tooltip }}

&lt;script type=&quot;text/javascript&quot;&gt;
// This is being called on globalFooter.js
// $(function () {
//     $('[data-toggle=&quot;tooltip&quot;]').tooltip({
//         container: 'body' //anchors the tooltip position in case links show on two lines
//     });
// });
&lt;/script&gt;
