&lt;a type=&quot;button&quot; class=&quot;{{ button_style }}&quot; {{# button_action}} data-{{ button_action }}=&quot;{{ button_target }}&quot;{{/button_action}} href=&quot;javascript:void(0);&quot;&gt;{{ button_text }}&lt;/a&gt;