Dismissible
&lt;div class=&quot;alert alert-error alert-dismissible&quot;&gt;
    &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;alert&quot;&gt;&amp;times;&lt;/button&gt;
    &lt;div class=&quot;alert-icon&quot;&gt;&lt;span class=&quot;glyphicon glyphicon-remove-sign glyph-white alert-icon-size&quot; role=&quot;presentation&quot;&gt;&lt;/span&gt;&lt;/div&gt;
    &lt;div class=&quot;alert-message&quot;&gt;&lt;strong&gt;Error&lt;/strong&gt;
        &lt;br&gt;Error message goes here. Let's put an example of an extra long message her to be sure it fits.
        &lt;ul&gt;
            &lt;li&gt;Label 1&lt;/li&gt;
            &lt;li&gt;Label 2&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;/div&gt;

Non-Dismissible
&lt;div class=&quot;alert alert-error&quot;&gt;
    &lt;div class=&quot;alert-icon&quot;&gt;&lt;span class=&quot;glyphicon glyphicon-remove-sign glyph-white alert-icon-size&quot; role=&quot;presentation&quot;&gt;&lt;/span&gt;&lt;/div&gt;
    &lt;div class=&quot;alert-message&quot;&gt;&lt;strong&gt;Error&lt;/strong&gt;
        &lt;br&gt;Error message goes here. Let's put an example of an extra long message here to be sure it fits.
        &lt;ul&gt;
            &lt;li&gt;Label 1&lt;/li&gt;
            &lt;li&gt;Label 2&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;/div&gt;

Non-Dismissible
&lt;div class=&quot;alert alert-success&quot;&gt;
    &lt;div class=&quot;alert-icon&quot;&gt;&lt;span class=&quot;glyphicon glyphicon-ok-sign glyph-white alert-icon-size&quot; role=&quot;presentation&quot;&gt;&lt;/span&gt;&lt;/div&gt;
    &lt;div class=&quot;alert-message&quot;&gt;&lt;strong&gt;Success&lt;/strong&gt;
        &lt;br&gt;Success message goes here. Let's put an example of an extra long message here to be sure it fits.
        &lt;ul&gt;
            &lt;li&gt;Label 1&lt;/li&gt;
            &lt;li&gt;Label 2&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;/div&gt;

Non-Dismissible
&lt;div class=&quot;alert alert-caution&quot;&gt;
    &lt;div class=&quot;alert-icon&quot;&gt;&lt;span class=&quot;glyphicon glyphicon-exclamation-sign glyph-white alert-icon-size&quot; role=&quot;presentation&quot;&gt;&lt;/span&gt;&lt;/div&gt;
    &lt;div class=&quot;alert-message&quot;&gt;&lt;strong&gt;Caution&lt;/strong&gt;
        &lt;br&gt;Caution message goes here. Let's put an example of an extra long message here to be sure it fits.
        &lt;ul&gt;
            &lt;li&gt;Label 1&lt;/li&gt;
            &lt;li&gt;Label 2&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;/div&gt;

Non-Dismissible
&lt;div class=&quot;alert alert-info&quot;&gt;
    &lt;div class=&quot;alert-icon&quot;&gt;&lt;span class=&quot;glyphicon glyphicon glyphicon-info-sign glyph-white alert-icon-size&quot; role=&quot;presentation&quot;&gt;&lt;/span&gt;&lt;/div&gt;
    &lt;div class=&quot;alert-message&quot;&gt;&lt;strong&gt;Information&lt;/strong&gt;
        &lt;br&gt;Information message goes here. Let's put an example of an extra long message here to be sure it fits.
        &lt;ul&gt;
            &lt;li&gt;Label 1&lt;/li&gt;
            &lt;li&gt;Label 2&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;/div&gt;

Non-Dismissible
&lt;div class=&quot;alert alert-warning&quot;&gt;
    &lt;div class=&quot;alert-icon&quot;&gt;&lt;span class=&quot;glyphicon glyphicon glyphicon-info-sign glyph-white alert-icon-size&quot; role=&quot;presentation&quot;&gt;&lt;/span&gt;&lt;/div&gt;
    &lt;div class=&quot;alert-message&quot;&gt;&lt;strong&gt;Warning&lt;/strong&gt;
        &lt;br&gt;Warning message goes here. Let's put an example of an extra long message here to be sure it fits.
        &lt;ul&gt;
            &lt;li&gt;Label 1&lt;/li&gt;
            &lt;li&gt;Label 2&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;/div&gt;
