&lt;form&gt;
    &lt;label for=&quot;select-id1&quot;&gt;Bootstrap, regular:&lt;/label&gt;
    &lt;select id=&quot;select-id1&quot; class=&quot;form-control&quot;&gt;
        &lt;option&gt;One&lt;/option&gt;
        &lt;option&gt;Two&lt;/option&gt;
        &lt;option&gt;Three&lt;/option&gt;
        &lt;option&gt;This select looks too big for me&lt;/option&gt;
    &lt;/select&gt;
&lt;/form&gt;

&lt;form class=&quot;form-inline&quot;&gt;
    &lt;label for=&quot;select-id2&quot;&gt;Bootstrap, regular, inline:&lt;/label&gt;
    &lt;select id=&quot;select-id2&quot; class=&quot;form-control&quot;&gt;
        &lt;option&gt;One&lt;/option&gt;
        &lt;option&gt;Two&lt;/option&gt;
        &lt;option&gt;Three&lt;/option&gt;
        &lt;option&gt;This select looks too big for me&lt;/option&gt;
    &lt;/select&gt;
&lt;/form&gt;

&lt;form&gt;
    &lt;label for=&quot;select-idd2&quot;&gt;Bootstrap, regular, disabled:&lt;/label&gt;
    &lt;select id=&quot;select-idd2&quot; class=&quot;form-control&quot; disabled&gt;
        &lt;option&gt;One&lt;/option&gt;
        &lt;option&gt;Two&lt;/option&gt;
        &lt;option&gt;Three&lt;/option&gt;
        &lt;option&gt;This select looks too big for me&lt;/option&gt;
    &lt;/select&gt;
&lt;/form&gt;

&lt;form class=&quot;form-inline&quot;&gt;
    &lt;label for=&quot;select-iddd2&quot;&gt;Bootstrap, inline, disabled:&lt;/label&gt;
    &lt;select id=&quot;select-iddd2&quot; class=&quot;form-control&quot; disabled&gt;
        &lt;option&gt;One&lt;/option&gt;
        &lt;option&gt;Two&lt;/option&gt;
        &lt;option&gt;Three&lt;/option&gt;
        &lt;option&gt;This select looks too big for me&lt;/option&gt;
    &lt;/select&gt;
&lt;/form&gt;

&lt;form&gt;
    &lt;label for=&quot;select-id731&quot;&gt;Bootstrap, regular, with feedback:&lt;/label&gt;
    &lt;div class=&quot;form-group has-feedback error&quot;&gt;
        {{!&lt;span role=&quot;presentation&quot; class=&quot;glyphicon glyphicon-remove form-control-feedback&quot;&gt;&lt;/span&gt;}}
        &lt;select id=&quot;select-id731&quot; class=&quot;form-control&quot;&gt;
            &lt;option&gt;One&lt;/option&gt;
            &lt;option&gt;Two&lt;/option&gt;
            &lt;option&gt;Three&lt;/option&gt;
            &lt;option&gt;This select looks too big for me, hmmk?&lt;/option&gt;
        &lt;/select&gt;
    &lt;/div&gt;
&lt;/form&gt;

&lt;form&gt;
    &lt;label for=&quot;select-id3&quot;&gt;Customized, regular:&lt;/label&gt;
    &lt;div class=&quot;form-group&quot;&gt;
        &lt;select id=&quot;select-id3&quot; class=&quot;form-control&quot;&gt;
            &lt;option&gt;One&lt;/option&gt;
            &lt;option&gt;Two&lt;/option&gt;
            &lt;option&gt;Three&lt;/option&gt;
            &lt;option&gt;This select looks too big for me&lt;/option&gt;
        &lt;/select&gt;
    &lt;/div&gt;
&lt;/form&gt;

&lt;form class=&quot;form-inline&quot;&gt;
    &lt;label for=&quot;select-id4&quot;&gt;Customized, inline, specific width&lt;/label&gt;
    &lt;div class=&quot;form-group&quot;&gt;
        {{!&lt;span role=&quot;presentation&quot; class=&quot;glyphicon glyphicon-remove form-control-feedback&quot;&gt;&lt;/span&gt;}}
        &lt;select id=&quot;select-id4&quot; class=&quot;form-control&quot; style=&quot;width: 300px&quot;&gt;
            &lt;option&gt;One&lt;/option&gt;
            &lt;option&gt;Two&lt;/option&gt;
            &lt;option&gt;Three&lt;/option&gt;
            &lt;option&gt;This select looks too big for me, hmmk? Alright, let's test a big option here&lt;/option&gt;
        &lt;/select&gt;
    &lt;/div&gt;
&lt;/form&gt;

&lt;form class=&quot;form-inline&quot;&gt;
    &lt;label for=&quot;select-id5&quot;&gt;Customized, regular, inline, no width:&lt;/label&gt;
    &lt;div class=&quot;form-group&quot;&gt;
        &lt;select id=&quot;select-id5&quot; class=&quot;form-control&quot;&gt;
            &lt;option&gt;One&lt;/option&gt;
            &lt;option&gt;Two&lt;/option&gt;
            &lt;option&gt;Three&lt;/option&gt;
            &lt;option&gt;This select looks too big for me, hmmk?&lt;/option&gt;
        &lt;/select&gt;
    &lt;/div&gt;
&lt;/form&gt;

&lt;form class=&quot;form-inline&quot;&gt;
    &lt;label for=&quot;select-id6&quot;&gt;Customized, regular, inline, 100% width:&lt;/label&gt;
    &lt;div class=&quot;form-group&quot;&gt;
        &lt;select id=&quot;select-id6&quot; class=&quot;form-control&quot; style=&quot;width: 100%&quot;&gt;
            &lt;option&gt;One&lt;/option&gt;
            &lt;option&gt;Two&lt;/option&gt;
            &lt;option&gt;Three&lt;/option&gt;
            &lt;option&gt;This select looks too big for me, hmmk?&lt;/option&gt;
        &lt;/select&gt;
    &lt;/div&gt;
&lt;/form&gt;

&lt;form&gt;
    &lt;label for=&quot;select-id71&quot;&gt;Customized, regular, with feedback icon right (default):&lt;/label&gt;
    &lt;div class=&quot;form-group has-feedback error&quot;&gt;
        {{!&lt;span role=&quot;presentation&quot; class=&quot;glyphicon glyphicon-remove form-control-feedback&quot;&gt;&lt;/span&gt;}}
        &lt;select id=&quot;select-id71&quot; class=&quot;form-control&quot;&gt;
            &lt;option&gt;One&lt;/option&gt;
            &lt;option&gt;Two&lt;/option&gt;
            &lt;option&gt;Three&lt;/option&gt;
            &lt;option&gt;This select looks too big for me, hmmk?&lt;/option&gt;
        &lt;/select&gt;
    &lt;/div&gt;
&lt;/form&gt;

&lt;form&gt;
    &lt;label for=&quot;select-id7&quot;&gt;Customized, regular, with feedback icon left:&lt;/label&gt;
    &lt;div class=&quot;form-group has-feedback error&quot;&gt;
        {{!&lt;span role=&quot;presentation&quot; class=&quot;glyphicon glyphicon-remove icon-left form-control-feedback&quot;&gt;&lt;/span&gt;}}
        &lt;select id=&quot;select-id7&quot; class=&quot;form-control&quot;&gt;
            &lt;option&gt;One&lt;/option&gt;
            &lt;option&gt;Two&lt;/option&gt;
            &lt;option&gt;Three&lt;/option&gt;
            &lt;option&gt;This select looks too big for me, hmmk?&lt;/option&gt;
        &lt;/select&gt;
    &lt;/div&gt;
&lt;/form&gt;

&lt;form class=&quot;form-inline&quot;&gt;
    &lt;label for=&quot;select-id8&quot;&gt;Customized, inline, with feedback icon right (default):&lt;/label&gt;
    &lt;div class=&quot;form-group has-feedback success&quot;&gt;
        {{!&lt;span role=&quot;presentation&quot; class=&quot;glyphicon glyphicon-ok form-control-feedback&quot;&gt;&lt;/span&gt;}}
        &lt;select id=&quot;select-id8&quot; class=&quot;form-control&quot;&gt;
            &lt;option&gt;One&lt;/option&gt;
            &lt;option&gt;Two&lt;/option&gt;
            &lt;option&gt;Three&lt;/option&gt;
            &lt;option&gt;This select looks too big for me&lt;/option&gt;
        &lt;/select&gt;
    &lt;/div&gt;
&lt;/form&gt;

&lt;form class=&quot;form-inline&quot;&gt;
    &lt;label for=&quot;select-id9&quot;&gt;Customized, inline, with feedback icon left:&lt;/label&gt;
    &lt;div class=&quot;form-group has-feedback success&quot;&gt;
        {{!&lt;span role=&quot;presentation&quot; class=&quot;glyphicon glyphicon-ok icon-left form-control-feedback&quot;&gt;&lt;/span&gt;}}
        &lt;select id=&quot;select-id9&quot; class=&quot;form-control&quot;&gt;
            &lt;option&gt;One&lt;/option&gt;
            &lt;option&gt;Two&lt;/option&gt;
            &lt;option&gt;Three&lt;/option&gt;
            &lt;option&gt;This select looks too big for me&lt;/option&gt;
        &lt;/select&gt;
    &lt;/div&gt;
&lt;/form&gt;

&lt;form&gt;
    &lt;label for=&quot;select-idd7&quot;&gt;Customized, regular, disabled:&lt;/label&gt;
    &lt;div class=&quot;form-group&quot;&gt;
        &lt;select id=&quot;select-idd7&quot; class=&quot;form-control&quot; disabled&gt;
            &lt;option&gt;One&lt;/option&gt;
            &lt;option&gt;Two&lt;/option&gt;
            &lt;option&gt;Three&lt;/option&gt;
            &lt;option&gt;This select looks too big for me, hmmk?&lt;/option&gt;
        &lt;/select&gt;
    &lt;/div&gt;
&lt;/form&gt;

&lt;form class=&quot;form-inline&quot;&gt;
    &lt;label for=&quot;select-iddd7&quot;&gt;Customized, inline, disabled:&lt;/label&gt;
    &lt;div class=&quot;form-group&quot;&gt;
        &lt;select id=&quot;select-iddd7&quot; class=&quot;form-control&quot; disabled&gt;
            &lt;option&gt;One&lt;/option&gt;
            &lt;option&gt;Two&lt;/option&gt;
            &lt;option&gt;Three&lt;/option&gt;
            &lt;option&gt;This select looks too big for me, hmmk?&lt;/option&gt;
        &lt;/select&gt;
    &lt;/div&gt;
&lt;/form&gt;

&lt;form class=&quot;form-inline&quot;&gt;
    &lt;label for=&quot;select-iddd7d&quot;&gt;Customized, inline, multiple:&lt;/label&gt;
    &lt;div class=&quot;form-group multiple&quot;&gt;
        {{!&lt;span role=&quot;presentation&quot; class=&quot;glyphicon glyphicon-remove form-control-feedback&quot;&gt;&lt;/span&gt;}}
        &lt;select id=&quot;select-iddd7d&quot; class=&quot;form-control&quot; multiple&gt;
            &lt;option&gt;One&lt;/option&gt;
            &lt;option&gt;Two&lt;/option&gt;
            &lt;option&gt;Three&lt;/option&gt;
            &lt;option&gt;This select looks too big for me, hmmk?&lt;/option&gt;
            &lt;option&gt;This select looks too big for me, hmmk?&lt;/option&gt;
            &lt;option&gt;This select looks too big for me, hmmk?&lt;/option&gt;
            &lt;option&gt;This select looks too big for me, hmmk?&lt;/option&gt;
            &lt;option&gt;This select looks too big for me, hmmk?&lt;/option&gt;
            &lt;option&gt;This select looks too big for me, hmmk? How about this one then?&lt;/option&gt;
        &lt;/select&gt;
    &lt;/div&gt;
&lt;/form&gt;

&lt;form class=&quot;form-inline&quot;&gt;
    &lt;label for=&quot;select-iddd7dd&quot;&gt;Customized, inline, multiple, with feedback:&lt;/label&gt;
    &lt;div class=&quot;form-group multiple has-feedback success&quot;&gt;
        {{!&lt;span role=&quot;presentation&quot; class=&quot;glyphicon glyphicon-ok form-control-feedback&quot;&gt;&lt;/span&gt;}}
        &lt;select id=&quot;select-iddd7dd&quot; class=&quot;form-control&quot; multiple&gt;
            &lt;option&gt;One&lt;/option&gt;
            &lt;option&gt;Two&lt;/option&gt;
            &lt;option&gt;Three&lt;/option&gt;
            &lt;option&gt;This select looks too big for me, hmmk?&lt;/option&gt;
            &lt;option&gt;This select looks too big for me, hmmk?&lt;/option&gt;
            &lt;option&gt;This select looks too big for me, hmmk?&lt;/option&gt;
            &lt;option&gt;This select looks too big for me, hmmk?&lt;/option&gt;
            &lt;option&gt;This select looks too big for me, hmmk?&lt;/option&gt;
            &lt;option&gt;This select looks too big for me, hmmk? How about this one then?&lt;/option&gt;
        &lt;/select&gt;
    &lt;/div&gt;
&lt;/form&gt;

&lt;form class=&quot;form-inline&quot;&gt;
    &lt;label for=&quot;select-idddd7dd&quot;&gt;Customized, inline, multiple, disabled:&lt;/label&gt;
    &lt;div class=&quot;form-group multiple&quot;&gt;
        &lt;select id=&quot;select-idddd7dd&quot; class=&quot;form-control&quot; multiple disabled&gt;
            &lt;option&gt;One&lt;/option&gt;
            &lt;option&gt;Two&lt;/option&gt;
            &lt;option&gt;Three&lt;/option&gt;
            &lt;option&gt;This select looks too big for me, hmmk?&lt;/option&gt;
            &lt;option&gt;This select looks too big for me, hmmk?&lt;/option&gt;
            &lt;option&gt;This select looks too big for me, hmmk?&lt;/option&gt;
            &lt;option&gt;This select looks too big for me, hmmk?&lt;/option&gt;
            &lt;option&gt;This select looks too big for me, hmmk?&lt;/option&gt;
            &lt;option&gt;This select looks too big for me, hmmk? How about this one then?&lt;/option&gt;
        &lt;/select&gt;
    &lt;/div&gt;
&lt;/form&gt;
