&lt;div class=&quot;pla-footer-links-container&quot;&gt;
&lt;{{h_num}} class=&quot;{{ h_class }}&quot;&gt;{{h_display}}&lt;/{{h_num}}&gt;
	&lt;ul class=&quot;trs-footer__nav-list&quot;&gt;
		{{#links}}
      	     &lt;li class=&quot;{{link-class}}&quot;&gt;&lt;a href=&quot;{{link-url}}&quot;&gt;{{link-text}}&lt;/a&gt;&lt;span class=&quot;pla-footer-seperator&quot;&gt;{{link-seperator}}&lt;/span&gt;&lt;/li&gt;
    	{{/links}}		
	&lt;/ul&gt;
&lt;/div&gt;