<div class="container clearfix">
    <header class="row"> 
    	<a class="sr-only" href="#main_content">Skip to main content</a><!-- keep this for ada compliance -->
        {{> organisms-header }}
    </header>
	
    <div class="row">
        <nav class="col-xs-12 col-sm-5 col-sm-float col-md-3 no-padding" id="primary_nav_container">
        	{{# util_menu}}
            	{{> molecules-utility-menu }}
            {{/ util_menu}}
        </nav>
    	<div class="col-xs-12 col-md-9">
        	<div class="row">
            	<section class="col-xs-12" id="main_content"> <!-- this id provides necessary ada skip navigation for better user experience and ada compliance -->
            		{{# loginStatus}}
                        {{> atoms-status-note}}
                    {{/ loginStatus}}
                    
                    {{# emergency }}
                        {{> molecules-alert:error }}
                    {{/ emergency }}
            
                   <h1>Select an Account Below to Continue</h1>
                    {{# tables}}
                        {{> organisms-select-account }}
                    {{/ tables}}
            	</section>
                <footer id="trs_footer">
                    <div class="page-footer col-xs-12">
                       {{# footer}}
                            {{> organisms-trs-footer }}
                        {{/ footer}}
                    </div>
                </footer>
            </div>
        </div> <!-- end right column -->   
    </div> <!-- end body row -->
    
</div> <!-- end page container -->