&lt;!-- date range component, redesigned for DDOL --&gt;
&lt;div class=&quot;input-group input-daterange&quot;&gt;
    &lt;div class=&quot;row align-center&quot;&gt;
        &lt;div class=&quot;col-xs-12 col-sm-6&quot;&gt;
            {{&gt; atoms-input-datepicker(id: 'fromRange', input_attr: '', value: '2016-05-18', min: '2016-05-05', max: '2016-05-28') }}
        &lt;/div&gt;
        &lt;div class=&quot;col-xs-12 hidden-sm hidden-md hidden-lg padding-top-lg&quot;&gt;&lt;!-- spacer, do not remove --&gt;&lt;/div&gt;
        &lt;div class=&quot;col-xs-12 col-sm-6&quot;&gt;
            {{&gt; atoms-input-datepicker(id: 'toRange', input_attr: 'data-return-format=YYYY-MM-DD', value: '2017-05-18') }}
            {{!&gt; atoms-input-datepicker(id: 'toRange', input_attr: 'readonly disabled', value: '2016-05-18') }}
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
