&lt;div class=&quot;row margin-bottom-lg&quot;&gt;
    &lt;div class=&quot;col-xs-12&quot;&gt;

        &lt;!-- toggle buttons for smart phones --&gt;
        &lt;div class=&quot;margin-top margin-bottom-lg text-center visible-xs&quot;&gt;
            &lt;div class=&quot;btn-group btn-toggle js-toggle-column-features&quot; data-toggle=&quot;buttons&quot;&gt;
                &lt;label for=&quot;prof-management&quot; class=&quot;btn large js-btn-radio active&quot;&gt;
                    &lt;input type=&quot;radio&quot; id=&quot;prof-management&quot; /&gt;
                    Professional Management
                &lt;/label&gt;
                &lt;label for=&quot;online-advice&quot; class=&quot;btn large js-btn-radio&quot;&gt;
                    &lt;input type=&quot;radio&quot; id=&quot;online-advice&quot; checked /&gt;
                    Online Advice
                &lt;/label&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;!-- toggle buttons for smart phones --&gt;

        &lt;!-- table code --&gt;
        &lt;div class=&quot;tbl__mobile-margin&quot;&gt;
            &lt;table class=&quot;table table__fe js-table-features js-tbl-nofontresize&quot; aria-describedby=&quot;retirement-planning-features&quot;&gt;
                &lt;caption id=&quot;retirement-planning-features&quot; class=&quot;sr-only&quot;&gt;
                    Retirement Planning Tools available to you
                &lt;/caption&gt;

                &lt;!-- mandatory header --&gt;
                &lt;thead&gt;
                    &lt;tr&gt;
                        &lt;th&gt;
                            &lt;h2&gt;We offer two ways &lt;br /&gt;of providing help:&lt;/h2&gt;
                        &lt;/th&gt;
                        &lt;th class=&quot;dark-blue&quot; id=&quot;profl_mgt&quot; aria-labelledby=&quot;prof-management&quot;&gt;
                            &lt;h3&gt;Professional Management&lt;/h3&gt;
                            &lt;span class=&quot;text-small&quot;&gt;We do the work&lt;/span&gt;
                        &lt;/th&gt;
                        &lt;th role=&quot;presentation&quot;&gt;&lt;!-- --&gt;&lt;/th&gt;
                        &lt;th class=&quot;light-blue&quot; id=&quot;online_advice&quot; aria-labelledby=&quot;online-advice&quot;&gt;
                            &lt;h3&gt;Online Advice&lt;/h3&gt;
                            &lt;span class=&quot;text-small&quot;&gt;You do the work&lt;/span&gt;
                        &lt;/th&gt;
                    &lt;/tr&gt;
                &lt;/thead&gt;
                &lt;!-- /mandatory header --&gt;

                &lt;!-- table body --&gt;
                &lt;tbody&gt;
                    &lt;tr&gt;
                        &lt;th id=&quot;forecasts&quot;&gt;
                            &lt;strong&gt;Personalized Retirement Forecasts&lt;/strong&gt;&lt;br&gt;
                            &lt;span class=&quot;text-small&quot;&gt;See what you might have at retirement in easy-to-understand terms.&lt;/span&gt;
                        &lt;/th&gt;
                        &lt;td headers=&quot;online_advice forecasts&quot;&gt;
                            &lt;span class=&quot;glyphicon glyphicon-success-sign glyph-white fe-icon-size&quot; aria-label=&quot;Yes&quot;&gt;&lt;/span&gt;
                        &lt;/td&gt;
                        &lt;td role=&quot;presentation&quot;&gt;&lt;!-- --&gt;&lt;/td&gt;
                        &lt;td headers=&quot;profl_mgt forecasts&quot;&gt;
                            &lt;span class=&quot;glyphicon glyphicon-success-sign glyph-white fe-icon-size&quot; aria-label=&quot;Yes&quot;&gt;&lt;/span&gt;
                        &lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                        &lt;th id=&quot;ss_planning&quot;&gt;
                            &lt;strong&gt;Social Security Planning&lt;/strong&gt;&lt;br&gt;
                            &lt;span class=&quot;text-small&quot;&gt;Learn how to get the most out of your social security income.&lt;/span&gt;
                        &lt;/th&gt;
                        &lt;td headers=&quot;online_advice ss_planning&quot;&gt;
                            &lt;span class=&quot;glyphicon glyphicon-success-sign glyph-white fe-icon-size&quot; aria-label=&quot;Yes&quot;&gt;&lt;/span&gt;
                        &lt;/td&gt;
                        &lt;td role=&quot;presentation&quot;&gt;&lt;!-- --&gt;&lt;/td&gt;
                        &lt;td headers=&quot;profl_mgt ss_planning&quot;&gt;
                            &lt;span class=&quot;glyphicon glyphicon-success-sign glyph-white fe-icon-size&quot; aria-label=&quot;Yes&quot;&gt;&lt;/span&gt;
                        &lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                        &lt;th id=&quot;representatives&quot;&gt;
                            &lt;strong&gt;Investment Advisor Representatives&lt;/strong&gt;&lt;br&gt;
                            &lt;span class=&quot;text-small&quot;&gt;Receive access and support from our team of Advisor Representatives.&lt;/span&gt;
                        &lt;/th&gt;
                        &lt;td headers=&quot;online_advice representatives&quot;&gt;
                            &lt;span class=&quot;glyphicon glyphicon-success-sign glyph-white fe-icon-size&quot; aria-label=&quot;Yes&quot;&gt;&lt;/span&gt;
                        &lt;/td&gt;
                        &lt;td role=&quot;presentation&quot;&gt;&lt;!-- --&gt;&lt;/td&gt;
                        &lt;td headers=&quot;profl_mgt representatives&quot;&gt;
                            &lt;span class=&quot;glyphicon glyphicon-success-sign glyph-white fe-icon-size&quot; aria-label=&quot;Yes&quot;&gt;&lt;/span&gt;
                        &lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                        &lt;th id=&quot;folios&quot;&gt;
                            &lt;strong&gt;Portfolio Management&lt;/strong&gt;&lt;br&gt;
                            &lt;span class=&quot;text-small&quot;&gt;We'll do the legwork to help you get and stay on track.&lt;/span&gt;
                        &lt;/th&gt;
                        &lt;td headers=&quot;profl_mgt folios&quot;&gt;
                            &lt;span class=&quot;glyphicon glyphicon-success-sign glyph-white fe-icon-size&quot; aria-label=&quot;Yes&quot;&gt;&lt;/span&gt;
                        &lt;/td&gt;
                        &lt;td role=&quot;presentation&quot;&gt;&lt;!-- --&gt;&lt;/td&gt;
                        &lt;td headers=&quot;online_advice folios&quot;&gt;&lt;span class=&quot;sr-only&quot;&gt;No&lt;/span&gt;&lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                        &lt;th id=&quot;rebalancing&quot;&gt;
                            &lt;strong&gt;Automated Rebalancing&lt;/strong&gt;&lt;br&gt;
                            &lt;span class=&quot;text-small&quot;&gt;Let us rebalance your portfolio to help you prepare for retirement.&lt;/span&gt;
                        &lt;/th&gt;
                        &lt;td headers=&quot;profl_mgt rebalancing&quot;&gt;
                            &lt;span class=&quot;glyphicon glyphicon-success-sign glyph-white fe-icon-size&quot; aria-label=&quot;Yes&quot;&gt;&lt;/span&gt;
                        &lt;/td&gt;
                        &lt;td role=&quot;presentation&quot;&gt;&lt;!-- --&gt;&lt;/td&gt;
                        &lt;td headers=&quot;online_advice rebalancing&quot;&gt;&lt;span class=&quot;sr-only&quot;&gt;No&lt;/span&gt;&lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                        &lt;th id=&quot;monitoring&quot;&gt;
                            &lt;strong&gt;Regular Account Monitoring&lt;/strong&gt;&lt;br&gt;
                            &lt;span class=&quot;text-small&quot;&gt;We monitor your accounts so it remains appropriately allocated and diversified over time.&lt;/span&gt;
                        &lt;/th&gt;
                        &lt;td headers=&quot;profl_mgt monitoring&quot;&gt;
                            &lt;span class=&quot;glyphicon glyphicon-success-sign glyph-white fe-icon-size&quot; aria-label=&quot;Yes&quot;&gt;&lt;/span&gt;
                        &lt;/td&gt;
                        &lt;td role=&quot;presentation&quot;&gt;&lt;!-- --&gt;&lt;/td&gt;
                        &lt;td headers=&quot;online_advice monitoring&quot;&gt;&lt;span class=&quot;sr-only&quot;&gt;No&lt;/span&gt;&lt;/td&gt;
                    &lt;/tr&gt;
                &lt;/tbody&gt;
                &lt;!-- /table body --&gt;

                &lt;!-- mandatory table footer --&gt;
                &lt;tfoot&gt;
                    &lt;tr&gt;
                        &lt;td&gt;&lt;/td&gt;
                        &lt;td headers=&quot;profl_mgt&quot;&gt;
                            &lt;div class=&quot;margin-bottom-md&quot;&gt;
                                &lt;a href=&quot;#&quot; role=&quot;button&quot; class=&quot;btn btn-primary js-btn-size&quot;&gt;Sign up&lt;/a&gt;
                            &lt;/div&gt;
                            &lt;a href=&quot;#&quot; class=&quot;text-small&quot;&gt;Learn more&lt;/a&gt;
                        &lt;/td&gt;
                        &lt;td role=&quot;presentation&quot;&gt;&lt;!-- --&gt;&lt;/td&gt;
                        &lt;td headers=&quot;online_advice&quot;&gt;
                            &lt;div class=&quot;margin-bottom-md&quot;&gt;
                                &lt;a href=&quot;#&quot; role=&quot;button&quot; class=&quot;btn btn-primary js-btn-size&quot;&gt;Get Started&lt;/a&gt;
                            &lt;/div&gt;
                            &lt;a href=&quot;#&quot; class=&quot;text-small&quot;&gt;Learn more&lt;/a&gt;
                        &lt;/td&gt;
                    &lt;/tr&gt;
                &lt;/tfoot&gt;
                &lt;!-- /mandatory table footer --&gt;
            &lt;/table&gt;
        &lt;/div&gt;
        &lt;!-- /table code --&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;script&gt;
    $(function() {
        $('.js-toggle-column-features .btn').on('click', function() {
            var $table = $('.js-table-features');
            var feature = $(this).find('input').attr('id');

            $table
                .removeClass('table__fe--online-advice table__fe--prof-management')
                .addClass('table__fe--' + feature);
        });

        function setButtonSize() {
            var $btn = $('.js-btn-size');
            $btn.css('width', '');
            var maxWidth = Math.max.apply(null, $btn.map(function () {
                return $(this).actual('outerWidth', { display: 'inline-block' });
            }).get());
            $btn.css('width', maxWidth);
        }

        $(window).on('resize.btn-size', setButtonSize);
        setButtonSize();
    });
&lt;/script&gt;
