<!-- Begin Footer -->
<footer class="[ footer ]  [ col-xs-12  col-md-10  col-md-offset-2 ]" role="contentinfo">
    <p class="copyright">&copy; 2013 Company Name. All rights reserved.</p>
</footer>
<!-- End Footer -->
