&lt;div style=&quot;font-size: 2em;&quot;&gt;
    &lt;span role=&quot;presentation&quot; class=&quot;trs-icons-in&quot;&gt;&lt;/span&gt;
    &lt;span role=&quot;presentation&quot; class=&quot;trs-icons-fb&quot;&gt;&lt;/span&gt;
    &lt;span role=&quot;presentation&quot; class=&quot;trs-icons-tw&quot;&gt;&lt;/span&gt;
    &lt;span role=&quot;presentation&quot; class=&quot;trs-icons-g&quot;&gt;&lt;/span&gt;
    &lt;span role=&quot;presentation&quot; class=&quot;trs-icons-pin&quot;&gt;&lt;/span&gt;
    &lt;span role=&quot;presentation&quot; class=&quot;trs-icons-tb&quot;&gt;&lt;/span&gt;
    &lt;span role=&quot;presentation&quot; class=&quot;trs-icons-insta&quot;&gt;&lt;/span&gt;
    &lt;span role=&quot;presentation&quot; class=&quot;trs-icons-tumblr&quot;&gt;&lt;/span&gt;
    &lt;br&gt;
    &lt;span role=&quot;presentation&quot; class=&quot;trs-icons-in-c&quot;&gt;&lt;/span&gt;
    &lt;span role=&quot;presentation&quot; class=&quot;trs-icons-fb-c&quot;&gt;&lt;/span&gt;
    &lt;span role=&quot;presentation&quot; class=&quot;trs-icons-tw-c&quot;&gt;&lt;/span&gt;
    &lt;span role=&quot;presentation&quot; class=&quot;trs-icons-g-c&quot;&gt;&lt;/span&gt;
    &lt;span role=&quot;presentation&quot; class=&quot;trs-icons-pin-c&quot;&gt;&lt;/span&gt;
    &lt;span role=&quot;presentation&quot; class=&quot;trs-icons-tb-c&quot;&gt;&lt;/span&gt;
    &lt;span role=&quot;presentation&quot; class=&quot;trs-icons-insta-c&quot;&gt;&lt;/span&gt;
    &lt;span role=&quot;presentation&quot; class=&quot;trs-icons-tumblr-c&quot;&gt;&lt;/span&gt;
&lt;/div&gt;
&lt;div style=&quot;font-size: 2em;&quot;&gt;
	&lt;!-- comments for codeside reading only &lt;h2&gt;Icons used as links&lt;/h2&gt;
    &lt;p&gt;Be sure to include an ADA helper span for links that have no text, and add role=&quot;presentation&quot; for the icon itself.&lt;/p&gt; --&gt;
    &lt;a href=&quot;javascript:void(0);&quot; class=&quot;trs-icon-circle&quot;&gt;&lt;span class=&quot;trs-icons-li&quot; role=&quot;presentation&quot;&gt;&lt;/span&gt;&lt;span class=&quot;sr-only&quot;&gt;LinkedIn&lt;/span&gt;&lt;/a&gt;
    &lt;a href=&quot;javascript:void(0);&quot; class=&quot;trs-icon-circle&quot;&gt;&lt;span class=&quot;trs-icons-fb&quot; role=&quot;presentation&quot;&gt;&lt;/span&gt;&lt;span class=&quot;sr-only&quot;&gt;Facebook&lt;/span&gt;&lt;/a&gt;
    &lt;a href=&quot;javascript:void(0);&quot; class=&quot;trs-icon-circle&quot;&gt;&lt;span class=&quot;trs-icons-tw&quot; role=&quot;presentation&quot;&gt;&lt;/span&gt;&lt;span class=&quot;sr-only&quot;&gt;Twitter&lt;/span&gt;&lt;/a&gt;
    &lt;a href=&quot;javascript:void(0);&quot; class=&quot;trs-icon-circle&quot;&gt;&lt;span class=&quot;trs-icons-g&quot; role=&quot;presentation&quot;&gt;&lt;/span&gt;&lt;span class=&quot;sr-only&quot;&gt;Google+&lt;/span&gt;&lt;/a&gt;
    &lt;a href=&quot;javascript:void(0);&quot; class=&quot;trs-icon-circle&quot;&gt;&lt;span class=&quot;trs-icons-pin&quot; role=&quot;presentation&quot;&gt;&lt;/span&gt;&lt;span class=&quot;sr-only&quot;&gt;Pinterest&lt;/span&gt;&lt;/a&gt;
    &lt;a href=&quot;javascript:void(0);&quot; class=&quot;trs-icon-circle&quot;&gt;&lt;span class=&quot;trs-icons-insta&quot; role=&quot;presentation&quot;&gt;&lt;/span&gt;&lt;span class=&quot;sr-only&quot;&gt;Instagram&lt;/span&gt;&lt;/a&gt;
    &lt;a href=&quot;javascript:void(0);&quot; class=&quot;trs-icon-circle&quot;&gt;&lt;span class=&quot;trs-icons-tumblr&quot; role=&quot;presentation&quot;&gt;&lt;/span&gt;&lt;span class=&quot;sr-only&quot;&gt;Tumblr&lt;/span&gt;&lt;/a&gt;
    &lt;a href=&quot;javascript:void(0);&quot; class=&quot;trs-icon-circle&quot;&gt;&lt;span class=&quot;trs-icons-youtube&quot; role=&quot;presentation&quot;&gt;&lt;/span&gt;&lt;span class=&quot;sr-only&quot;&gt;Youtube&lt;/span&gt;&lt;/a&gt;
&lt;/div&gt;
