&lt;div class=&quot;pla-footer-country-form&quot;&gt;
    &lt;form class=&quot;form-horizontal pla-footer-country-form-vert-center&quot; role=&quot;form&quot;&gt;
        &lt;div class=&quot;form-group&quot;&gt;
            &lt;label class=&quot;trs-footer__subhead control-label col-xs-3 aligner&quot; for=&quot;country&quot;&gt;Country&lt;/label&gt;
            &lt;div class=&quot;col-xs-9 custom-select&quot;&gt;
                &lt;!--select class=&quot;form-control hasCustomSelect&quot; id=&quot;country&quot; style=&quot;-webkit-appearance: menulist-button; width: 165px; position: absolute; opacity: 0; height: 40px; font-size: 14px;&quot;--&gt;
                &lt;select class=&quot;form-control&quot; id=&quot;country&quot;&gt;
                    &lt;option value=&quot;#&quot;&gt;United States&lt;/option&gt;
                    &lt;option value=&quot;#&quot;&gt;Canada&lt;/option&gt;
                &lt;/select&gt;
                &lt;!--span class=&quot;customSelect form-control hasCustomSelect&quot; style=&quot;display: inline-block;&quot;&gt;
                    &lt;span class=&quot;customSelectInner&quot; style=&quot;width: 153px; display: inline-block;&quot;&gt;United States&lt;/span&gt;
                &lt;/span--&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/form&gt;
&lt;/div&gt;
{{!
&lt;div class= &quot;pla-footer-country-form&quot;&gt;
    &lt;form class=&quot;form-horizontal pla-footer-country-form-vert-center&quot; role=&quot;form&quot;&gt;
        &lt;div class=&quot;form-group&quot;&gt;
            &lt;label class=&quot;trs-footer__subhead control-label col-xs-3 custom-select&quot; for=&quot;country2&quot;&gt;
                &lt;span&gt;Country&lt;/span&gt;
                &lt;select class=&quot;form-control&quot; id=&quot;country2&quot;&gt;
                    &lt;option&gt;United States&lt;/option&gt;
                    &lt;option&gt;Canada&lt;/option&gt;
                &lt;/select&gt;
            &lt;/label&gt;
        &lt;/div&gt;
    &lt;/form&gt;
&lt;/div&gt;
}}
