{{# showModalLink }}
&lt;p&gt;&lt;a href=&quot;#&quot; data-toggle=&quot;modal&quot; data-target=&quot;#modal-40&quot;&gt;&lt;em&gt;OnTrack&lt;/em&gt;&lt;sup&gt;&amp;reg;&lt;/sup&gt; Modal - SLIDE #40: Add a New Account (choose accounts we found 3rd party)&lt;/a&gt;&lt;/p&gt;
{{/ showModalLink }}


&lt;!-- slide 40 --&gt;
&lt;div class=&quot;modal fade&quot; id=&quot;modal-40&quot; tabindex=&quot;-1&quot; role=&quot;dialog&quot; aria-labelledby=&quot;section-title-40&quot;&gt;
    &lt;div class=&quot;modal-dialog&quot; role=&quot;document&quot;&gt;{{! optional modal-lg or modal-sm can be added here }}
        &lt;div class=&quot;modal-content&quot;&gt;
            &lt;div class=&quot;modal-header&quot;&gt;
                &lt;a href=&quot;#&quot; type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;modal&quot; aria-label=&quot;Close&quot;&gt;
                    &lt;span aria-hidden=&quot;true&quot; class=&quot;trs-icons-close-btn&quot;&gt;&lt;/span&gt;
                &lt;/a&gt;
                &lt;h3 id=&quot;section-title-40&quot; class=&quot;modal-title section-title&quot;&gt;Add a new account&lt;/h3&gt;
            &lt;/div&gt;

            &lt;div class=&quot;modal-body add-existing-accounts&quot;&gt;
                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-xs-12&quot;&gt;
                        &lt;p class=&quot;text-center-xs&quot;&gt;We found the following accounts for you, &lt;strong&gt;choose the ones you want to add.&lt;/strong&gt;&lt;/p&gt;

                        &lt;p class=&quot;institution-name&quot;&gt;
                            &lt;span&gt;Merrill Lynch Benefits Online&lt;/span&gt;&lt;br class=&quot;visible-xs&quot;&gt;
                            &lt;a href=&quot;https://www.benefits.ml.com/&quot; rel=&quot;external&quot;&gt;View website&lt;/a&gt;
                        &lt;/p&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

                &lt;form role=&quot;form&quot; class=&quot;form-inline ontrack__form&quot;&gt;
                    &lt;fieldset&gt;
                        &lt;div class=&quot;row row__mobile row__mobile--bg&quot;&gt;
                            &lt;div class=&quot;col-xs-12&quot;&gt;
                                &lt;!-- loop this --&gt;
                                &lt;input type=&quot;checkbox&quot; id=&quot;checkX1&quot; value=&quot;&quot; name=&quot;checkX&quot;&gt;
                                &lt;label for=&quot;checkX1&quot;&gt;
                                    &lt;span role=&quot;radio&quot;&gt;&lt;/span&gt;
                                    &lt;div class=&quot;account-name&quot;&gt;
                                        Regular Savings&lt;br class=&quot;visible-xs&quot;&gt;
                                        &lt;span class=&quot;hidden-xs&quot;&gt; - &lt;/span&gt;(Balance $1,234.56)&lt;br class=&quot;visible-xs&quot;&gt;
                                        &lt;span class=&quot;hidden-xs&quot;&gt; - &lt;/span&gt;Account number: xxxx6912
                                    &lt;/div&gt;
                                &lt;/label&gt;
                                &lt;!-- /loop this --&gt;

                                &lt;input type=&quot;checkbox&quot; id=&quot;checkX2&quot; value=&quot;&quot; name=&quot;checkX&quot;&gt;
                                &lt;label for=&quot;checkX2&quot;&gt;
                                    &lt;span role=&quot;radio&quot;&gt;&lt;/span&gt;
                                    &lt;div class=&quot;account-name&quot;&gt;
                                        Bank of America Core Checking&lt;br class=&quot;visible-xs&quot;&gt;
                                        &lt;span class=&quot;hidden-xs&quot;&gt; - &lt;/span&gt;(Balance $12.34)&lt;br class=&quot;visible-xs&quot;&gt;
                                        &lt;span class=&quot;hidden-xs&quot;&gt; - &lt;/span&gt;Account number: xxxx8791
                                    &lt;/div&gt;
                                &lt;/label&gt;

                                &lt;input type=&quot;checkbox&quot; id=&quot;checkX3&quot; value=&quot;&quot; name=&quot;checkX&quot;&gt;
                                &lt;label for=&quot;checkX3&quot;&gt;
                                    &lt;span role=&quot;radio&quot;&gt;&lt;/span&gt;
                                    &lt;div class=&quot;account-name&quot;&gt;
                                        Bank of America Core Checking With A Really Big Name So We Can See What Happens When Line Breaks&lt;br class=&quot;visible-xs&quot;&gt;
                                        &lt;span class=&quot;hidden-xs&quot;&gt; - &lt;/span&gt;(Balance $123.45)&lt;br class=&quot;visible-xs&quot;&gt;
                                        &lt;span class=&quot;hidden-xs&quot;&gt; - &lt;/span&gt;Account number: xxxx5725
                                    &lt;/div&gt;
                                &lt;/label&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/fieldset&gt;
                &lt;/form&gt;
            &lt;/div&gt;

            &lt;div class=&quot;modal-footer&quot;&gt;
                &lt;a class=&quot;btn btn-secondary left&quot; data-dismiss=&quot;modal&quot; href=&quot;#&quot;&gt;Cancel&lt;/a&gt;
                &lt;a class=&quot;btn btn-primary&quot; href=&quot;javascript:void(0);&quot; onclick=&quot;return false;&quot;&gt;Continue&lt;/a&gt;
            &lt;/div&gt;

        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;!-- /slide 40 --&gt;

