&lt;div class=&quot;ad__bg--ontrack margin-top margin-bottom&quot;&gt;
    &lt;div class=&quot;row  clearfix rel&quot;&gt;
        &lt;div class=&quot;col-xs-12 col-sm-5&quot;&gt;
            &lt;h3 class=&quot;ad__title--ontrack&quot;&gt;{{{ad_title}}}&lt;/h3&gt;
            {{# left_side }}
            &lt;p class=&quot;{{# left_side.0 }}no-vertical-margin {{/ left_side.0 }} ad__content--ontrack&quot;&gt;{{{ad_content}}}&lt;/p&gt;
            {{/ left_side }}
        &lt;/div&gt;
        &lt;div class=&quot;col-xs-12 col-sm-7&quot;&gt;
        	{{# right_side }}
            &lt;p class=&quot;{{#isBold}}bold {{/isBold}} ad__content--ontrack&quot;&gt;{{# content_intro }}&lt;strong&gt;{{.}}:&lt;/strong&gt; {{/ content_intro }}{{{ad_content}}}&lt;/p&gt;
            {{/ right_side }}
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;&lt;!-- /.ad__bg--ontrack --&gt;
