&lt;!--START CAPTCHA--&gt;
&lt;div class=&quot;captcha-container&quot;&gt;
  &lt;div class=&quot;wm-script pt-script pm-video l-eng&quot; id=&quot;nucaptcha-player&quot;&gt;
    &lt;div id=&quot;media-container&quot;&gt; &lt;img onclick=&quot;javascript:ncOnVideoClick();&quot; alt=&quot;NuCaptcha Media&quot; src=&quot;https://api-us-east-1.nd.nudatasecurity.com/1.0/w/43876/w-259375/captcha?type=VIDEO&amp;amp;lang=eng&amp;amp;index=0&amp;amp;token=1.w-259375.1.2.QYnqiLliZ9Jer86xP_Ajkg,,.b7mKcbcoZybmKCzFFbK6NpPonFGJMNEqrJkSBWSwRBBR0U0gOc4Kgby1UUnrJdzh-R_bndy49l3ro-MpKvCDS0v0JxO9HBzNWZ-XPezSC5iOzPZwCE-3nybS8CUdkZhfM56qV-doZwqmWin2kKW0N9rXmQaWsENDJVgku0G0Pyd9g8ZvbC_GtXksnHkzd1strJOWNGaIy_VhM-I81HhNDl_pjTcsLB_Bq9ICUzARVI_ii5XqFir0iA_V5JclMcQrKeZs15KkL4Hj9mAI8fMgHSXGbnoys1lUAMUyTLp37oPfeGUv4TLhpk08J6W1y647hWAhCMGVTy356WVQp7nVN9r7pq2tUvwNUiEvNa-PStQ37gtjpFyNFAZW1xjq5MaG&amp;amp;r=rs-ZPRaYK6Lo4mTZ6C0Uq0aGwxx&amp;amp;ptype=SCRIPT&quot; title=&quot;Type the Moving Letters&quot; onerror=&quot;ncOnGifError()&quot; onload=&quot;ncOnGifLoaded()&quot; class=&quot;&quot; id=&quot;nucaptcha-media&quot;&gt; &lt;/div&gt;
    &lt;div class=&quot;btnContainer&quot;&gt;&lt;a href=&quot;javascript:ncCmdNewChallenge('');&quot; class=&quot;cmd&quot; title=&quot;Get A New Challenge&quot; id=&quot;new-challenge&quot;&gt;Get A New Challenge&lt;/a&gt; &lt;a href=&quot;javascript:ncCmdToggleAudio('');&quot; class=&quot;cmd toggle&quot; title=&quot;Toggle Audio/Video Challenge&quot; id=&quot;player-mode&quot;&gt;Toggle Audio/Video Challenge&lt;/a&gt; &lt;a href=&quot;#&quot; class=&quot;help&quot; data-toggle=&quot;tooltip&quot; title=&quot;The NuCaptcha code is used to help protect against unauthorized use of the Transamerica website. Please follow the above instructions to obtain a NuCaptcha code and continue the verification process.&quot; id=&quot;help&quot;&gt;Help&lt;/a&gt;&lt;/div&gt;
    &lt;div id=&quot;my-nucaptcha-answer-wrapper&quot;&gt;
      &lt;label for=&quot;nucaptcha-answer&quot; id=&quot;directions-verbose-label&quot;&gt;Type the Moving Letters&lt;/label&gt;
      &lt;input type=&quot;text&quot; autocomplete=&quot;off&quot; maxlength=&quot;64&quot; onclick=&quot;ncCmdClickAnswerBox('');&quot; onchange=&quot;ncCmdLeaveAnswerBox('');&quot; onfocus=&quot;ncCmdEnterAnswerBox('');&quot; onblur=&quot;ncCmdLeaveAnswerBox('');&quot; title=&quot;&quot; name=&quot;nucaptcha-answer&quot; id=&quot;nucaptcha-answer&quot;&gt;
    &lt;/div&gt;
    &lt;div id=&quot;private-container&quot;&gt;
      &lt;input type=&quot;hidden&quot; value=&quot;&quot; title=&quot;null&quot; name=&quot;nucaptcha-answer-enter&quot; id=&quot;nucaptcha-answer-enter&quot;&gt;
      &lt;input type=&quot;hidden&quot; onsubmit=&quot;ncCmdLeaveAnswerBox('');&quot; value=&quot;&quot; title=&quot;null&quot; name=&quot;nucaptcha-answer-exit&quot; id=&quot;nucaptcha-answer-exit&quot;&gt;
      &lt;input type=&quot;hidden&quot; value=&quot;1.w-259375.1.2.QYnqiLliZ9Jer86xP_Ajkg,,.b7mKcbcoZybmKCzFFbK6NpPonFGJMNEqrJkSBWSwRBBR0U0gOc4Kgby1UUnrJdzh-R_bndy49l3ro-MpKvCDS0v0JxO9HBzNWZ-XPezSC5iOzPZwCE-3nybS8CUdkZhfM56qV-doZwqmWin2kKW0N9rXmQaWsENDJVgku0G0Pyd9g8ZvbC_GtXksnHkzd1strJOWNGaIy_VhM-I81HhNDl_pjTcsLB_Bq9ICUzARVI_ii5XqFir0iA_V5JclMcQrKeZs15KkL4Hj9mAI8fMgHSXGbnoys1lUAMUyTLp37oPfeGUv4TLhpk08J6W1y647hWAhCMGVTy356WVQp7nVN9r7pq2tUvwNUiEvNa-PStQ37gtjpFyNFAZW1xjq5MaG|0|VIDEO&quot; title=&quot;null&quot; name=&quot;nucaptcha-token&quot; id=&quot;nucaptcha-token&quot;&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;!--END CAPTCHA--&gt;

&lt;hr class=&quot;margin-top-lg margin-bottom-lg&quot;&gt;

&lt;!--START AUDIO CAPTCHA--&gt;
&lt;div class=&quot;captcha-container&quot;&gt;
  &lt;div class=&quot;wm-script pt-script pm-audio l-eng&quot; id=&quot;nucaptcha-player&quot;&gt;
    &lt;div id=&quot;media-container&quot;&gt;
    	&lt;a href=&quot;javascript:ncCmdRefresh('');&quot; class=&quot;cmd-audio&quot; id=&quot;audio-listen-again&quot;&gt; Replay Audio Sample &lt;/a&gt;
        &lt;a href=&quot;javascript:ncCmdNewChallenge('');&quot; class=&quot;cmd-audio&quot; id=&quot;audio-new-challenge&quot;&gt; Get A New Challenge &lt;/a&gt;
        &lt;a href=&quot;#&quot; class=&quot;help&quot; data-toggle=&quot;tooltip&quot; title=&quot;The NuCaptcha code is used to help protect against unauthorized use of the Transamerica website. Please follow the above instructions to obtain a NuCaptcha code and continue the verification process.&quot; id=&quot;help&quot;&gt;Help&lt;/a&gt;
      &lt;audio autoplay id=&quot;nucaptcha-media&quot;&gt;
        &lt;source type=&quot;audio/mpeg&quot; src=&quot;https://api-us-east-1.nd.nudatasecurity.com/1.0/w/43876/w-259375/captcha?type=AUDIO&amp;amp;lang=eng&amp;amp;index=0&amp;amp;token=1.w-259375.1.2.QYnqiLliZ9Jer86xP_Ajkg,,.b7mKcbcoZybmKCzFFbK6NpPonFGJMNEqrJkSBWSwRBBR0U0gOc4Kgby1UUnrJdzh-R_bndy49l3ro-MpKvCDS0v0JxO9HBzNWZ-XPezSC5iOzPZwCE-3nybS8CUdkZhfM56qV-doZwqmWin2kKW0N9rXmQaWsENDJVgku0G0Pyd9g8ZvbC_GtXksnHkzd1strJOWNGaIy_VhM-I81HhNDl_pjTcsLB_Bq9ICUzARVI_ii5XqFir0iA_V5JclMcQrKeZs15KkL4Hj9mAI8fMgHSXGbnoys1lUAMUyTLp37oPfeGUv4TLhpk08J6W1y647hWAhCMGVTy356WVQp7nVN9r7pq2tUvwNUiEvNa-PStQ37gtjpFyNFAZW1xjq5MaG&amp;amp;r=rs-ZPRaYK6Lo4mTZ6C0Uq0aGwxx&amp;amp;ptype=SCRIPT&quot;&gt;
        &lt;/source&gt;
      &lt;/audio&gt;
    &lt;/div&gt;
    &lt;div id=&quot;my-nucaptcha-answer-wrapper&quot;&gt;
      &lt;label for=&quot;nucaptcha-answer&quot; id=&quot;directions-verbose-label&quot;&gt;Type the Letters You Hear in the Audio&lt;/label&gt;
      &lt;input type=&quot;text&quot; autocomplete=&quot;off&quot; maxlength=&quot;64&quot; onclick=&quot;ncCmdClickAnswerBox('');&quot; onchange=&quot;ncCmdLeaveAnswerBox('');&quot; onfocus=&quot;ncCmdEnterAnswerBox('');&quot; onblur=&quot;ncCmdLeaveAnswerBox('');&quot; title=&quot;&quot; name=&quot;nucaptcha-answer&quot; id=&quot;nucaptcha-answer&quot;&gt;
    &lt;/div&gt;
    &lt;div id=&quot;private-container&quot;&gt;
      &lt;input type=&quot;hidden&quot; value=&quot;&quot; title=&quot;null&quot; name=&quot;nucaptcha-answer-enter&quot; id=&quot;nucaptcha-answer-enter&quot;&gt;
      &lt;input type=&quot;hidden&quot; onsubmit=&quot;ncCmdLeaveAnswerBox('');&quot; value=&quot;&quot; title=&quot;null&quot; name=&quot;nucaptcha-answer-exit&quot; id=&quot;nucaptcha-answer-exit&quot;&gt;
      &lt;input type=&quot;hidden&quot; value=&quot;1.w-259375.1.2.QYnqiLliZ9Jer86xP_Ajkg,,.b7mKcbcoZybmKCzFFbK6NpPonFGJMNEqrJkSBWSwRBBR0U0gOc4Kgby1UUnrJdzh-R_bndy49l3ro-MpKvCDS0v0JxO9HBzNWZ-XPezSC5iOzPZwCE-3nybS8CUdkZhfM56qV-doZwqmWin2kKW0N9rXmQaWsENDJVgku0G0Pyd9g8ZvbC_GtXksnHkzd1strJOWNGaIy_VhM-I81HhNDl_pjTcsLB_Bq9ICUzARVI_ii5XqFir0iA_V5JclMcQrKeZs15KkL4Hj9mAI8fMgHSXGbnoys1lUAMUyTLp37oPfeGUv4TLhpk08J6W1y647hWAhCMGVTy356WVQp7nVN9r7pq2tUvwNUiEvNa-PStQ37gtjpFyNFAZW1xjq5MaG|0|AUDIO&quot; title=&quot;null&quot; name=&quot;nucaptcha-token&quot; id=&quot;nucaptcha-token&quot;&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;!--END AUDIO CAPTCHA--&gt; 

&lt;!--JS FOR TOOLTIP--&gt; 
&lt;script&gt;
$(function () {
  $('[data-toggle=&quot;tooltip&quot;]').tooltip()
})
&lt;/script&gt;


&lt;!--CSS FOR CAPTCHA--&gt;
&lt;style&gt;
.captcha-container .pm-audio .nucaptcha-video-controls {
	display:none;
}

.captcha-container #audio-download {
	display:none;	
}
.captcha-container #new-challenge, #audio-listen-again {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url(&quot;https://s3.amazonaws.com/staticd.nucaptcha.com/33376/v6/skins/default/master.png&quot;);
    background-position: 0 -64px;
    background-repeat: no-repeat no-repeat;
    display: inline-block;
    height: 30px;
    overflow: hidden;
    position: relative;
    text-indent: -10000px;
    width: 30px;
    z-index: 3;
}
.captcha-container #new-challenge:hover, #audio-listen-again:hover {
    background-position: -64px -64px;
}
.captcha-container #help {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url(&quot;https://s3.amazonaws.com/staticd.nucaptcha.com/33376/v6/skins/default/master.png&quot;);
    background-position: 0 -128px;
    background-repeat: no-repeat no-repeat;
    display: inline-block;
    height: 30px;
    overflow: hidden;
    position: relative;
    text-indent: -10000px;
    width: 30px;
    z-index: 3;
}
.captcha-container #help:hover, #help:hover {
    background-position: -64px -128px;
}
.captcha-container #player-mode {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url(&quot;https://s3.amazonaws.com/staticd.nucaptcha.com/33376/v6/skins/default/master.png&quot;);
    background-position: 0 -191px;
    background-repeat: no-repeat no-repeat;
    display: inline-block;
    height: 30px;
    overflow: hidden;
    position: relative;
    text-indent: -10000px;
    width: 30px;
    z-index: 3;
}
.captcha-container #player-mode:hover {
    background-position: -64px -191px;
}
.captcha-container #audio-new-challenge {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url(&quot;https://s3.amazonaws.com/staticd.nucaptcha.com/33376/v6/skins/default/master.png&quot;);
    background-position: 0 -256px;
    background-repeat: no-repeat no-repeat;
    display: inline-block;
    height: 30px;
    overflow: hidden;
    position: relative;
    text-indent: -10000px;
    width: 30px;
    z-index: 3;
}
.captcha-container #audio-new-challenge:hover {
    background-position: -64px -256px;
}
.captcha-container #directions-verbose-label {
    padding-top: 5px;
    color: #4a4a4a;
    font-family: &quot;Open Sans&quot;,sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.captcha-container #directions-verbose-label:after {
	content: &quot;*&quot;;
	vertical-align: super;
	color: red;
}

.captcha-container #nucaptcha-answer {
	background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}


&lt;/style&gt;
