&lt;div class=&quot;section-title padding-bottom-md__desktop&quot;&gt;CUSTOMER AND ACCOUNT INFORMATION&lt;/div&gt;
&lt;div class=&quot;sso--box__grey margin-bottom-lg&quot;&gt;
  &lt;p&gt;&lt;strong&gt;Full Name:&lt;/strong&gt;&lt;br&gt;
    Dr. Jason Ronald Smith Sr.&lt;/p&gt;
  &lt;p&gt;&lt;strong&gt;SSN/TIN:&lt;/strong&gt;&lt;br&gt;
    123-12-1234&lt;/p&gt;
  &lt;p&gt;&lt;strong&gt;DOB:&lt;/strong&gt;&lt;br&gt;
    10/14/1948&lt;/p&gt;
&lt;/div&gt;
{{# SSOAccountExceptionTBL1 }}
{{&gt; atoms-table-style2 }}
{{/ SSOAccountExceptionTBL1 }}
&lt;div class=&quot;section-title padding-bottom-md__desktop margin-top-lg&quot;&gt;ACCOUNT EXCEPTION&lt;/div&gt;
{{# SSOAccountExceptionTBL2 }}
{{&gt; atoms-table-style2 }}
{{/ SSOAccountExceptionTBL2 }}
&lt;div class=&quot;section-title padding-bottom-md__desktop margin-top-lg&quot;&gt;TRANSACTION DETAILS&lt;/div&gt;
&lt;form class=&quot;form-horizontal&quot;&gt;
  &lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;col-sm-6&quot;&gt;
      &lt;div class=&quot;form-group&quot;&gt;
        &lt;label for=&quot;inputEmail3&quot; class=&quot;col-sm-2 control-label&quot;&gt;Reason:&lt;/label&gt;
        &lt;div class=&quot;col-sm-10&quot;&gt;
          &lt;div class=&quot;custom-select&quot;&gt; &lt;span class=&quot;custom-select-inner&quot;&gt;&lt;span class=&quot;glyphicon glyphicon-remove form-control-feedback&quot; role=&quot;presentation&quot;&gt;&lt;/span&gt;
            &lt;select id=&quot;&quot; class=&quot;form-control&quot;&gt;
              &lt;option&gt;Select One&lt;/option&gt;
              &lt;option&gt;&lt;/option&gt;
              &lt;option&gt;&lt;/option&gt;
              &lt;option&gt;&lt;/option&gt;
            &lt;/select&gt;
            &lt;/span&gt; &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-sm-6&quot;&gt;
      &lt;div class=&quot;form-group&quot;&gt;
        &lt;label for=&quot;inputEmail3&quot; class=&quot;col-sm-2 control-label&quot;&gt;Role:&lt;/label&gt;
        &lt;div class=&quot;col-sm-10&quot;&gt;
          &lt;div class=&quot;custom-select&quot;&gt; &lt;span class=&quot;custom-select-inner&quot;&gt;&lt;span class=&quot;glyphicon glyphicon-remove form-control-feedback&quot; role=&quot;presentation&quot;&gt;&lt;/span&gt;
            &lt;select id=&quot;&quot; class=&quot;form-control&quot;&gt;
              &lt;option&gt;Select One&lt;/option&gt;
              &lt;option&gt;&lt;/option&gt;
              &lt;option&gt;&lt;/option&gt;
              &lt;option&gt;&lt;/option&gt;
            &lt;/select&gt;
            &lt;/span&gt; &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;row margin-top-lg&quot;&gt;
    &lt;div class=&quot;col-xs-12&quot;&gt;
      &lt;h3 class=&quot;padding-bottom&quot;&gt;Comments&lt;/h3&gt;
      &lt;textarea class=&quot;form-control&quot; rows=&quot;5&quot;&gt;&lt;/textarea&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;row margin-top-lg&quot;&gt;
    &lt;div class=&quot;col-xs-6&quot;&gt;
      &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;ADD EXCEPTION&lt;/button&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-xs-6 text-right&quot;&gt;&lt;a class=&quot;link--style1&quot; href=&quot;#&quot;&gt;&lt;strong&gt;CANCEL&lt;/strong&gt;&lt;/a&gt;&lt;/div&gt;
  &lt;/div&gt;
&lt;/form&gt;
