
&lt;!-- START ONTRACK CONTENT --&gt;
{{!&lt;link rel=&quot;stylesheet&quot; href=&quot;../../css/ontrack.css&quot;&gt;}}
{{&gt; templates-main-layout }}
{{!&lt;script src=&quot;../../js/ontrack.js&quot;&gt;&lt;/script&gt;}}
&lt;!-- END ONTRACK CONTENT --&gt;
