{{# showModalLink }}
&lt;p&gt;&lt;a href=&quot;#&quot; data-toggle=&quot;modal&quot; data-target=&quot;#modal-46&quot;&gt;&lt;em&gt;OnTrack&lt;/em&gt;&lt;sup&gt;&amp;reg;&lt;/sup&gt; Modal - SLIDE #46 - 2015-08-19: Edit Account View Holdings (Yodlee)&lt;/a&gt;&lt;/p&gt;
{{/ showModalLink }}


&lt;!-- slide 46 - 08-19-2015 --&gt;
&lt;div class=&quot;modal fade&quot; id=&quot;modal-46&quot; tabindex=&quot;-1&quot; role=&quot;dialog&quot; aria-labelledby=&quot;section-title-46&quot;&gt;
    &lt;div class=&quot;modal-dialog&quot; role=&quot;document&quot;&gt;
        &lt;div class=&quot;modal-content&quot;&gt;
            &lt;div class=&quot;modal-header&quot;&gt;
                &lt;a href=&quot;#&quot; type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;modal&quot; aria-label=&quot;Close&quot;&gt;
                    &lt;span aria-hidden=&quot;true&quot; class=&quot;trs-icons-close-btn&quot;&gt;&lt;/span&gt;
                &lt;/a&gt;
                &lt;h3 id=&quot;section-title-46&quot; class=&quot;modal-title section-title&quot;&gt;Edit account - View holdings&lt;/h3&gt;
            &lt;/div&gt;

            &lt;div class=&quot;modal-body&quot;&gt;
                &lt;form role=&quot;form&quot; class=&quot;form-inline ontrack__form&quot;&gt;

                    &lt;fieldset class=&quot;padding-bottom&quot;&gt;
                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-sm-3 col-xs-12&quot;&gt;
                                &lt;span&gt;Type:&lt;/span&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;col-sm-9 col-xs-12&quot;&gt;
                                &lt;span&gt;401(k)&lt;/span&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;

                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-sm-3 col-xs-12&quot;&gt;
                                &lt;span&gt;Nickname:&lt;/span&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;col-sm-9 col-xs-12&quot;&gt;
                                &lt;span&gt;Fidelity 401(k)&lt;/span&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/fieldset&gt;

                    &lt;p&gt;&lt;strong&gt;How you are currently invested:&lt;/strong&gt;&lt;/p&gt;

                    {{&gt;atoms-angular-mobile-table-alternate}}
                &lt;/form&gt;
            &lt;/div&gt;

            &lt;div class=&quot;modal-footer align-center&quot;&gt;
                &lt;a class=&quot;btn btn-secondary&quot; data-dismiss=&quot;modal&quot; href=&quot;#&quot;&gt;Back&lt;/a&gt;
            &lt;/div&gt;

        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;!-- /slide 46 - 2015-08-19 --&gt;
