&lt;ul class=&quot;forecast-icons&quot;&gt;
    &lt;li&gt;
        &lt;img src=&quot;../../images/rainy-notext.png&quot; alt=&quot;rainy forecast&quot; /&gt;
        &lt;span&gt;Rainy&lt;/span&gt;
    &lt;/li&gt;&lt;!-- do not remove this
    --&gt;&lt;li&gt;
        &lt;img src=&quot;../../images/cloudy-notext.png&quot; alt=&quot;cloudy forecast&quot; /&gt;
        &lt;span&gt;Cloudy&lt;/span&gt;
    &lt;/li&gt;&lt;!-- do not remove this
    --&gt;&lt;li&gt;
        &lt;img src=&quot;../../images/partly-sunny-notext.png&quot; alt=&quot;partly sunny forecast&quot; /&gt;
        &lt;span&gt;Partly Sunny&lt;/span&gt;
    &lt;/li&gt;&lt;!-- do not remove this
    --&gt;&lt;li&gt;
        &lt;img src=&quot;../../images/sunny-notext.png&quot; alt=&quot;sunny forecast&quot; /&gt;
        &lt;span&gt;Sunny&lt;/span&gt;
    &lt;/li&gt;
&lt;/ul&gt;
