
{{&gt; molecules-wyro-banner }}

&lt;div class=&quot;ontrack&quot;&gt;
    {{&gt; molecules-ontrack-retirement-outlook }}
&lt;/div&gt;

&lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;col-xs-12&quot;&gt;
        &lt;div class=&quot;panel panel-default&quot;&gt;
            &lt;div class=&quot;panel-body&quot;&gt;
                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-xs-7&quot;&gt;
                        &lt;h3&gt;Want to do better?&lt;/strong&gt;&lt;/h3&gt;
                        &lt;div class=&quot;text&quot;&gt;
                            &lt;ul&gt;
                                &lt;li&gt;Complete your retirement profile&lt;/li&gt;
                                &lt;li&gt;Add other retirement assets&lt;/li&gt;
                                &lt;li&gt;Try different savings rates&lt;/li&gt;
                                &lt;li&gt;Consider changing your goals&lt;/li&gt;
                            &lt;/ul&gt;
                        &lt;/div&gt;
                        &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;&lt;em&gt;Brighten Your Outlook&lt;/em&gt;&lt;sup&gt;&amp;reg;&lt;/sup&gt;&lt;/button&gt;
                    &lt;/div&gt;
                    &lt;!-- video will not be ready for first release
                    &lt;div class=&quot;col-xs-5&quot;&gt;
                        &lt;iframe src=&quot;//player.vimeo.com/video/69912914&quot; frameborder=&quot;0&quot; webkitallowfullscreen mozallowfullscreen allowfullscreen&gt;&lt;/iframe&gt;
                    &lt;/div&gt;
                    --&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

{{# simplifyBanner }}
&lt;div class=&quot;margin-top margin-bottom&quot;&gt;
	{{&gt; molecules-ads-banners }}
&lt;/div&gt;
{{/ simplifyBanner }}

{{&gt; molecules-about-probability-illustrations }}
