&lt;a {{# link-id }}id=&quot;{{ link-id }}&quot;{{/ link-id }} class=&quot;{{ link-class }}&quot; {{# link-title }}title=&quot;{{{ link-title }}}&quot;{{/ link-title }} href=&quot;{{{ link-url }}}&quot;&gt;&lt;span&gt;{{{link-text}}}&lt;/span&gt;&lt;/a&gt;
