
&lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;col-sm-12&quot;&gt;
        &lt;div class=&quot;panel panel-default modeling-area choose-new-strategy&quot;&gt;
            &lt;div class=&quot;panel-body&quot;&gt;
                &lt;div class=&quot;row&quot;&gt;
                    &lt;form role=&quot;form&quot;&gt;
                        &lt;div class=&quot;col-xs-12 col-sm-8&quot;&gt;
                            &lt;p&gt;&lt;strong&gt;2. Choose a New Investment Strategy&lt;/strong&gt;&lt;/p&gt;
                            &lt;p&gt;Use your current combined strategy or one based on your retirement age and risk preference.&lt;/p&gt;
                            &lt;fieldset&gt;
                                &lt;div class=&quot;row&quot;&gt;
                                    &lt;div class=&quot;col-xs-12 col-sm-6&quot;&gt;
                                        &lt;div class=&quot;form-group&quot;&gt;
                                            &lt;input type=&quot;radio&quot; value=&quot;current&quot; name=&quot;chkStrat&quot; id=&quot;chkMyCurrentStrat&quot; checked&gt;
                                            &lt;label for=&quot;chkMyCurrentStrat&quot;&gt;&lt;span role=&quot;radio&quot;&gt;&lt;/span&gt;My Current Strategy&lt;/label&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;

                                    &lt;div class=&quot;col-xs-12 col-sm-6&quot;&gt;
                                        &lt;div class=&quot;form-group&quot;&gt;
                                            &lt;input type=&quot;radio&quot; value=&quot;conservative&quot; name=&quot;chkStrat&quot; id=&quot;chkConservativeStrat&quot;&gt;
                                            &lt;label for=&quot;chkConservativeStrat&quot;&gt;&lt;span role=&quot;radio&quot;&gt;&lt;/span&gt;Conservative&lt;/label&gt;

                                            &lt;input type=&quot;radio&quot; value=&quot;moderate&quot; name=&quot;chkStrat&quot; id=&quot;chkModerateStrat&quot;&gt;
                                            &lt;label for=&quot;chkModerateStrat&quot;&gt;&lt;span role=&quot;radio&quot;&gt;&lt;/span&gt;Moderate&lt;/label&gt;

                                            &lt;input type=&quot;radio&quot; value=&quot;aggressive&quot; name=&quot;chkStrat&quot; id=&quot;chkAggressiveStrat&quot;&gt;
                                            &lt;label for=&quot;chkAggressiveStrat&quot;&gt;&lt;span role=&quot;radio&quot;&gt;&lt;/span&gt;Aggressive&lt;/label&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/fieldset&gt;

                            &lt;p class=&quot;no-vertical-margin&quot;&gt;&lt;a href=&quot;#&quot;&gt;&lt;strong&gt;Or, try more savings options.&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;
                        &lt;/div&gt;

                        &lt;div class=&quot;col-xs-12 col-sm-4&quot;&gt;
                            &lt;div class=&quot;panel panel-default no-vertical-margin align-center panel-do-it&quot;&gt;
                                &lt;div class=&quot;panel-body&quot;&gt;
                                    &lt;table class=&quot;strat-chosen margin-bottom&quot;&gt;
                                        &lt;tbody&gt;
                                            &lt;tr&gt;
                                                &lt;td&gt;Stocks&lt;/td&gt;
                                                &lt;td class=&quot;text-right strat-stocks&quot;&gt;10%&lt;/td&gt;
                                            &lt;/tr&gt;
                                            &lt;tr&gt;
                                                &lt;td&gt;Bonds&lt;/td&gt;
                                                &lt;td class=&quot;text-right strat-bonds&quot;&gt;20%&lt;/td&gt;
                                            &lt;/tr&gt;
                                            &lt;tr&gt;
                                                &lt;td&gt;Multi/Other&lt;/td&gt;
                                                &lt;td class=&quot;text-right strat-multi&quot;&gt;30%&lt;/td&gt;
                                            &lt;/tr&gt;
                                            &lt;tr&gt;
                                                &lt;td&gt;Secure Path&lt;/td&gt;
                                                &lt;td class=&quot;text-right strat-secupath&quot;&gt;40%&lt;/td&gt;
                                            &lt;/tr&gt;
                                        &lt;/tbody&gt;
                                    &lt;/table&gt;

                                    &lt;div class=&quot;form-group&quot;&gt;
                                        &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;Do It!&lt;/button&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/form&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
