&lt;div class=&quot;text-center margin-top-lg margin-bottom-lg&quot;&gt;
  &lt;h1 class=&quot;text-center&quot;&gt;You are now being directed to the Transamerica Annuity website. To see the detailed information for your annuity, you will need to login using your Transamerica Annuity username and password.&lt;/h1&gt;
&lt;/div&gt;
&lt;div class=&quot;text-center&quot;&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-primary text-center&quot;&gt;CONTINUE&lt;/a&gt;
&lt;/div&gt;