{{# button-unit}}
&lt;div class=&quot;row clearfix&quot;&gt;
    &lt;div class=&quot;col-xs-12 {{ unit-class }}&quot;&gt;
        {{# example-heading}}
        &lt;h4&gt;{{example-heading}}&lt;/h4&gt;
        {{/ example-heading}}
        {{# right-buttons}}
        &lt;div class=&quot;btn-unit btn-unit-primary-action&quot;&gt;
            {{&gt; atoms-button-link}}
        &lt;/div&gt;
        {{/ right-buttons}}
        {{# left-buttons}}
        &lt;div class=&quot;btn-unit btn-unit-secondary-action&quot;&gt;
            {{&gt; atoms-button-link}}
        &lt;/div&gt;
        {{/ left-buttons}}
    &lt;/div&gt;
&lt;/div&gt;
{{/ button-unit}}
