&lt;div class=&quot;text-center&quot;&gt;
    &lt;section class=&quot;row clearfix&quot;&gt;
        &lt;div class=&quot;col-xs-12 margin-bottom-lg&quot;&gt;
            &lt;div class=&quot;glyphicon glyphicon-ok success glyphicon--super-circle&quot; aria-hidden=&quot;true&quot;&gt;&lt;/div&gt;
            &lt;h1&gt;{{page_title}}&lt;/h1&gt;
            &lt;p&gt;{{{ page_intro }}}
            &lt;/p&gt;
            &lt;a href=&quot;{{ link.pages-managed-dashboard-subscribed }}&quot; class=&quot;btn btn-primary&quot;&gt;{{page_action_btn}}&lt;/a&gt;
        &lt;/div&gt;
    &lt;/section&gt;
    &lt;section class=&quot;row clearfix&quot;&gt;
        &lt;div class=&quot;col-xs-12&quot;&gt;
            &lt;div class=&quot;panel--shaded&quot;&gt;
                &lt;span class=&quot;row__pointer&quot; role=&quot;presentation&quot;&gt;&lt;/span&gt;
                &lt;h2 class=&quot;h1&quot;&gt;{{sections_title}}&lt;/h2&gt;

                {{# sections }}
                &lt;div class=&quot;margin-container&quot;&gt;
                    &lt;i class=&quot;dcma-icons {{icon}}&quot; role=&quot;presentation&quot;&gt;&lt;/i&gt;
                    &lt;p&gt;&lt;strong&gt;{{{ bold_para }}}&lt;/strong&gt;&lt;/p&gt;
                    {{# para }}
                    &lt;p&gt;{{{ . }}}&lt;/p&gt;
                	{{/ para }}
                &lt;/div&gt;
				{{/ sections }}

                &lt;a href=&quot;{{ link.pages-managed-dashboard-subscribed }}&quot; class=&quot;btn btn-primary&quot;&gt;{{page_action_btn}}&lt;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/section&gt;
&lt;/div&gt;
