    &lt;h1&gt;&lt;em&gt;Managed Advice&lt;/em&gt;&lt;sup&gt;&amp;reg;&lt;/sup&gt;&lt;/h1&gt;
    &lt;h2 class=&quot;negative-margin-top margin-bottom-lg&quot;&gt;Retirement Profile&lt;/h2&gt;

    {{&gt; molecules-ontrack-tabs }}

    &lt;div class=&quot;tab-content&quot;&gt;
        &lt;div class=&quot;tab-pane active&quot; id=&quot;tab1&quot;&gt;
            {{&gt; organisms-ma-retirement-info-and-goals-tab }}
        &lt;/div&gt;
        &lt;div class=&quot;tab-pane&quot; id=&quot;tab2&quot;&gt;
            {{&gt; organisms-ma-retirement-accounts-tab }}
        &lt;/div&gt;
        &lt;div class=&quot;tab-pane&quot; id=&quot;tab3&quot;&gt;
            {{&gt; organisms-ma-retirement-incomes-tab }}
        &lt;/div&gt;
        &lt;div class=&quot;tab-pane&quot; id=&quot;tab4&quot;&gt;
            {{&gt; organisms-ma-retirement-withdrawals-tab }}
        &lt;/div&gt;
    &lt;/div&gt;

