&lt;span class=&quot;finpro&quot;&gt;Are you a Financial Professional?&lt;/span&gt;
{{# go-finpro.button }}
&lt;a type=&quot;button&quot; alt=&quot;Go Professional&quot; class=&quot;btn btn-default go-pro&quot;&gt;Go&lt;/a&gt;
{{/go-finpro.button}}
{{^ go-finpro.button }}
&lt;a href=&quot;{{{ href }}}&quot; alt=&quot;Go Professional&quot; class=&quot;go-pro&quot;&gt;Go here&lt;/a&gt;
{{/go-finpro.button}}

