&lt;div class=&quot;block block-well col-sm-4 block-left&quot;&gt;
    &lt;div class=&quot;well-title&quot;&gt;Example well&lt;/div&gt;
    &lt;div class=&quot;block-row&quot;&gt;Average Savings Rate&lt;/div&gt;
    &lt;div class=&quot;block-row&quot;&gt;Average Savings Rate&lt;/div&gt;
    &lt;div class=&quot;block-row&quot;&gt;Average Savings Rate&lt;/div&gt;
    &lt;div class=&quot;block-row&quot;&gt;Average Savings Rate&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;block block-well col-sm-4 block-middle&quot;&gt;
    &lt;div class=&quot;well-title&quot;&gt;Example well&lt;/div&gt;
    &lt;div class=&quot;block-row&quot;&gt;Average Savings Rate&lt;/div&gt;
    &lt;div class=&quot;block-row&quot;&gt;Average Savings Rate&lt;/div&gt;
    &lt;div class=&quot;block-row&quot;&gt;Average Savings Rate&lt;/div&gt;
    &lt;div class=&quot;block-row&quot;&gt;Average Savings Rate&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;block block-well col-sm-4 block-right&quot;&gt;
    &lt;div class=&quot;well-title&quot;&gt;Example well&lt;/div&gt;
    &lt;div class=&quot;block-row&quot;&gt;Average Savings Rate&lt;/div&gt;
    &lt;div class=&quot;block-row&quot;&gt;Average Savings Rate&lt;/div&gt;
    &lt;div class=&quot;block-row&quot;&gt;Average Savings Rate&lt;/div&gt;
    &lt;div class=&quot;block-row&quot;&gt;Average Savings Rate&lt;/div&gt;
&lt;/div&gt;
