&lt;!-- Main Nav --&gt;
&lt;nav class=&quot;nav--primary&quot; data-ui-component=&quot;Main Nav&quot;&gt;
  &lt;div class=&quot;row&quot;&gt;
    &lt;div id=&quot;desktop_primary_nav&quot; role=&quot;tablist&quot; aria-multiselectable=&quot;true&quot;&gt;
        &lt;div class=&quot;panel&quot;&gt;
{{#pla-primaryNav_items}}
	{{&gt; atoms-desktop-primary-nav}}
{{/pla-primaryNav_items}} 
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/nav&gt;
&lt;!-- /Main Nav --&gt;