{{# medium_modal}}
	{{&gt; molecules-modal-basic}}
{{/ medium_modal}}

{{# small_modal}}
	{{&gt; molecules-modal-basic}}
{{/ small_modal}}

{{# large_modal}}
	{{&gt; molecules-modal-basic}}
{{/ large_modal}}

{{# new_modal_style}}
	{{&gt; molecules-modal-basic}}
{{/ new_modal_style}}

{{&gt; molecules-modal-noncancellable}}