&lt;a {{# link-id }}id=&quot;{{ link-id }}&quot;{{/ link-id }} class=&quot;trs-text-link {{{link-class}}}&quot;{{# link-title }} title=&quot;{{{ link-title }}}&quot;{{/ link-title }} href=&quot;{{{ link-url }}}&quot;&gt;{{# isBefore }}&lt;span class=&quot;glyphicon glyphicon-{{ icon-name }}&quot; role=&quot;presentation&quot;&gt;&lt;/span&gt;{{/ isBefore }} &lt;span&gt;{{{link-text}}}&lt;/span&gt; {{^ isBefore}}&lt;span class=&quot;glyphicon glyphicon-{{ icon-name }}&quot; role=&quot;presentation&quot;&gt;&lt;/span&gt;{{/ isBefore }}&lt;/a&gt;
