&lt;p&gt;{{{ intro_para }}}&lt;/p&gt;

&lt;div class=&quot;row margin-bottom js-eq-ht-container&quot;&gt;
    &lt;div class=&quot;col-xs-12&quot;&gt;

        &lt;!-- left panel column --&gt;
        &lt;div class=&quot;block block-well block-left border-right-collapse col-xs-12 col-sm-6 js-eq-ht-div&quot;&gt;
            &lt;div class=&quot;well-title text-center-xs&quot;&gt;Loan(s) Selected for Refinancing&lt;/div&gt;
            &lt;div class=&quot;well-body clearfix&quot;&gt;

                &lt;!-- optional list, keep the inline style! --&gt;
                &lt;ul class=&quot;bullet-list bullet-list--regular-margin bullet-list--black&quot; style=&quot;margin-left: -10px&quot;&gt;
                    &lt;li&gt;When refinancing, you must borrow an &lt;strong&gt;additional amount&lt;/strong&gt; of at least $X,XXX;&lt;/li&gt;
                    &lt;li&gt;The proceeds of the new loan will be used to pay off the outstanding loan(s) that you select below, and the additional amount will be paid to you;&lt;/li&gt;
                    &lt;li&gt;You may &lt;a href=&quot;#&quot; rel=&quot;external&quot;&gt;view complete loan provisions here.&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
                &lt;!-- /optional list, keep the inline style! --&gt;

                &lt;table class=&quot;table table__row--narrow table__row--no-border table__loans--selected no-border js-tbl-nofontresize&quot;&gt;
                    &lt;!-- loop this --&gt;
                    &lt;tbody&gt;
                        &lt;tr&gt;
                            &lt;td colspan=&quot;2&quot;&gt;&lt;strong&gt;Loan # 2015123456789ABC&lt;/strong&gt;&lt;/td&gt;
                        &lt;/tr&gt;

                        &lt;tr&gt;
                            &lt;td&gt;Payment amount&lt;/td&gt;
                            &lt;td class=&quot;text-right&quot;&gt;$XX.XX&lt;/td&gt;
                        &lt;/tr&gt;

                        &lt;tr&gt;
                            &lt;td&gt;Interest Rate&lt;/td&gt;
                            &lt;td class=&quot;text-right&quot;&gt;XXX%&lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr&gt;
                            &lt;td&gt;&lt;strong&gt;Payoff amount&lt;/strong&gt;&lt;/td&gt;
                            &lt;td class=&quot;text-right&quot;&gt;&lt;strong&gt;$XXX,XXX,XXX.XX&lt;/strong&gt;&lt;/td&gt;
                        &lt;/tr&gt;
                    &lt;/tbody&gt;
                    &lt;!-- /loop this --&gt;

                    &lt;tbody&gt;
                        &lt;tr&gt;
                            &lt;td colspan=&quot;2&quot;&gt;&lt;strong&gt;Loan # 2015123456789ABC&lt;/strong&gt;&lt;/td&gt;
                        &lt;/tr&gt;

                        &lt;tr&gt;
                            &lt;td&gt;Payment amount&lt;/td&gt;
                            &lt;td class=&quot;text-right&quot;&gt;$XX.XX&lt;/td&gt;
                        &lt;/tr&gt;

                        &lt;tr&gt;
                            &lt;td&gt;Interest Rate&lt;/td&gt;
                            &lt;td class=&quot;text-right&quot;&gt;XXX%&lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr&gt;
                            &lt;td&gt;&lt;strong&gt;Payoff amount&lt;/strong&gt;&lt;/td&gt;
                            &lt;td class=&quot;text-right&quot;&gt;&lt;strong&gt;$XXX,XXX,XXX.XX&lt;/strong&gt;&lt;/td&gt;
                        &lt;/tr&gt;
                    &lt;/tbody&gt;
                &lt;/table&gt;

                &lt;div class=&quot;text-center margin-top-lg&quot;&gt;
                    &lt;a href=&quot;#&quot; class=&quot;btn btn-secondary btn-small&quot; role=&quot;button&quot;&gt;Change selection&lt;/a&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;

        &lt;!-- right panel column --&gt;
        &lt;div class=&quot;block block-well block-right col-xs-12 col-sm-6 js-eq-ht-div&quot;&gt;
            &lt;div class=&quot;well-title text-center-xs&quot;&gt;
                &lt;span&gt;Additional Amount Available&lt;/span&gt;
                &lt;a class=&quot;no-outline color-black&quot; tabindex=&quot;0&quot; role=&quot;button&quot; title=&quot;Amount Available&quot; data-container=&quot;body&quot; data-trigger=&quot;focus&quot; data-toggle=&quot;popover&quot; data-placement=&quot;right&quot; data-html=&quot;true&quot; data-content=&quot;&lt;span class='text-small'&gt;The &lt;strong&gt;amount available&lt;/strong&gt; and &lt;strong&gt;maximum loan duration&lt;/strong&gt; for your new loan are based on the 5-year loan &lt;em&gt;maturity&lt;/em&gt; date of your earliest loan, which is MM/DD/YYYY.&lt;/span&gt;&quot;&gt;&lt;span class=&quot;glyphicon glyphicon-question-sign&quot; role=&quot;presentation&quot;&gt;&lt;/span&gt;&lt;/a&gt;
            &lt;/div&gt;
            &lt;div class=&quot;well-body&quot;&gt;

                &lt;table class=&quot;table table__row--narrow table__row--no-border table__loans--additional-amount no-border js-tbl-nofontresize&quot;&gt;
                    &lt;tbody&gt;
                        &lt;tr&gt;
                            &lt;td colspan=&quot;2&quot;&gt;&lt;strong class=&quot;display-block text-center&quot;&gt;If new loan period ends on or before&lt;br&gt;MM/DD/YYYY&lt;/strong&gt;&lt;/td&gt;
                        &lt;/tr&gt;

                        &lt;tr&gt;
                            &lt;td&gt;Amount&lt;/td&gt;
                            &lt;td class=&quot;text-right&quot;&gt;$XXX,XXX.XX&lt;/td&gt;
                        &lt;/tr&gt;

                        &lt;tr&gt;
                            &lt;td&gt;Maxium Loan Duration&lt;/td&gt;
                            &lt;td class=&quot;text-right&quot;&gt;XX Months&lt;/td&gt;
                        &lt;/tr&gt;
                    &lt;/tbody&gt;

                    &lt;tbody&gt;
                        &lt;tr&gt;
                            &lt;td colspan=&quot;2&quot;&gt;&lt;strong class=&quot;display-block text-center&quot;&gt;If new loan period ends after&lt;br&gt;MM/DD/YYYY&lt;/strong&gt;&lt;/td&gt;
                        &lt;/tr&gt;

                        &lt;tr&gt;
                            &lt;td&gt;Amount&lt;/td&gt;
                            &lt;td class=&quot;text-right&quot;&gt;$XXX,XXX.XX&lt;/td&gt;
                        &lt;/tr&gt;

                        &lt;tr&gt;
                            &lt;td&gt;Maxium Loan Duration&lt;/td&gt;
                            &lt;td class=&quot;text-right&quot;&gt;XX Months&lt;/td&gt;
                        &lt;/tr&gt;
                    &lt;/tbody&gt;
                &lt;/table&gt;

            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;h2 class=&quot;text-center-xs margin-bottom&quot;&gt;LOAN REFINANCE CALCULATOR&lt;/h2&gt;

&lt;!-- error list, hide it or show it, then and fill it by dynamically adding &lt;li&gt;s to the &lt;ul&gt; --&gt;
&lt;!--
    Example:

    - Start the error box with 'style=&quot;display: none&quot;', then...

    $('#alertErrors').show().find('ul').html('&lt;li&gt;Some new error&lt;/li&gt;'); // for showing and displaying new error
    $('#alertErrors').hide().find('ul').html(''); // for hiding and resetting errors
--&gt;
&lt;div id=&quot;alertErrors&quot; class=&quot;alert alert-error&quot; style=&quot;[display: none]&quot;&gt;
    &lt;div class=&quot;alert-icon&quot;&gt;&lt;span role=&quot;presentation&quot; class=&quot;glyphicon glyphicon-remove-sign glyph-white alert-icon-size&quot;&gt;&lt;/span&gt;&lt;/div&gt;
    &lt;div class=&quot;alert-message&quot;&gt;
        &lt;strong&gt;Error&lt;/strong&gt;&lt;br&gt;
        &lt;ul&gt;
            &lt;li&gt;Some really super big, with lots of words, super generic error message to test how a big error message can show up here.&lt;/li&gt;
            &lt;li&gt;Some generic error to test how errors show up here.&lt;/li&gt;
            &lt;li&gt;Some generic error.&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;!-- /error list, hide it or show it, then and fill it by dynamically adding &lt;li&gt;s to the &lt;ul&gt; --&gt;

&lt;p&gt;To model your loan, enter the details below and then click MODEL LOAN.&lt;/p&gt;

&lt;div class=&quot;panel panel-default panel-well loan-calculator&quot;&gt;
    &lt;div class=&quot;panel-body&quot;&gt;
        &lt;form class=&quot;form-inline&quot;&gt;
            &lt;div class=&quot;row&quot;&gt;
                &lt;div class=&quot;col-xs-12 col-sm-6&quot;&gt;
                    &lt;label for=&quot;loanAmount&quot;&gt;Additional loan amount you are requesting:&lt;/label&gt;
                    &lt;br&gt;
                    &lt;label for=&quot;loanAmount&quot;&gt;$&lt;/label&gt;
                    &lt;!-- input field with feedback --&gt;
                    &lt;div class=&quot;form-group [ has-feedback error ]&quot;&gt;
                        {{!&lt;span role=&quot;presentation&quot; class=&quot;glyphicon [ glyphicon-remove ] icon-left form-control-feedback&quot;&gt;&lt;/span&gt;}}
                        &lt;input id=&quot;loanAmount&quot; name=&quot;loanAmount&quot; type=&quot;text&quot; class=&quot;form-control currency&quot;&gt;
                    &lt;/div&gt;
                    &lt;!-- /input field with feedback --&gt;
                    &lt;span class=&quot;text-small&quot;&gt;(minimum: $XXX.XX)&lt;/span&gt;
                &lt;/div&gt;

                &lt;div class=&quot;col-xs-12 col-sm-6&quot;&gt;
                    &lt;label for=&quot;loanPeriod&quot;&gt;Loan period&lt;/label&gt;
                    &lt;div class=&quot;form-group full-width&quot;&gt;
                        {{!&lt;span role=&quot;presentation&quot; class=&quot;glyphicon icon-left form-control-feedback&quot;&gt;&lt;/span&gt;}}
                        &lt;select id=&quot;loanPeriod&quot; name=&quot;loanPeriod&quot; class=&quot;form-control full-width&quot;&gt;
                            &lt;option&gt;-- Select --&lt;/option&gt;
                        &lt;/select&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;

            &lt;div class=&quot;row&quot;&gt;
                &lt;div class=&quot;col-xs-12 col-sm-6&quot;&gt;
                    &lt;label for=&quot;paycheckFreq&quot;&gt;Paycheck frequency&lt;/label&gt;
                    &lt;!-- select with feedback --&gt;
                    &lt;div class=&quot;form-group [ has-feedback error ] full-width&quot;&gt;
                        {{!&lt;span role=&quot;presentation&quot; class=&quot;glyphicon [ glyphicon-remove ] icon-left form-control-feedback&quot;&gt;&lt;/span&gt;}}
                        &lt;select id=&quot;paycheckFreq&quot; name=&quot;paycheckFreq&quot; class=&quot;form-control full-width&quot;&gt;
                            &lt;option&gt;-- Select --&lt;/option&gt;
                        &lt;/select&gt;
                    &lt;/div&gt;
                    &lt;!-- /select with feedback --&gt;
                &lt;/div&gt;
                &lt;div class=&quot;col-xs-12 col-sm-6&quot;&gt;
                    extra column here or not... each row has two columns
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/form&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;!-- buttons --&gt;
&lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;col-xs-12&quot;&gt;
        &lt;a class=&quot;btn btn-secondary&quot; href=&quot;javascript:void(0)&quot; role=&quot;button&quot;&gt;Back&lt;/a&gt;
        &lt;a class=&quot;btn btn-primary pull-right&quot; href=&quot;javascript:void(0)&quot;&quot; role=&quot;button&quot;&gt;Model loan&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;!-- /buttons --&gt;
