&lt;p&gt;Lorem ipsum textification with a {{&gt; atoms-modal-trigger}}&lt;/p&gt;
&lt;!-- advised: modals sit after content container and before js --&gt;
&lt;div class=&quot;modal fade&quot; id=&quot;{{ modal_id }}&quot; tabindex=&quot;-1&quot; role=&quot;dialog&quot; aria-labelledby=&quot;{{ h_id }}&quot;&gt;
    &lt;div class=&quot;modal-dialog {{ modal_size }}&quot; role=&quot;document&quot;&gt;&lt;!-- optional modal-lg or modal-sm can be added here --&gt;
        &lt;div class=&quot;modal-content&quot;&gt;
            &lt;div class=&quot;modal-header no-border&quot;&gt;
                {{# close_button }}
                &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;modal&quot; aria-label=&quot;Close&quot;&gt;
                    &lt;span aria-hidden=&quot;true&quot; class=&quot;trs-icons-close-btn&quot;&gt;&lt;/span&gt;
                &lt;/button&gt;
                {{/ close_button }}
                {{# modal_heading}}
                {{&gt; atoms-heading}}
                {{/modal_heading}}
            &lt;/div&gt;
            &lt;div class=&quot;modal-body&quot;&gt;
                {{{ modal_body }}}
                &lt;div class=&quot;clearfix&quot; role=&quot;presentation&quot;&gt;&lt;/div&gt;
            &lt;/div&gt;
            {{# modal_buttons}}
            &lt;div class=&quot;modal-footer {{ alignment }}&quot;&gt;
                {{# cancel}}
                {{&gt; atoms-modal-button}}
                {{/ cancel}}

                {{# confirm}}
                {{&gt; atoms-modal-button}}
                {{/ confirm}}
            &lt;/div&gt;
            {{/ modal_buttons}}
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
