
&lt;div class=&quot;hidden-xs clearfix&quot;&gt;
    &lt;ol class=&quot;step-progress step-progress__4step&quot; role=&quot;navigation&quot;&gt;
        &lt;li class=&quot;step-progress__step step-progress__step--active&quot;&gt;
            &lt;span class=&quot;text&quot;&gt;Profile&lt;/span&gt;
        &lt;/li&gt;&lt;!-- do not remove this
     --&gt;&lt;li class=&quot;step-progress__step step-progress__step--inactive&quot;&gt;
            &lt;span class=&quot;text&quot;&gt;Contributions &amp;amp; Investments&lt;/span&gt;
        &lt;/li&gt;&lt;!--
     --&gt;&lt;li class=&quot;step-progress__step step-progress__step--inactive&quot;&gt;
            &lt;span class=&quot;text&quot;&gt;Review&lt;/span&gt;
        &lt;/li&gt;&lt;!--
     --&gt;&lt;li class=&quot;step-progress__step step-progress__step--inactive&quot;&gt;
            &lt;span class=&quot;text&quot;&gt;Confirmation&lt;/span&gt;
        &lt;/li&gt;
    &lt;/ol&gt;
&lt;/div&gt;
