&lt;div id=&quot;dcma-summary-chart&quot; class=&quot;dcma-summary-chart&quot;&gt;&lt;/div&gt;

&lt;script&gt;
$(function() {
    var colors = ['#006390', '#2ba644'],
        categories = ['BONDS', 'STOCKS'],
        data = [{
            y: 70,
            color: colors[0],
            drilldown: {
                name: 'Bonds',
                categories: ['Short Bonds/Stable/MMkt', 'Interm./Long-Term Bonds', 'Aggressive Bonds'],
                data: [21, 42, 7],
                innerColor: ['#006390', '#00bbda', '#7fdeed']
            }
        }, {
            y: 30,
            color: colors[1],
            drilldown: {
                name: 'Stocks',
                categories: ['Large-Cap Stocks', 'Small/Mid-Cap Stocks', 'International Stocks'],
                data: [21, 4, 5],
                innerColor: ['#2ba644', '#6bc17e', '#92e094']
            }
        }],
        assetType = [],
        assets = [],
        i,
        j,
        dataLen = data.length,
        drillDataLen,

        brightness;

    // Build the data arrays
    for (i = 0; i &lt; dataLen; i += 1) {
        // add asset type data
        assetType.push({
            name: categories[i],
            y: data[i].y,
            color: data[i].color
        });

        // add assets data
        drillDataLen = data[i].drilldown.data.length;
        for (j = 0; j &lt; drillDataLen; j += 1) {
            brightness = 0.2 - (j / drillDataLen) / 5;
            assets.push({
                name: data[i].drilldown.categories[j],
                y: data[i].drilldown.data[j],
                color: data[i].drilldown.innerColor[j]
            });
        }
    }

    // Create the chart
    $('#dcma-summary-chart').highcharts({
        credits: {
            enabled: false
        },
        chart: {
            type: 'pie'
        },
        title: {
            text: ''
        },
        subtitle: {
            text: ''
        },
        yAxis: {
            title: {
                text: ''
            }
        },
        plotOptions: {
            pie: {
                shadow: false,
                center: ['50%', '50%']
            }
        },
        tooltip: {
            formatter: function() {
                return this.point.name + ' ' + this.y + '%';
            }
        },
        series: [{
            name: 'Asset Types',
            data: assetType,
            size: '60%',
            dataLabels: {
                formatter: function() {
                    return this.y &gt; 1 ? '&lt;b&gt;' + this.point.name + ':&lt;/b&gt; ' + this.y + '%' : null;
                },
                color: '#ffffff',
                distance: -30
            }
        },{
            name: 'Assets',
            data: assets,
            size: '80%',
            innerSize: '60%',
            className: 'data-labels',
            dataLabels: {
                formatter: function() {
                    // display only if larger than 1
                    return this.y &gt; 1 ? '&lt;b&gt;' + this.point.name + ':&lt;/b&gt; ' + this.y + '%' : null;
                },
                className: 'assets'
            }
        }]
    });
});
&lt;/script&gt;
