
&lt;p&gt;We've made some changes and need some additional information to update your profile.&lt;/p&gt;
&lt;form id=&quot;update_profile&quot; method=&quot;post&quot; action=&quot;#&quot;&gt;
  &lt;fieldset&gt;
    &lt;h3 class=&quot;heading-section&quot;&gt;Change your username&lt;/h3&gt;
    &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;col-sm-4&quot;&gt;
        &lt;div class=&quot;form-group&quot;&gt;
          &lt;label for=&quot;username&quot;&gt;Username&lt;/label&gt;
          &lt;input id=&quot;username&quot; type=&quot;text&quot; placeholder=&quot;Text Input&quot; class=&quot;form-control&quot; value=&quot;jdoe1980!&quot;&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;col-sm-8&quot;&gt;
        &lt;ul class=&quot;bulleted padding-left&quot;&gt;
          &lt;li&gt;Must be a minimum of 7 characters&lt;/li&gt;
          &lt;li&gt;Cannot be all numeric (ex: cannot be a serial number)&lt;/li&gt;
          &lt;li&gt;Cannot be an email address&lt;/li&gt;
        &lt;/ul&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;row&quot;&gt;
      &lt;hr&gt;
    &lt;/div&gt;
    &lt;h3 class=&quot;heading-section&quot;&gt;Please create a new password&lt;/h3&gt;
    &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;col-sm-4&quot;&gt;
          &lt;div id=&quot;pwd-container&quot;&gt;
    &lt;div class=&quot;form-group&quot;&gt;
      &lt;label for=&quot;password&quot;&gt;Password&lt;sup class=&quot;required&quot;&gt;*&lt;/sup&gt;&lt;/label&gt;
      &lt;input type=&quot;password&quot; class=&quot;form-control&quot; id=&quot;password&quot; placeholder=&quot;Password&quot;&gt;
      &lt;div class=&quot;padding-top&quot;&gt;&lt;i&gt;Password strength:&lt;/i&gt; &lt;strong&gt;&lt;span class=&quot;pwstrength_viewport_verdicts&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;pwstrength_viewport_progress&quot;&gt;&lt;/div&gt;
  &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;col-sm-4&quot;&gt;
        &lt;div class=&quot;form-group&quot;&gt;
          &lt;label for=&quot;pass&quot;&gt;Re-Enter Password&lt;sup class=&quot;required&quot;&gt;*&lt;/sup&gt;&lt;/label&gt;
          &lt;input id=&quot;text3&quot; type=&quot;password&quot; placeholder=&quot;Text Input&quot; class=&quot;form-control&quot; value=&quot;abcd1password&quot;&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;col-sm-4&quot;&gt;
        &lt;div class=&quot;form-group&quot;&gt;
          &lt;ul class=&quot;bulleted padding-left&quot;&gt;
            &lt;li&gt;Must be a minimum of 8 characters&lt;/li&gt;
            &lt;li&gt;Include three of the following:
              a lower and upper case character, a
              number and a special character.&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;row&quot;&gt;
      &lt;hr&gt;
    &lt;/div&gt;
    &lt;h3 class=&quot;heading-section__top&quot;&gt;Do you want to add another email address to your account? (optional)&lt;/h3&gt;
    &lt;p class=&quot;padding-bottom&quot;&gt;Alternate email will be used for the following when provided: Authorization Security Code, eDelivery (when applicable), Password resets, and security alerts.&lt;/p&gt;
    &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;col-sm-5&quot;&gt;
        &lt;div class=&quot;form-group&quot;&gt;
          &lt;label for=&quot;pass&quot;&gt;Alternate Email Address&lt;/label&gt;
          &lt;input type=&quot;email&quot; value=&quot;test@test.com&quot;  /&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;col-sm-5&quot;&gt;
        &lt;div class=&quot;form-group&quot;&gt;
          &lt;label for=&quot;pass&quot;&gt;Re-Enter Alternate Email Address&lt;/label&gt;
          &lt;input type=&quot;email&quot; value=&quot;test@test.com&quot;  /&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;row&quot;&gt;
      &lt;hr&gt;
    &lt;/div&gt;
    &lt;h3 class=&quot;heading-section__top&quot;&gt;Please select and answer three security questions to further protect your account.&lt;/h3&gt;
    &lt;p class=&quot;padding-bottom&quot;&gt;Choose answers you can remember without writing them down. Each answer must be a minimum of 3 characters.&lt;/p&gt;
    &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;div class=&quot;form-group&quot;&gt;
          &lt;label for=&quot;pass&quot;&gt;Security Question 1&lt;sup class=&quot;required&quot;&gt;*&lt;/sup&gt;&lt;/label&gt;
          &lt;div class=&quot;form-group custom-select&quot;&gt; &lt;span class=&quot;custom-select-inner&quot;&gt;&lt;span class=&quot;glyphicon glyphicon-XXX form-control-feedback&quot; role=&quot;presentation&quot;&gt;&lt;/span&gt;
            &lt;select class=&quot;form-control&quot;&gt;
              &lt;option&gt;Select One&lt;/option&gt;
              &lt;option&gt;&lt;/option&gt;
              &lt;option&gt;&lt;/option&gt;
              &lt;option&gt;&lt;/option&gt;
            &lt;/select&gt;
            &lt;/span&gt; &lt;/div&gt;
          &lt;input value=&quot;Answer to question 1&quot;&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;div class=&quot;form-group&quot;&gt;
          &lt;label for=&quot;pass&quot;&gt;Security Question 2&lt;sup class=&quot;required&quot;&gt;*&lt;/sup&gt;&lt;/label&gt;
          &lt;div class=&quot;form-group custom-select&quot;&gt; &lt;span class=&quot;custom-select-inner&quot;&gt;&lt;span class=&quot;glyphicon glyphicon-XXX form-control-feedback&quot; role=&quot;presentation&quot;&gt;&lt;/span&gt;
            &lt;select class=&quot;form-control&quot;&gt;
              &lt;option&gt;Select One&lt;/option&gt;
              &lt;option&gt;&lt;/option&gt;
              &lt;option&gt;&lt;/option&gt;
              &lt;option&gt;&lt;/option&gt;
            &lt;/select&gt;
            &lt;/span&gt; &lt;/div&gt;
          &lt;input value=&quot;Answer to question 2&quot;&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;div class=&quot;form-group&quot;&gt;
          &lt;label for=&quot;pass&quot;&gt;Security Question 3&lt;sup class=&quot;required&quot;&gt;*&lt;/sup&gt;&lt;/label&gt;
          &lt;div class=&quot;form-group custom-select&quot;&gt; &lt;span class=&quot;custom-select-inner&quot;&gt;&lt;span class=&quot;glyphicon glyphicon-XXX form-control-feedback&quot; role=&quot;presentation&quot;&gt;&lt;/span&gt;
            &lt;select class=&quot;form-control&quot;&gt;
              &lt;option&gt;Select One&lt;/option&gt;
              &lt;option&gt;&lt;/option&gt;
              &lt;option&gt;&lt;/option&gt;
              &lt;option&gt;&lt;/option&gt;
            &lt;/select&gt;
            &lt;/span&gt; &lt;/div&gt;
          &lt;input value=&quot;Answer to question 3&quot;&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;row&quot;&gt;
      &lt;hr&gt;
    &lt;/div&gt;
    &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;col-xs-6&quot;&gt;
        &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;Next&lt;/button&gt;
      &lt;/div&gt;
      &lt;div class=&quot;col-xs-6 text-right&quot;&gt;
        &lt;p&gt;&lt;i&gt;&lt;sup class=&quot;required&quot;&gt;*&lt;/sup&gt;Required Fields&lt;/i&gt;&lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/fieldset&gt;
&lt;/form&gt;


&lt;!-- PASSWORD METER --&gt;
{{!&lt;script src=&quot;../../js/plugins/jquery.password.js&quot;&gt;&lt;/script&gt;}}
&lt;script type=&quot;text/javascript&quot;&gt;
jQuery(document).ready(function() {
    &quot;use strict&quot;;
    var options = {};
    options.ui = {
        container: &quot;#pwd-container&quot;,
        viewports: {
            progress: &quot;.pwstrength_viewport_progress&quot;,
            verdict: &quot;.pwstrength_viewport_verdicts&quot;
        }
    };
    $('#password').pwstrength(options);
});
&lt;/script&gt;
