{{# showModalLink }}
&lt;p&gt;&lt;a href=&quot;#&quot; data-toggle=&quot;modal&quot; data-target=&quot;#modal-44&quot;&gt;&lt;em&gt;OnTrack&lt;/em&gt;&lt;sup&gt;&amp;reg;&lt;/sup&gt; Modal - SLIDE #44 - 2015-08-19: Edit Account View Holdings (Transamerica)&lt;/a&gt;&lt;/p&gt;
{{/ showModalLink }}


&lt;!-- Slide 44 --&gt;
&lt;div class=&quot;modal fade&quot; id=&quot;modal-44&quot; tabindex=&quot;-1&quot; role=&quot;dialog&quot; aria-labelledby=&quot;section-title-44&quot;&gt;
    &lt;div class=&quot;modal-dialog&quot; role=&quot;document&quot;&gt;{{! optional modal-lg or modal-sm can be added here }}

        &lt;div class=&quot;modal-content&quot;&gt;

            &lt;div class=&quot;modal-header no-border&quot;&gt;
                &lt;a href=&quot;#&quot; type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;modal&quot; aria-label=&quot;Close&quot;&gt;
                    &lt;span aria-hidden=&quot;true&quot; class=&quot;trs-icons-close-btn&quot;&gt;&lt;/span&gt;
                &lt;/a&gt;
                &lt;h3 class=&quot;modal-title&quot; id=&quot;modal_title&quot;&gt;View Holdings&lt;/h3&gt;
            &lt;/div&gt;

            &lt;div class=&quot;modal-body&quot;&gt;

                &lt;div id=&quot;errorHoldings{{ uniqueId }}&quot; class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-xs-12&quot;&gt;
                        &lt;div class=&quot;alert alert-error&quot; id=&quot;errorBox{{ uniqueId }}&quot;&gt;
                            &lt;div class=&quot;alert-icon&quot;&gt;&lt;span role=&quot;presentation&quot; class=&quot;glyphicon glyphicon-remove-sign glyph-white alert-icon-size&quot;&gt;&lt;/span&gt;&lt;/div&gt;
                            &lt;div class=&quot;alert-message&quot;&gt;
                                &lt;strong&gt;Error&lt;/strong&gt;&lt;br&gt;
                                &lt;ul&gt;
                                    &lt;li&gt;Your holdings information is not available at this time. Please try again later.&lt;/li&gt;
                                &lt;/ul&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

                &lt;form id=&quot;viewHoldingForm&quot; role=&quot;form&quot; class=&quot;form-inline ontrack__form&quot;&gt;
                    &lt;fieldset&gt;
                        &lt;div class=&quot;row row__mobile row__mobile--bg no-border no-vertical-margin no-vertical-padding padding-top&quot;&gt;
                            &lt;div class=&quot;col-sm-3 col-xs-12&quot;&gt;
                                &lt;span class=&quot;aligner aligner--mobile&quot;&gt;Name:&lt;/span&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;col-sm-9 col-xs-12&quot;&gt;
                                &lt;span class=&quot;aligner aligner--mobile&quot;&gt;Techtronic Industries 401(k) Retirement Plan&lt;/span&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;

                        &lt;div class=&quot;row row__mobile row__mobile--bg&quot;&gt;
                            &lt;div class=&quot;col-sm-3 col-xs-12&quot;&gt;
                                &lt;span class=&quot;aligner aligner--mobile&quot;&gt;Account Number:&lt;/span&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;col-sm-9 col-xs-12&quot;&gt;
                                &lt;span class=&quot;aligner aligner--mobile&quot;&gt;QK62838LY 00001&lt;/span&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;

                        &lt;div class=&quot;row row__mobile row__mobile--bg&quot;&gt;
                            &lt;hr class=&quot;visible-xs hr--mobile__separator&quot;&gt;
                            &lt;div class=&quot;visible-xs clear&quot;&gt;&lt;/div&gt;

                            &lt;div class=&quot;col-xs-12&quot;&gt;
                                &lt;h4 class=&quot;sub-title margin-bottom&quot;&gt;How are you currently invested?&lt;/h4&gt;

                                &lt;div id=&quot;holdingsTable{{uniqueId}}&quot;&gt;
                                    &lt;table class=&quot;tbl-style1 tbl-style1--row-separator table--holdings&quot;&gt;
                                        &lt;tr class=&quot;tbl-style1--row-separator__th&quot;&gt;
                                            &lt;th colspan=&quot;2&quot;&gt;Short Bonds/Stable/MMkt&lt;/th&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;&lt;a title=&quot;Morley Stable V Class 25 I&quot; href=&quot;#&quot; target=&quot;new&quot;&gt;Morley Stable V Class 25 I&lt;/a&gt;&lt;/td&gt;
                                            &lt;td&gt;1%&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;tr class=&quot;tbl-style1--row-separator__th&quot;&gt;
                                            &lt;th colspan=&quot;2&quot;&gt;Interm./Long-Term Bonds&lt;/th&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;&lt;a title=&quot;PIMCO Total Ret&quot; href=&quot;#&quot; target=&quot;new&quot;&gt;PIMCO Total Ret&lt;/a&gt;&lt;/td&gt;
                                            &lt;td&gt;2%&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;&lt;a title=&quot;Vanguard Total Market Index I&quot; href=&quot;#&quot; target=&quot;new&quot;&gt;Vanguard Total Market Index I&lt;/a&gt;&lt;/td&gt;
                                            &lt;td&gt;3%&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;tr class=&quot;tbl-style1--row-separator__th&quot;&gt;
                                            &lt;th colspan=&quot;2&quot;&gt;Large-Cap Stocks&lt;/th&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;&lt;a title=&quot;American Beacon Value Inst&quot; href=&quot;#&quot; target=&quot;new&quot;&gt;American Beacon Value Inst&lt;/a&gt;&lt;/td&gt;
                                            &lt;td&gt;4%&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;&lt;a title=&quot;Vanguard Instit Index I&quot; href=&quot;#&quot; target=&quot;new&quot;&gt;Vanguard Instit Index I&lt;/a&gt;&lt;/td&gt;
                                            &lt;td&gt;5%&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;&lt;a title=&quot;T. Rowe Price B Growth&quot; href=&quot;#&quot; target=&quot;new&quot;&gt;T. Rowe Price B Growth&lt;/a&gt;&lt;/td&gt;
                                            &lt;td&gt;6%&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;tr class=&quot;tbl-style1--row-separator__th&quot;&gt;
                                            &lt;th colspan=&quot;2&quot;&gt;Small/Mid-Cap Stocks&lt;/th&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;&lt;a title=&quot;Vanguard Select Inv&quot; href=&quot;#&quot; target=&quot;new&quot;&gt;Vanguard Select Inv&lt;/a&gt;&lt;/td&gt;
                                            &lt;td&gt;7%&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;&lt;a title=&quot;Vanguard Mid Ca Adm&quot; href=&quot;#&quot; target=&quot;new&quot;&gt;Vanguard Mid Ca Adm&lt;/a&gt;&lt;/td&gt;
                                            &lt;td&gt;8%&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;&lt;a title=&quot;Vanguard Mid Ca Inv&quot; href=&quot;#&quot; target=&quot;new&quot;&gt;Vanguard Mid Ca Inv&lt;/a&gt;&lt;/td&gt;
                                            &lt;td&gt;9%&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;&lt;a title=&quot;JPMorgan Small R6&quot; href=&quot;#&quot; target=&quot;new&quot;&gt;JPMorgan Small R6&lt;/a&gt;&lt;/td&gt;
                                            &lt;td&gt;10%&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;&lt;a title=&quot;Vanguard Small Adm&quot; href=&quot;#&quot; target=&quot;new&quot;&gt;Vanguard Small Adm&lt;/a&gt;&lt;/td&gt;
                                            &lt;td&gt;11%&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;&lt;a title=&quot;T. Rowe Price S Stock&quot; href=&quot;#&quot; target=&quot;new&quot;&gt;T. Rowe Price S Stock&lt;/a&gt;&lt;/td&gt;
                                            &lt;td&gt;12%&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;&lt;a title=&quot;Vanguard REIT I&quot; href=&quot;#&quot; target=&quot;new&quot;&gt;Vanguard REIT I&lt;/a&gt;&lt;/td&gt;
                                            &lt;td&gt;0%&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;tr class=&quot;tbl-style1--row-separator__th&quot;&gt;
                                            &lt;th colspan=&quot;2&quot;&gt;International Stocks&lt;/th&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;&lt;a title=&quot;American Funds EuroPacific Gr&quot; href=&quot;#&quot; target=&quot;new&quot;&gt;American Funds EuroPacific Gr&lt;/a&gt;&lt;/td&gt;
                                            &lt;td&gt;0%&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;tr class=&quot;tbl-style1--row-separator__th&quot;&gt;
                                            &lt;th colspan=&quot;2&quot;&gt;Multi-Asset/Other&lt;/th&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;&lt;a title=&quot;Vanguard Target Retirement Inc.&quot; href=&quot;#&quot; target=&quot;new&quot;&gt;Vanguard Target Retirement Inc.&lt;/a&gt;&lt;/td&gt;
                                            &lt;td&gt;13%&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;&lt;a title=&quot;Vanguard Target Retirement 2010&quot; href=&quot;#&quot; target=&quot;new&quot;&gt;Vanguard Target Retirement 2010&lt;/a&gt;&lt;/td&gt;
                                            &lt;td&gt;0%&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;&lt;a title=&quot;Vanguard Target Retirement 2015&quot; href=&quot;#&quot; target=&quot;new&quot;&gt;Vanguard Target Retirement 2015&lt;/a&gt;&lt;/td&gt;
                                            &lt;td&gt;0%&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;&lt;a title=&quot;Vanguard Target Retirement 2020&quot; href=&quot;#&quot; target=&quot;new&quot;&gt;Vanguard Target Retirement 2020&lt;/a&gt;&lt;/td&gt;
                                            &lt;td&gt;0%&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;&lt;a title=&quot;Vanguard Target Retirement 2025&quot; href=&quot;#&quot; target=&quot;new&quot;&gt;Vanguard Target Retirement 2025&lt;/a&gt;&lt;/td&gt;
                                            &lt;td&gt;0%&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;&lt;a title=&quot;Vanguard Target Retirement 2030&quot; href=&quot;#&quot; target=&quot;new&quot;&gt;Vanguard Target Retirement 2030&lt;/a&gt;&lt;/td&gt;
                                            &lt;td&gt;0%&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;&lt;a title=&quot;Vanguard Target Retirement 2035&quot; href=&quot;#&quot; target=&quot;new&quot;&gt;Vanguard Target Retirement 2035&lt;/a&gt;&lt;/td&gt;
                                            &lt;td&gt;0%&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;&lt;a title=&quot;Vanguard Target Retirement 2040&quot; href=&quot;#&quot; target=&quot;new&quot;&gt;Vanguard Target Retirement 2040&lt;/a&gt;&lt;/td&gt;
                                            &lt;td&gt;0%&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;&lt;a title=&quot;Vanguard Target Retirement 2045&quot; href=&quot;#&quot; target=&quot;new&quot;&gt;Vanguard Target Retirement 2045&lt;/a&gt;&lt;/td&gt;
                                            &lt;td&gt;0%&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;&lt;a title=&quot;Vanguard Target Retirement 2050&quot; href=&quot;#&quot; target=&quot;new&quot;&gt;Vanguard Target Retirement 2050&lt;/a&gt;&lt;/td&gt;
                                            &lt;td&gt;0%&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;&lt;a title=&quot;Vanguard Target Retirement 2055&quot; href=&quot;#&quot; target=&quot;new&quot;&gt;Vanguard Target Retirement 2055&lt;/a&gt;&lt;/td&gt;
                                            &lt;td&gt;0%&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;&lt;a title=&quot;Vanguard Target Retirement 2060&quot; href=&quot;#&quot; target=&quot;new&quot;&gt;Vanguard Target Retirement 2060&lt;/a&gt;&lt;/td&gt;
                                            &lt;td&gt;0%&lt;/td&gt;
                                        &lt;/tr&gt;
                                    &lt;/table&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/fieldset&gt;
                &lt;/form&gt;
            &lt;/div&gt;

            &lt;div class=&quot;modal-footer align-center&quot;&gt;
                &lt;a class=&quot;btn btn-secondary&quot; data-dismiss=&quot;modal&quot; href=&quot;#&quot;&gt;Back&lt;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;!-- /slide 44 --&gt;
