&lt;div class=&quot;ad__bg--advice margin-top margin-bottom clearfix rel&quot;&gt;
    &lt;div class=&quot;ad__content--advice&quot;&gt;
        &lt;h2 class=&quot;h3 ad-advice__title&quot;&gt;Get the personalized advice you need to achieve your retirement goals&lt;/h2&gt;
        &lt;p class=&quot;text-center-xs&quot;&gt;
            &lt;span class=&quot;glyphicon glyphicon-facetime-video&quot; role=&quot;presentation&quot;&gt;&lt;/span&gt;
            &lt;a role=&quot;button&quot; data-toggle=&quot;collapse&quot; href=&quot;#embeddedVideoSection&quot; id=&quot;watchVideoLink&quot; aria-expanded=&quot;false&quot; aria-controls=&quot;embeddedVideoSection&quot;&gt;
                Watch a short video!
            &lt;/a&gt;
        &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;&lt;!-- /.ad__bg--advice --&gt;

&lt;div class=&quot;row collapse margin-bottom&quot; id=&quot;embeddedVideoSection&quot;&gt;
    &lt;div class=&quot;col-xs-12&quot;&gt;
        &lt;div class=&quot;embed-responsive embed-responsive-16by9&quot;&gt;
            &lt;!-- No src on purpose lest it plays before requested --&gt;
            &lt;iframe id=&quot;embeddedVideo&quot; data-src=&quot;https://www.youtube.com/embed/NpEaa2P7qZI?autoplay=1&amp;fs=1&amp;iv_load_policy=3&amp;showinfo=0&amp;rel=0&quot; class=&quot;embed-responsive-item&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;script&gt;
    // Only load video when requested, and only once
    $(&quot;#watchVideoLink&quot;).on('click', function(){
        var iframe = $(&quot;#embeddedVideo&quot;);
        if (!!iframe.attr('src')) {
            iframe.attr('src', '');
        } else {
            iframe.attr('src', iframe.data('src'));
        }
    });
&lt;/script&gt;
