            &lt;p&gt;Add any other expected income sources during retirement. We have already added Social Security and your pension.&lt;/p&gt;

            {{# table_retirement_incomes }}
                {{&gt; atoms-table-style2 }}
            {{/ table_retirement_incomes }}

            &lt;div class=&quot;row margin-top-lg&quot;&gt;
                &lt;div class=&quot;col-xs-12 text-center&quot;&gt;
                    &lt;a href=&quot;#&quot; class=&quot;btn btn-primary&quot;&gt;Add a new income&lt;/a&gt;
                &lt;/div&gt;
            &lt;/div&gt;
