&lt;section class=&quot;container-fluid topbar trs-icons-close-btn-after&quot;&gt;
    &lt;div class=&quot;container hidden-xs&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;col-sm-6 col-md-5 pull-left&quot;&gt;
                &lt;ul class=&quot;pull-left&quot;&gt;
                    {{# topbar-tabs }}
                        {{&gt; atoms-topbar-tab }}
                    {{/ topbar-tabs}}
                &lt;/ul&gt;
            &lt;/div&gt;
            &lt;div class=&quot;col-md-4 pull-right text-right&quot;&gt;
                &lt;ul class=&quot;pull-right&quot;&gt;
                    {{# topbar-right }}
                        {{# tab-phone }}
                            {{&gt; atoms-topbar-phone }}
                        {{/ tab-phone }}
                    {{/ topbar-right}}
                &lt;/ul&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;container visible-xs&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;col-xs-12 finpro-col&quot;&gt;
                {{&gt; atoms-topbar-finpro }}
            &lt;/div&gt;
            &lt;div class=&quot;col-md-4 pull-right text-right call-us-col&quot;&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/section&gt;