&lt;form id=&quot;update_profile&quot; method=&quot;post&quot; action=&quot;#&quot;&gt;
  &lt;fieldset&gt;
    &lt;h3 class=&quot;margin-bottom-lg sso--header_20&quot;&gt;Please enter the answer to your security question

&lt;/h3&gt;
        &lt;div class=&quot;field-container&quot;&gt;
          &lt;label for=&quot;question1&quot; class=&quot;margin-bottom-sm sso--header_16&quot;&gt;In what city or town was your first job?&lt;/label&gt;
          &lt;div class=&quot;row&quot;&gt;&lt;div class=&quot;col-sm-6&quot;&gt;&lt;input style=&quot;display:inline-block&quot; type=&quot;text&quot; id=&quot;question1&quot; name=&quot;question1&quot; value=&quot;&quot;  /&gt;&lt;/div&gt;
          &lt;div class=&quot;col-sm-6&quot;&gt;&lt;span class=&quot;left sso--bold_blue&quot; style=&quot;display:inline-block&quot;&gt;Display a new question&lt;/span&gt;&lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
    &lt;div class=&quot;row padding-top-lg&quot;&gt;
      &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;CONTINUE&lt;/button&gt;
        &lt;a href=&quot;#&quot; class=&quot;link--style2 margin-left-lg&quot;&gt;Cancel&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/fieldset&gt;
&lt;/form&gt;
