&lt;table class=&quot;{{{tbl_class}}}&quot;&gt;
    &lt;tbody&gt;
        {{#tr}}
        &lt;tr&gt;
            {{#td}}
            &lt;td class=&quot;{{{td_class}}}&quot;&gt;{{{value}}}&lt;/td&gt;
            {{/td}}
        &lt;/tr&gt;
        {{/tr}}
    &lt;/tbody&gt;
&lt;/table&gt;
