{{# example_heading }}&lt;h2&gt;{{ . }}&lt;/h2&gt;
&lt;div class=&quot;row clearfix&quot;&gt;
    &lt;div class=&quot;col-xs-12 col-sm-6 col-sm-push-6&quot;&gt;{{/ example_heading }}
        &lt;div class=&quot;secondary-banner&quot;&gt;
            &lt;h2 class=&quot;secondary-banner__title&quot;&gt;{{{banner_title}}}&lt;/h2&gt;
            &lt;div class=&quot;secondary-banner__hero embed-responsive-4by3&quot; style=&quot;background-image:url({{banner_hero}});&quot; role=&quot;presentation&quot;&gt;&lt;/div&gt;
            {{{ banner_content }}}
			{{# banner_action }}&lt;div class=&quot;text-center js-bottom-aligned&quot;&gt;{{&gt; atoms-button-link }}&lt;/div&gt;&lt;!-- js-bottom-aligned is optional and needs js in cases of eq-ht-cols and desiring the buttons to align along the bottom of the box --&gt;{{/ banner_action }}
        &lt;/div&gt;
    {{# example_heading }}&lt;/div&gt;
&lt;/div&gt;{{/ example_heading }}