&lt;h1&gt;Managed Advice&lt;/h1&gt;

&lt;h2 class=&quot;caps negative-margin-top margin-bottom-lg&quot;&gt;How you are invested&lt;/h2&gt;

&lt;h2&gt;&lt;em&gt;Managed Advice&lt;/em&gt;&lt;sup&gt;&amp;reg;&lt;/sup&gt; is monitoring and updating your investment mix.&lt;/h2&gt;

&lt;p&gt;Status: &lt;span id=&quot;maSubscribed&quot;&gt;Subscribed&lt;/span&gt; (&lt;a href=&quot;#&quot;&gt;unsubscribe&lt;/a&gt;)&lt;/p&gt;

&lt;h3 class=&quot;margin-top-lg margin-bottom&quot;&gt;&lt;span class=&quot;glyphicon glyphicon-stats&quot; role=&quot;presentation&quot;&gt;&lt;/span&gt; Investment Mix for Your Current Balance and Future Contributions&lt;/h3&gt;

&lt;div class=&quot;row margin-top-lg margin-bottom-lg&quot;&gt;
    &lt;div class=&quot;col-xs-12&quot;&gt;
        &lt;fieldset class=&quot;form-inline text-center bold&quot;&gt;
            &lt;div class=&quot;form-group&quot;&gt;
                &lt;select&gt;
                    &lt;option value=&quot;&quot;&gt;401(k) Retirement Plan of ABC Company&lt;/option&gt;
                    &lt;option value=&quot;&quot;&gt;403 Retirement Plan of ABC Company&lt;/option&gt;
                    &lt;option value=&quot;&quot;&gt;Some other retirement plan of ABC Company&lt;/option&gt;
                &lt;/select&gt;
            &lt;/div&gt;
        &lt;/fieldset&gt;
    &lt;/div&gt;
&lt;/div&gt;

{{&gt; atoms-chart-mixed }}

&lt;div class=&quot;row margin-top-lg margin-bottom-lg&quot;&gt;
    &lt;div class=&quot;col-xs-12&quot;&gt;
        &lt;a href=&quot;{{ link.pages-managed-dashboard-subscribed }}&quot; class=&quot;btn btn-secondary&quot;&gt;Back&lt;/a&gt;
        &lt;a href=&quot;#&quot; class=&quot;btn btn-primary pull-right&quot;&gt;Save&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;table__dcma--no-current-mix&quot;&gt;
{{&gt; molecules-table-dcma-summary }}
&lt;/div&gt;

{{&gt; organisms-managed-account-maintain-stock }}

&lt;div class=&quot;row margin-bottom-lg&quot;&gt;
    &lt;div class=&quot;col-xs-12&quot;&gt;
        &lt;p class=&quot;disclaimer&quot;&gt;
            Balances in a Self-Directed Brokerage Account are not available for investment in the Managed Advice service. Should you choose to maintain these assets in SDBA, you will be restricted from making any additional transfers into SDBA. The assets in your SDBA account will remain, and will not be included in the investment strategy provided through this service. If you choose to liquidate your SDBA account, please contact a representative.
        &lt;/p&gt;
        &lt;p class=&quot;disclaimer&quot;&gt;
            If you wish to impose restrictions on the investment of your account please contact a representative. Please note, if you have imposed restrictions the investment mix above my not precislely match how you will be allocated.
        &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;col-xs-12&quot;&gt;
        &lt;a href=&quot;{{ link.pages-managed-dashboard-subscribed }}&quot; class=&quot;btn btn-secondary&quot;&gt;Back&lt;/a&gt;
        &lt;a href=&quot;#&quot; class=&quot;btn btn-primary pull-right&quot;&gt;Save&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;
