&lt;div&gt;
    &lt;input type=&quot;checkbox&quot; id=&quot;check1&quot; name=&quot;check&quot; /&gt;
    &lt;label for=&quot;check1&quot; rightie&gt;Check Box Example&lt;span role=&quot;checkbox&quot;&gt;&lt;/span&gt;&lt;/label&gt;
&lt;/div&gt;
&lt;div&gt;
    &lt;input type=&quot;checkbox&quot; id=&quot;check2&quot; name=&quot;check&quot; /&gt;
    &lt;label for=&quot;check2&quot; rightie&gt;Check Box Example&lt;span role=&quot;checkbox&quot;&gt;&lt;/span&gt;&lt;/label&gt;
&lt;/div&gt;

&lt;div&gt;
    &lt;input type=&quot;checkbox&quot; id=&quot;check3&quot; name=&quot;check&quot; /&gt;
    &lt;label for=&quot;check3&quot;&gt;&lt;span role=&quot;checkbox&quot;&gt;&lt;/span&gt;Check Box Example&lt;/label&gt;
&lt;/div&gt;
&lt;div&gt;
    &lt;input type=&quot;checkbox&quot; id=&quot;check4&quot; name=&quot;check&quot; /&gt;
    &lt;label for=&quot;check4&quot;&gt;&lt;span role=&quot;checkbox&quot;&gt;&lt;/span&gt;Check Box Example&lt;/label&gt;
&lt;/div&gt;

&lt;div&gt;
    &lt;input type=&quot;checkbox&quot; id=&quot;check7&quot; name=&quot;check&quot; class=&quot;&quot; /&gt;
    &lt;label for=&quot;check7&quot;&gt;
        &lt;span role=&quot;checkbox&quot;&gt;&lt;/span&gt;&lt;span class=&quot;label--block&quot;&gt;Check Box Example With a Really Long Label To Wrap Around On Mobile&lt;/span&gt;
    &lt;/label&gt;
&lt;/div&gt;

&lt;div&gt;
    &lt;input type=&quot;checkbox&quot; id=&quot;check7&quot; name=&quot;check&quot; class=&quot;secondary-input&quot; /&gt;
    &lt;label for=&quot;check7&quot; rightie&gt;Check Box Example&lt;span role=&quot;checkbox&quot;&gt;&lt;/span&gt;&lt;/label&gt;
&lt;/div&gt;
&lt;div&gt;
    &lt;input type=&quot;checkbox&quot; id=&quot;check8&quot; name=&quot;check&quot; class=&quot;secondary-input&quot; /&gt;
    &lt;label for=&quot;check8&quot; rightie&gt;Check Box Example&lt;span role=&quot;checkbox&quot;&gt;&lt;/span&gt;&lt;/label&gt;
&lt;/div&gt;

&lt;div&gt;
    &lt;input type=&quot;checkbox&quot; id=&quot;check5&quot; name=&quot;check&quot; class=&quot;secondary-input&quot; /&gt;
    &lt;label for=&quot;check5&quot;&gt;&lt;span role=&quot;checkbox&quot;&gt;&lt;/span&gt;Check Box Example&lt;/label&gt;
&lt;/div&gt;
&lt;div&gt;
    &lt;input type=&quot;checkbox&quot; id=&quot;check6&quot; name=&quot;check&quot; class=&quot;secondary-input&quot; /&gt;
    &lt;label for=&quot;check6&quot;&gt;&lt;span role=&quot;checkbox&quot;&gt;&lt;/span&gt;Check Box Example&lt;/label&gt;
&lt;/div&gt;

&lt;div&gt;
    &lt;input type=&quot;checkbox&quot; id=&quot;check8&quot; name=&quot;check&quot; class=&quot;secondary-input&quot; /&gt;
    &lt;label for=&quot;check8&quot;&gt;
        &lt;span role=&quot;checkbox&quot;&gt;&lt;/span&gt;&lt;span class=&quot;label--block label--block--secondary&quot;&gt;Check Box Example With a Really Long Label To Wrap Around On Mobile&lt;/span&gt;
    &lt;/label&gt;
&lt;/div&gt;

&lt;hr&gt;
&lt;p&gt;INACTIVE and NON-SELECTABLE&lt;/p&gt;
&lt;div&gt;
    &lt;input type=&quot;checkbox&quot; id=&quot;check55&quot; name=&quot;check&quot; disabled /&gt;
    &lt;label for=&quot;check55&quot;{{! class=&quot;inactive-state&quot;}}&gt;&lt;span role=&quot;checkbox&quot;{{! class=&quot;inactive-state&quot;}}&gt;&lt;/span&gt;Check Box Example&lt;/label&gt;
&lt;/div&gt;
&lt;div&gt;
    &lt;input type=&quot;checkbox&quot; id=&quot;check65&quot; name=&quot;check&quot; class=&quot;secondary-input&quot; disabled /&gt;
    &lt;label for=&quot;check65&quot;{{! class=&quot;inactive-state&quot;}}&gt;&lt;span role=&quot;checkbox&quot;{{! class=&quot;inactive-state&quot;}}&gt;&lt;/span&gt;Check Box Example&lt;/label&gt;
&lt;/div&gt;
