&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;col-xs-7&quot;&gt;
    {{#strong}}&lt;strong&gt;{{/strong}}
      {{name}}
    {{#strong}}&lt;/strong&gt;{{/strong}}
  &lt;/div&gt;
  &lt;div class=&quot;col-xs-5 text-right&quot;&gt;
    {{#strong}}&lt;strong&gt;{{/strong}}
      {{ {{ valueName }} }}
    {{#strong}}&lt;/strong&gt;{{/strong}}
  &lt;/div&gt;
&lt;/div&gt;
