&lt;!-- MANAGED ADVICE --&gt;
&lt;h2 class=&quot;section-title margin-bottom-md&quot;&gt;Managed Advice&lt;/h2&gt;
&lt;div class=&quot;row margin-bottom&quot;&gt;
    &lt;div class=&quot;col-xs-12&quot;&gt;
        &lt;div class=&quot;block block-well&quot;&gt;
            &lt;div class=&quot;well-body&quot;&gt;
                &lt;h2 class=&quot;margin-bottom&quot;&gt;How are you doing?&lt;/h2&gt;
                &lt;div class=&quot;row margin-bottom js-eq-ht-container&quot;&gt;
                    &lt;div class=&quot;col-xs-12 col-sm-6 js-eq-ht-div&quot;&gt;
                        &lt;p&gt;Annual retirement income&lt;/p&gt;
                        {{&gt; molecules-progress-toggler }}
                    &lt;/div&gt;
                    &lt;div class=&quot;col-xs-12 col-sm-6 border-left js-eq-ht-div&quot;&gt;
                        {{&gt; molecules-your-retirement-forecast(omit-forecast-title: true) }}
                    &lt;/div&gt;
                &lt;/div&gt;

                &lt;div class=&quot;row margin-bottom&quot;&gt;
                    &lt;div class=&quot;col-xs-12&quot;&gt;
                        &lt;h2 class=&quot;margin-bottom&quot;&gt;How can you do better?&lt;/h2&gt;
                        {{&gt; atoms-glyphed-bullets }}
                    &lt;/div&gt;
                &lt;/div&gt;
                {{&gt; molecules-buttons-block }}
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;!-- /MANAGED ADVICE --&gt;
