&lt;p class=&quot;padding-bottom&quot;&gt;With Managed Account, not only do our retirement advisors help you create a sound savings strategy while you're still working, but they also help you create a plan for turning your savings into income you can use to enjoy life in retirement.&lt;/p&gt;

&lt;strong&gt;Savings growth during your working years.&lt;/strong&gt;
&lt;p&gt;Ideally, you were able to start saving early in life. The earlier you start, the more time your money has to grow and benefit from the power of compounding interest. This chart illustrates how your invested savings grows with compounded interest compared to regular contributions alone. &lt;/p&gt;

&lt;div class=&quot;padding-bottom padding-top&quot;&gt;{{&gt; atoms-chart-stacked(chart_id: &quot;containerChartStacked&quot;, chart_class: &quot;containerChartStacked&quot;) }}&lt;/div&gt;

&lt;strong&gt;Sources for your retirement income.&lt;/strong&gt;
&lt;p&gt;Re-creating your salary in retirement can be a bit of a puzzle. But our retirement advisors can help you see how all of the pieces can fit together.&lt;/p&gt;

&lt;div class=&quot;padding-bottom padding-top&quot;&gt;{{&gt; atoms-chart-stacked-bar }}&lt;/div&gt;

&lt;strong&gt;Spending your money in retirement.&lt;/strong&gt;
&lt;p&gt;It took decades to build your nest egg; now how do you wisely continue to save for your years of retirement? Our retirement advisors can show you how to smartly withdraw from your various savings accounts in order to help your money last as long as possible.&lt;/p&gt;

&lt;div class=&quot;padding-bottom padding-top&quot;&gt;{{&gt; atoms-chart-stacked(chart_id: &quot;containerChartStacked_spending&quot;, chart_class: &quot;containerChartStacked_spending&quot;) }}&lt;/div&gt;

&lt;div class=&quot;text-center padding-bottom&quot;&gt;
    &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;Speak to an advisor&lt;/button&gt;
    &lt;button type=&quot;button&quot; class=&quot;btn btn-primary margin-top-md__mobile&quot;&gt;Start your income plan&lt;/button&gt;
&lt;/div&gt;

{{&gt; molecules-about-probability-illustrations(api-id: &quot;maIncomeApi&quot;, api-brandservice: &quot;&lt;em&gt;Managed Advice&lt;/em&gt;&lt;sup&gt;&amp;reg;&lt;/sup&gt;&quot;) }}
