&lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;col-xs-12 text&quot;&gt;
        &lt;h2&gt;&lt;em&gt;Managed Advice&lt;/em&gt;&lt;sup&gt;&amp;reg;&lt;/sup&gt; can help you prepare for retirement with confidence.&lt;/h2&gt;

        &lt;p&gt;
            From movie reviews to car-buying guides to selecting a smartphone, everyone is hungry for advice. Retirement planning is no different. We believe everyone deserves access to professional investment advice, so we created a personalized retirement readiness solution that's effective, affordable, and easy to use. We call it &lt;em&gt;Managed Advice&lt;/em&gt;&lt;sup&gt;&amp;reg;&lt;/sup&gt;.
        &lt;/p&gt;
        &lt;p&gt;
            Our team of retirement experts can help you create a personalized strategy by taking a holistic approach to retirement planning.
        &lt;/p&gt;
        &lt;p&gt;
            &lt;strong&gt;Your personalized strategy will include:&lt;/strong&gt;
        &lt;/p&gt;

        &lt;div class=&quot;well well--plain well--rounded&quot;&gt;
            &lt;ul class=&quot;no-vertical-margin&quot;&gt;
                &lt;li&gt;
                    &lt;strong&gt;Setting a &ldquo;retirement income goal.&rdquo;&lt;/strong&gt;
                    Think of your retirement income as your replacement salary. You might not be collecting a regular paycheck from work, so you'll be &quot;paying yourself&quot; with your savings. How much should your annual retirement income be? Our advisors will help you figure it out.
                &lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;

        &lt;div class=&quot;well well--plain well--rounded&quot;&gt;
            &lt;ul class=&quot;no-vertical-margin&quot;&gt;
                &lt;li&gt;
                    &lt;strong&gt;Deciding how much to save to reach your goal.&lt;/strong&gt;
                    Once you know your retirement income goal, our advisors will help you calculate how much you should be saving on a regular basis to help you reach that goal.
                &lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;

        &lt;div class=&quot;well well--plain well--rounded&quot;&gt;
            &lt;ul class=&quot;no-vertical-margin&quot;&gt;
                &lt;li&gt;
                    &lt;strong&gt;Evaluating how your assets and savings &ndash; inside and outside the plan &ndash; fit into the big picture.&lt;/strong&gt;
                    Our advisors will collaborate with you to discuss additional accounts or assets other than your ABC Company retirement plan. They'll use that information to build a customized investment strategy.
                &lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;

        &lt;div class=&quot;well well--plain well--rounded&quot;&gt;
            &lt;ul class=&quot;no-vertical-margin&quot;&gt;
                &lt;li&gt;
                    &lt;strong&gt;Putting your plan into motion.&lt;/strong&gt;
                    Our advisors will discuss how you can turn your savings into retirement income when you are ready to stop working full-time. They'll help you see how Social Security fits into the plan, and how to ensure your savings will last you through retirement.
                &lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;

        &lt;p&gt;
            After helping you create a personalized plan, &lt;em&gt;Managed Account&lt;/em&gt;&lt;sup&gt;&amp;reg;&lt;/sup&gt; monitors your investments and provides the following:
        &lt;/p&gt;

        &lt;ul&gt;
            &lt;li&gt;Rebalances your current investments and redirects new contributions to match your target mix&lt;/li&gt;
            &lt;li&gt;Rebalances your portfolio quarterly to maintain your mix&lt;/li&gt;
            &lt;li&gt;Adjusts your mix to become more conservative as you near retirement&lt;/li&gt;
            &lt;li&gt;Provides Your Retirement Forecast, a real-time gauge of how you're doing as you pursue your goal&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;row margin-top margin-bottom-lg&quot;&gt;
    &lt;div class=&quot;col-xs-12&quot;&gt;
        &lt;div class=&quot;margin-top-lg&quot;&gt;
            &lt;div class=&quot;btn-unit btn-unit-primary-action&quot;&gt;
                &lt;a class=&quot;btn btn-primary&quot; href=&quot;{{ link.pages-lets-get-started }}&quot;&gt;Get started&lt;/a&gt;
            &lt;/div&gt;
            &lt;div class=&quot;btn-unit btn-unit-secondary-action&quot;&gt;
                &lt;a class=&quot;btn btn-secondary&quot; href=&quot;{{ link.pages-managed-advice-splash-non-defaulted }}&quot;&gt;Back&lt;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;col-xs-12&quot;&gt;
        &lt;p&gt;
            Your account will be charged a fee at an annual rate of 0.25% of your account balance (that's $2.08 per $10,000 when applied monthly) in &lt;em&gt;Managed Advice&lt;/em&gt;&lt;sup&gt;&amp;reg;&lt;/sup&gt;. Please refer to the &lt;strong&gt;&lt;a href=&quot;#&quot;&gt;&lt;em&gt;Managed Advice&lt;/em&gt;&lt;sup&gt;&amp;reg;&lt;/sup&gt; Service Agreement&lt;/a&gt;&lt;/strong&gt; for more information, as well as these important details about the &lt;em&gt;Managed Advice&lt;/em&gt;&lt;sup&gt;&amp;reg;&lt;/sup&gt; service offered by ABC Organization.
        &lt;/p&gt;
        &lt;p&gt;
            There are fees associated with receiving advice through the &lt;em&gt;Managed Advice&lt;/em&gt;&lt;sup&gt;&amp;reg;&lt;/sup&gt; service offered by ABC Organization Retirement Advisors. You will have an opportunity to learn more about the service or make other investment choices on the following page. For more information, please see:
        &lt;/p&gt;
        &lt;ul class=&quot;list-box&quot;&gt;
            &lt;li&gt;&lt;a class=&quot;link--style1__rarrow full-width&quot; title=&quot;&quot; href=&quot;#&quot;&gt;&lt;span&gt;ABC Organization Retirement Advisor's Form ADV&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a class=&quot;link--style1__rarrow full-width&quot; title=&quot;&quot; href=&quot;#&quot;&gt;&lt;span&gt;Your Plan's Investment Managers' Form ADV&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;/div&gt;
