&lt;!-- LOAN REFINANCE --&gt;
&lt;table class=&quot;tbl-collapse-cols margin-bottom&quot; aria-describedby=&quot;loan_refinance_caption0001&quot;&gt;
    &lt;caption class=&quot;sr-only&quot; tabindex=&quot;-1&quot; id=&quot;loan_refinance_caption0001&quot;&gt;Details for loan refinance #20151234567ABC.&lt;/caption&gt;

    &lt;!-- head --&gt;
    &lt;tbody class=&quot;full-width&quot;&gt;
        &lt;tr class=&quot;tbl-collapse-cols__col-hdr&quot;&gt;
            &lt;th colspan=&quot;2&quot; class=&quot;padding text-center-xs&quot;&gt;
                &lt;span&gt;Loan Number: 20151234567ABC&lt;/span&gt;
                &lt;span class=&quot;select-loan&quot;&gt;
                    &lt;input type=&quot;checkbox&quot; id=&quot;check3&quot; name=&quot;check&quot;&gt;
                    &lt;label class=&quot;no-vertical-padding&quot; for=&quot;check3&quot;&gt;&lt;span role=&quot;checkbox&quot;&gt;&lt;/span&gt;Select this loan&lt;/label&gt;
                &lt;/span&gt;
            &lt;/th&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
    &lt;!-- /head --&gt;

    &lt;!-- col1 --&gt;
    &lt;tbody&gt;
        &lt;tr&gt;
            &lt;th class=&quot;td heavy-sm&quot;&gt;&lt;span class=&quot;tbl-collapse-cols_-dashes&quot; aria-live=&quot;assertive&quot;&gt;Loan Payoff Amount&lt;/span&gt;&lt;/th&gt;
            &lt;td class=&quot;align-right heavy-sm tbl-collapse-cols_-connect&quot;&gt;&lt;span class=&quot;tbl-collapse-cols_-dashes&quot; aria-live=&quot;assertive&quot;&gt;$3,458.59&lt;/span&gt;&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;th class=&quot;td&quot;&gt;Principal&lt;/th&gt;
            &lt;td class=&quot;align-right &quot;&gt;$926.56&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;th class=&quot;td&quot;&gt;Interest&lt;/th&gt;
            &lt;td class=&quot;align-right &quot;&gt;$2,532.03&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
    &lt;!-- /col1 --&gt;

    &lt;!-- col2 --&gt;
    &lt;tbody&gt;
        &lt;tr class=&quot;tbl-collapse-cols_-bordered tbl-collapse-cols__mbl-hdr&quot;&gt;
            &lt;th class=&quot;td tbl-collapse-cols__pseudo-hdr&quot;&gt;Beginning Balance&lt;/th&gt;
            &lt;td class=&quot;align-right &quot;&gt;$1,000.000&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr class=&quot;tbl-collapse-cols_-bordered&quot;&gt;
            &lt;th class=&quot;td&quot;&gt;Origination Date&lt;/th&gt;
            &lt;td class=&quot;align-right &quot;&gt;05/22/2002&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr class=&quot;tbl-collapse-cols_-bordered&quot;&gt;
            &lt;th class=&quot;td&quot;&gt;Interest Rate&lt;/th&gt;
            &lt;td class=&quot;align-right &quot;&gt;10.5%&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr class=&quot;tbl-collapse-cols_-bordered--end&quot;&gt;
            &lt;th class=&quot;td&quot;&gt;Duration&lt;/th&gt;
            &lt;td class=&quot;align-right &quot;&gt;1 Year&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
    &lt;!-- /col2 --&gt;

    &lt;!-- col3 --&gt;
    &lt;tbody&gt;
        &lt;tr class=&quot;tbl-collapse-cols_-btm-brdr&quot;&gt;
            &lt;th class=&quot;td&quot;&gt;Payment Amount&lt;/th&gt;
            &lt;td class=&quot;align-right &quot;&gt;$1,000.00&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr class=&quot;tbl-collapse-cols_-btm-brdr&quot;&gt;
            &lt;th class=&quot;td&quot;&gt;Payment Frequency&lt;/th&gt;
            &lt;td class=&quot;align-right &quot;&gt;Weekly&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;th class=&quot;td&quot;&gt;Last Payment Received&lt;/th&gt;
            &lt;td class=&quot;align-right &quot;&gt;03/23/2015&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
    &lt;!-- /col3 --&gt;
&lt;/table&gt;
&lt;!-- /LOAN REFINANCE --&gt;
