&lt;li class=&quot;topbar--tab caps {{{ tab-class }}} {{#tab-active}}active{{/tab-active}}&quot;&gt;&lt;a href=&quot;{{{ tab-link }}}&quot; title=&quot;{{{ tab-titletext }}}&quot;&gt;{{{ tab-text }}}&lt;/a&gt;&lt;/li&gt;