&lt;!-- PLA buttons for top of desktop page --&gt;
&lt;a type=&quot;button&quot; class=&quot;btn btn-default btnnavgroup&quot;&gt;
    &lt;span class=&quot;pull-right&quot;&gt;&lt;span class=&quot;glyphicon glyphicon-menu-right btnnavgroupicon&quot; role=&quot;presentation&quot;&gt;&lt;/span&gt;&lt;/span&gt;
    &lt;div class=&quot;btntitle&quot;&gt;Financial Transactions&lt;/div&gt;
&lt;/a&gt;

&lt;a type=&quot;button&quot; class=&quot;btn btn-default btnnavgroup active&quot;&gt;
    &lt;span class=&quot;pull-right&quot;&gt;&lt;span class=&quot;glyphicon glyphicon-menu-right btnnavgroupicon hidden&quot; role=&quot;presentation&quot;&gt;&lt;/span&gt;&lt;/span&gt;
    &lt;div class=&quot;btntitle&quot;&gt;Policy Details&lt;/div&gt;
&lt;/a&gt;
