&lt;!-- PAGE BANNER --&gt;
{{&gt; molecules-splash-banner-generic }}

&lt;form class=&quot;form-inline ontrack__form&quot;&gt;

&lt;!-- PAGE METER --&gt;
{{# page-meter }}
{{&gt; molecules-page-meter }}
{{/ page-meter }}

    &lt;fieldset&gt;
        &lt;div class=&quot;mob__panel&quot;&gt;
            &lt;div class=&quot;row clearfix&quot;&gt;
                &lt;div class=&quot;col-xs-12 col-sm-6&quot;&gt;
                    &lt;label for=&quot;income_input&quot;&gt;What percentage of your current household income will you need in retirement?
                    &lt;span class=&quot;small display-block&quot;&gt;(Many experts recommend at least 80%.)&lt;/span&gt;&lt;/label&gt;
                &lt;/div&gt;
                &lt;div class=&quot;hidden-xs col-sm-4&quot;&gt;
                    &lt;input type=&quot;range&quot; id=&quot;income_slider&quot; min=&quot;0&quot; data-min=&quot;0&quot; max=&quot;100&quot; data-max=&quot;0&quot; value=&quot;80&quot; data-value=&quot;80&quot; data-output=&quot;income_input&quot; data-orientation=&quot;horizontal&quot; data-tooltip-active=&quot;false&quot; data-pips=&quot;false&quot; data-on-slider-stop=&quot;estimatedIncomeNeed&quot; /&gt;
                &lt;/div&gt;
                &lt;div class=&quot;col-xs-12 col-sm-2 padding-left-sm&quot;&gt;
                    &lt;div class=&quot;form-group has-feedback retirement-income-goal&quot;&gt;
                        &lt;span role=&quot;presentation&quot; class=&quot;glyphicon form-control-feedback&quot;&gt;&lt;/span&gt;
                        &lt;input type=&quot;number&quot; pattern=&quot;\d*&quot; autocomplete=&quot;off&quot; class=&quot;form-control percentage bold&quot; id=&quot;income_input&quot; required aria-required=&quot;true&quot; min=&quot;0&quot; max=&quot;100&quot; value=&quot;80&quot; /&gt;
                        &lt;label for=&quot;income_input&quot; class=&quot;control-label aligner bold&quot;&gt;%&lt;/label&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;hr class=&quot;hidden-xs&quot; /&gt;
        &lt;p class=&quot;text-center-xs margin-top&quot;&gt;Based on this goal, we've calculated your estimated retirement income below, which includes  Social Security, all ABC Company-administered plan accounts, and any other information you've entered so far.&lt;/p&gt;

        &lt;div class=&quot;margin-bottom&quot;&gt;
        {{&gt; molecules-progress-toggler }}
        &lt;/div&gt;

        &lt;ul class=&quot;list-group no-shadow&quot;&gt;
            &lt;!-- &lt;li class=&quot;list-group-item&quot;&gt;
                &lt;div class=&quot;row clearfix&quot;&gt;
                    &lt;div class=&quot;col-xs-8 col-sm-9&quot;&gt;Current household income:&lt;/div&gt;
                    &lt;div class=&quot;col-xs-4 col-sm-3&quot;&gt;
                        &lt;span class=&quot;pull-right js-progress-current-income js-annual-nums&quot;&gt;$82,250&lt;/span&gt;
                        &lt;span class=&quot;pull-right js-progress-current-income-mo js-monthly-nums&quot; style=&quot;display:none;&quot;&gt;$6,854&lt;/span&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/li&gt; --&gt;
            &lt;li class=&quot;list-group-item&quot;&gt;
                &lt;div class=&quot;row clearfix&quot;&gt;
                    &lt;div class=&quot;col-xs-8 col-sm-9&quot;&gt;We've estimated your retirement income to total:&lt;/div&gt;
                    &lt;div class=&quot;col-xs-4 col-sm-3&quot;&gt;
                        &lt;span class=&quot;pull-right js-progress-projected-income js-annual-nums&quot;&gt;$21,900&lt;/span&gt;
                        &lt;span class=&quot;pull-right js-progress-projected-income-mo js-monthly-nums&quot; style=&quot;display:none;&quot;&gt;$1,825&lt;/span&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/li&gt;
            &lt;li class=&quot;list-group-item&quot;&gt;
                &lt;div class=&quot;row clearfix&quot;&gt;
                    &lt;div class=&quot;col-xs-8 col-sm-9&quot;&gt;Based on your goal, your current household income will be:&lt;/div&gt;
                    &lt;div class=&quot;col-xs-4 col-sm-3&quot;&gt;
                        &lt;span class=&quot;pull-right js-progress-goal-income js-annual-nums&quot;&gt;$65,800&lt;/span&gt;
                        &lt;span class=&quot;pull-right js-progress-goal-income-mo js-monthly-nums&quot; style=&quot;display:none;&quot;&gt;$5,483&lt;/span&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/li&gt;
            &lt;li class=&quot;list-group-item bold&quot;&gt;
                &lt;div class=&quot;row clearfix&quot;&gt;
                    &lt;div class=&quot;col-xs-8 col-sm-9&quot;&gt;This leaves you with a &lt;span class=&quot;js-gap-text&quot;&gt;gap&lt;/span&gt; of:&lt;/div&gt;
                    &lt;div class=&quot;col-xs-4 col-sm-3&quot;&gt;
                        &lt;span class=&quot;pull-right js-progress-income-gap js-annual-nums&quot;&gt;-$43,900&lt;/span&gt;
                        &lt;span class=&quot;pull-right js-progress-income-gap-mo js-monthly-nums&quot; style=&quot;display:none;&quot;&gt;-$3,658&lt;/span&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/li&gt;
        &lt;/ul&gt;

        &lt;div class=&quot;alert alert-caution js-income-gap-alert&quot; style=&quot;display:block;&quot;&gt;
            &lt;div class=&quot;alert-icon&quot;&gt;
            	&lt;span class=&quot;trs-icons-alert-caution  alert-icon-size&quot; role=&quot;presentation&quot;&gt;&lt;/span&gt;&lt;/div&gt;
            &lt;div class=&quot;alert-message bold&quot;&gt;
                &lt;p class=&quot;js-income-gap-msg no-vertical-margin&quot;&gt;Don't worry! Let's start closing the gap by creating a personalized plan that includes all of your assets.&lt;/p&gt;
                &lt;p class=&quot;js-income-surplus-msg no-vertical-margin&quot; style=&quot;display:none;&quot;&gt;Great job on reaching your target income! Let's make sure you stay on track with your investment allocations.&lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;

    &lt;/fieldset&gt;

    {{&gt; molecules-buttons-block }}
&lt;/form&gt;

{{&gt; molecules-about-probability-illustrations(api-id: &quot;nWhatsYourGoalApi&quot;, api-brandservice: &quot;&lt;em&gt;OnTrack&lt;/em&gt;&lt;sup&gt;&amp;reg;&lt;/sup&gt;&quot;) }}
