&lt;ul class=&quot;breadcrumbs clearfix&quot; id=&quot;crumb_box&quot; aria-label=&quot;Summary of account&quot;&gt;
	{{#breadcrumbs}}
	&lt;li class=&quot;{{class}}&quot; id=&quot;{{id}}&quot;&gt;{{{data}}}&lt;/li&gt;
	{{/breadcrumbs}}
&lt;/ul&gt;