{{&gt; molecules-splash-banner-generic }}

&lt;h1&gt;You've subscribed to peace of mind.&lt;/h1&gt;

{{&gt; molecules-page-meter }}

&lt;p&gt;This is it, we'll take it from here. Subscribing to Managed Account means we've got your back and you're one step closer to a financially fit retirement.&lt;/p&gt;

&lt;hr&gt;

&lt;h2 class=&quot;margin-bottom&quot;&gt;What happens next&lt;/h2&gt;

{{&gt; atoms-vertical-circles }}

&lt;div class=&quot;row margin-top-lg&quot;&gt;
    &lt;div class=&quot;col-xs-12 text-center&quot;&gt;
        &lt;a href=&quot;{{ link.pages-managed-dashboard-subscribed }}&quot; class=&quot;btn btn-primary&quot;&gt;Go to my account&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;p class=&quot;disclaimer text-center&quot;&gt;If you've subscribed to &lt;em&gt;Managed Advice&lt;/em&gt;&lt;sup&gt;&amp;reg;&lt;/sup&gt; after 4PM ET, the service will be activated the next business day.&lt;/p&gt;
