
{{# progressbar }}
{{# sample_heading}}&lt;h1 class=&quot;margin-top-lg&quot;&gt;{{.}}&lt;/h1&gt;{{/ sample_heading}}

{{#progressbar_heading}}&lt;h2 class=&quot;margin-bottom text-center regular&quot;&gt;{{progressbar_heading}}&lt;/h2&gt;{{/progressbar_heading}}
&lt;div class=&quot;text-center js-progress-unit form-inline clearfix&quot;&gt;
    {{#progress_radio_name}}
    &lt;fieldset&gt;
        &lt;legend class=&quot;sr-only&quot;&gt;Toggle the buttons to view income goals on an annual or monthly basis&lt;/legend&gt;
        &lt;div class=&quot;btn-group btn-toggle progress__unit-btn margin-top-md&quot; data-toggle=&quot;buttons&quot;&gt;
            &lt;label for=&quot;{{radio_1.id}}&quot; class=&quot;btn js-btn-radio active&quot;&gt;
                &lt;input type=&quot;radio&quot; id=&quot;{{radio_1.id}}&quot; name=&quot;{{progress_radio_name}}&quot; value=&quot;annual&quot; checked class=&quot;js-annual-radio&quot;&gt;
                {{radio_1.text}}
            &lt;/label&gt;
            &lt;label for=&quot;{{radio_2.id}}&quot; class=&quot;btn js-btn-radio&quot;&gt;
                &lt;input type=&quot;radio&quot; id=&quot;{{radio_2.id}}&quot; name=&quot;{{progress_radio_name}}&quot; value=&quot;monthly&quot; class=&quot;js-monthly-radio&quot;&gt;
                {{radio_2.text}}
            &lt;/label&gt;
        &lt;/div&gt;
    &lt;/fieldset&gt;
    {{/progress_radio_name}}

    &lt;div class=&quot;progress progress__income-gap&quot;&gt;&lt;!-- this is the red bar --&gt;
        &lt;div class=&quot;progress-bar progress-bar-info&quot; id=&quot;{{progressbar_id}}&quot; role=&quot;progressbar&quot; aria-valuenow=&quot;{{progress_val.now}}&quot; aria-valuemin=&quot;{{progress_val.min}}&quot; aria-valuemax=&quot;{{progress_val.max}}&quot; style=&quot;width: {{progress_val.percent}}%&quot;&gt;&lt;!-- this is the blue bar. if value is over 100%, make 100% --&gt;
            &lt;span class=&quot;progress__income-gap--current&quot;&gt;
                Income:
                {{# progress_now}}
                &lt;span class=&quot;js-annual-progress {{# class}}{{.}}{{/ class}}&quot;&gt;{{txt}}&lt;/span&gt;
                &lt;span class=&quot;js-monthly-progress {{# class}}{{.}}-mo{{/ class}}&quot; style=&quot;display:none;&quot;&gt;{{txt-mo}}&lt;/span&gt;
                {{/ progress_now}}
                {{# progress_max}}
                out of
                &lt;span class=&quot;js-annual-progress {{# class}}{{.}}{{/ class}}&quot;&gt;{{txt}}&lt;/span&gt;
                &lt;span class=&quot;js-monthly-progress {{# class}}{{.}}-mo{{/ class}}&quot; style=&quot;display:none;&quot;&gt;{{txt-mo}}&lt;/span&gt;
                {{/ progress_max}}
            &lt;/span&gt;
            {{# progress_gap}}
            &lt;span class=&quot;progress__income-gap--alert {{# status}}{{.}}{{/ status}}&quot;&gt;
                &lt;span class=&quot;js-progress-gap__label&quot;&gt;Gap:&lt;/span&gt;
                &lt;span class=&quot;js-annual-progress {{# class}}{{.}}{{/ class}}&quot;&gt;{{txt}}&lt;/span&gt;
                &lt;span class=&quot;js-monthly-progress {{# class}}{{.}}-mo{{/ class}}&quot; style=&quot;display:none;&quot;&gt;{{txt-mo}}&lt;/span&gt;
            &lt;/span&gt;
            {{/ progress_gap}}
        &lt;/div&gt;

        {{# progress_goal}}
        &lt;div class=&quot;progress-bar-complete progress-bar-success&quot; {{#percent}}style=&quot;width: {{.}}%&quot;{{/percent}} aria-labelledby=&quot;{{span_id}}&quot; id=&quot;progress_bar_goal&quot;&gt;&lt;!-- this is the green bar represented as goal &divide; actual * 100 --&gt;
            &lt;span class=&quot;progress__income-gap--goal&quot; id=&quot;{{label_id}}&quot;&gt;
                Income Goal:
                &lt;span class=&quot;js-annual-progress {{# class}}{{.}}{{/ class}}&quot;&gt;{{txt}}&lt;/span&gt;
                &lt;span class=&quot;js-monthly-progress {{# class}}{{.}}-mo{{/ class}}&quot; style=&quot;display:none;&quot;&gt;{{txt-mo}}&lt;/span&gt;
            &lt;/span&gt;
        &lt;/div&gt;
        {{/ progress_goal}}
    &lt;/div&gt;
&lt;/div&gt;
{{/ progressbar }}

{{# include_js}}&lt;!-- should only be done once per page --&gt;
&lt;script src=&quot;../../../js/dcma.js&quot;&gt;&lt;/script&gt;
{{/ include_js}}
