
    &lt;div class=&quot;form-group&quot;&gt;
        {{!&lt;span role=&quot;presentation&quot; class=&quot;glyphicon glyphicon-XXX form-control-feedback&quot;&gt;&lt;/span&gt;}}
        &lt;select id=&quot;{{ select-id }}&quot; class=&quot;form-control&quot;&gt;
            &lt;option&gt;{{ option1 }}&lt;/option&gt;
            &lt;option&gt;{{ option2 }}&lt;/option&gt;
            &lt;option&gt;{{ option3 }}&lt;/option&gt;
            &lt;option&gt;{{ option4 }}&lt;/option&gt;
        &lt;/select&gt;
    &lt;/div&gt;

&lt;hr&gt;

    &lt;div class=&quot;form-group multiple&quot;&gt;
        {{!&lt;span role=&quot;presentation&quot; class=&quot;glyphicon glyphicon-XXX form-control-feedback&quot;&gt;&lt;/span&gt;}}
        &lt;select id=&quot;{{ select-id }}&quot; class=&quot;form-control&quot; multiple&gt;
            &lt;option&gt;{{ option1 }}&lt;/option&gt;
            &lt;option&gt;{{ option2 }}&lt;/option&gt;
            &lt;option&gt;{{ option3 }}&lt;/option&gt;
            &lt;option&gt;{{ option4 }}&lt;/option&gt;
        &lt;/select&gt;
    &lt;/div&gt;
