    &lt;h1&gt;&lt;em&gt;Managed Advice&lt;/em&gt;&lt;sup&gt;&amp;reg;&lt;/sup&gt;&lt;/h1&gt;
    &lt;h2 class=&quot;negative-margin-top margin-bottom-lg&quot;&gt;Income Planning&lt;/h2&gt;

    {{&gt; molecules-ontrack-tabs }}

    &lt;div class=&quot;tab-content&quot;&gt;
        &lt;div class=&quot;tab-pane active&quot; id=&quot;tab1&quot;&gt;
            {{&gt; organisms-managed-account-income-tab }}
        &lt;/div&gt;
        &lt;div class=&quot;tab-pane&quot; id=&quot;tab2&quot;&gt;
            {{&gt; organisms-managed-account-budget-tab }}
        &lt;/div&gt;
        &lt;div class=&quot;tab-pane&quot; id=&quot;tab3&quot;&gt;
            {{&gt; organisms-managed-account-social-security-tab }}
        &lt;/div&gt;
    &lt;/div&gt;
