{{# ad_banner }}
&lt;div class=&quot;primary-banner__wrapper{{# banner_class}} {{.}}{{/ banner_class}}&quot; style=&quot;background-image: url({{{ banner_bg }}});&quot;&gt;
    {{# banner_hero }}&lt;div class=&quot;primary-banner__hero&quot; style=&quot;background:url({{{.}}});&quot; role=&quot;presentation&quot;&gt;&lt;/div&gt;{{/ banner_hero }}
    {{# banner_title }}&lt;{{html_tag}} class=&quot;primary-banner__title&quot;&gt;{{{ text }}}&lt;/{{html_tag}}&gt;{{/ banner_title }}
    {{# banner_subtitle }}&lt;{{html_tag}} class=&quot;primary-banner__subtitle&quot;&gt;{{{ text }}}&lt;/{{html_tag}}&gt;{{/ banner_subtitle }}
	{{# banner_content }}{{{ . }}}{{/ banner_content }}
&lt;/div&gt;
{{# example_spacer }}&lt;hr /&gt;{{/ example_spacer }}
{{/ ad_banner }}