&lt;p&gt;Squares for dashboard legend or other applications&lt;/p&gt;
&lt;p&gt;&lt;span class=&quot;box-sm graph-color3&quot;&gt;&lt;/span&gt; &lt;span class=&quot;box-md graph-color3&quot;&gt;&lt;/span&gt; &lt;span class=&quot;box-lg graph-color3&quot;&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span class=&quot;box-sm graph-color2&quot;&gt;&lt;/span&gt; &lt;span class=&quot;box-md graph-color2&quot;&gt;&lt;/span&gt; &lt;span class=&quot;box-lg graph-color2&quot;&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span class=&quot;box-sm graph-color1&quot;&gt;&lt;/span&gt; &lt;span class=&quot;box-md graph-color1&quot;&gt;&lt;/span&gt; &lt;span class=&quot;box-lg graph-color1&quot;&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span class=&quot;box-sm graph-color4&quot;&gt;&lt;/span&gt; &lt;span class=&quot;box-md graph-color4&quot;&gt;&lt;/span&gt; &lt;span class=&quot;box-lg graph-color4&quot;&gt;&lt;/span&gt;&lt;/p&gt;