
&lt;div class=&quot;row margin-bottom&quot;&gt;
    &lt;div class=&quot;col-xs-12 js-eq-ht-container&quot;&gt;
        &lt;div class=&quot;block block-well col-xs-12 col-sm-7 block-left border-right-collapse js-eq-ht-div&quot;&gt;
            &lt;div class=&quot;well-body&quot;&gt;
            	{{# progress_toggle_1 }}
                {{&gt; molecules-progress-toggler }}
                {{/ progress_toggle_1 }}
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;block block-well col-xs-12 col-sm-5 block-right js-eq-ht-div&quot;&gt;
            &lt;div class=&quot;well-body&quot;&gt;
                {{&gt; molecules-your-retirement-forecast }}
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
