&lt;button type=&quot;button&quot; class=&quot;btn btn-login {{btnClass}}&quot;&gt;&lt;span class=&quot;trs-icons-lock hidden-xs&quot; role=&quot;presentation&quot;&gt;&lt;/span&gt;LOGIN&lt;/button&gt;
