&lt;!-- Secondary link-based button --&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-secondary&quot;&gt;Secondary Button&lt;/a&gt;

&lt;a href=&quot;#&quot; class=&quot;btn btn-secondary disabled&quot; disabled=&quot;disabled&quot;&gt;Secondary Disabled&lt;/a&gt;
