&lt;div class=&quot;clearfix&quot;&gt;&lt;/div&gt;

&lt;ul class=&quot;list--circles&quot;&gt;
	{{# circles-list }}
		&lt;li&gt;
			&lt;div&gt;
				&lt;span class=&quot;list--circles__icon {{ icon-class }}&quot;&gt;&lt;/span&gt;
				&lt;p&gt;
					{{ title }}
				&lt;/p&gt;
			&lt;/div&gt;
		&lt;/li&gt;
	{{/ circles-list }}
&lt;/ul&gt;
