&lt;form id=&quot;update_profile&quot; method=&quot;post&quot; action=&quot;#&quot;&gt;
  &lt;fieldset&gt;
    &lt;h3 class=&quot;heading-section&quot;&gt;Because you haven't logged in from this device before, we need to
verify your identity.&lt;/h3&gt;
    &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;div class=&quot;field-container&quot;&gt;
          &lt;label for=&quot;question1&quot;&gt;What's your favorite food?&lt;/label&gt;
          &lt;input type=&quot;text&quot; id=&quot;question1&quot; name=&quot;question1&quot; value=&quot;&quot;  /&gt;
          &lt;p class=&quot;padding-top&quot;&gt;&lt;a href=&quot;&quot;&gt;&lt;img src=&quot;../../../images/rotate.png&quot; width=&quot;28&quot; height=&quot;29&quot; alt=&quot;&quot;/&gt; &lt;strong&gt;Get another question&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;row&quot;&gt;
      &lt;hr&gt;
    &lt;/div&gt;
    &lt;h3 class=&quot;heading-section&quot;&gt;Remember this device?&lt;sup class=&quot;required&quot;&gt;*&lt;/sup&gt;&lt;/h3&gt;
    &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;col-xs-12 col-sm-6&quot;&gt;
        &lt;div class=&quot;field-container&quot;&gt;
          &lt;div class=&quot;col-xs-2&quot;&gt;
            &lt;input type=&quot;radio&quot; id=&quot;yes&quot; name=&quot;device&quot; &gt;
            &lt;label for=&quot;yes&quot;&gt;&lt;span role=&quot;radio&quot;&gt;&lt;/span&gt;&lt;/label&gt;
          &lt;/div&gt;
          &lt;div class=&quot;col-xs-10&quot;&gt;&lt;strong&gt;Yes&lt;/strong&gt;, this is a private device. Make my login easier next time.&lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;col-xs-12 col-sm-6 padding-top-md__mobile&quot;&gt;
        &lt;div class=&quot;field-container&quot;&gt;
          &lt;div class=&quot;col-xs-2&quot;&gt;
            &lt;input type=&quot;radio&quot; id=&quot;no&quot; name=&quot;device&quot; &gt;
            &lt;label for=&quot;no&quot;&gt;&lt;span role=&quot;radio&quot;&gt;&lt;/span&gt;&lt;/label&gt;
          &lt;/div&gt;
          &lt;div class=&quot;col-xs-10&quot;&gt;&lt;strong&gt;No&lt;/strong&gt;, this is a shared or public device. Be sure to ask security questions every time.&lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;row padding-top-lg&quot;&gt;
      &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;LOGIN&lt;/button&gt;
        &lt;button type=&quot;button&quot; class=&quot;btn btn-secondary&quot;&gt;Cancel&lt;/button&gt;
      &lt;/div&gt;
      &lt;div class=&quot;col-sm-6 text-right&quot;&gt;
        &lt;p&gt;&lt;i&gt;&lt;sup class=&quot;required&quot;&gt;*&lt;/sup&gt;Required Fields&lt;/i&gt;&lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/fieldset&gt;
&lt;/form&gt;
