&lt;h3 class=&quot;h5 bold margin-bottom&quot;&gt;Maximizing Social Security&lt;/h3&gt;

&lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;col-xs-12 visible-xs text-center&quot;&gt;
        &lt;img src=&quot;../../images/dcma/dcma-social-security.jpg&quot; alt=&quot;&quot; class=&quot;display-inline-block img-responsive margin-bottom&quot; role=&quot;presentation&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-xs-12 col-sm-8&quot;&gt;
        &lt;p&gt;Social Security can play an important role for many in retirement. There are different strategies for how and when to elect your benefits.&lt;/p&gt;
        &lt;p&gt;Our retirement advisors can help you maximize your Social Security benefit and discuss the role it can play in your retirement income strategy.&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-sm-4 hidden-xs&quot;&gt;
        &lt;img src=&quot;../../images/dcma/dcma-social-security.jpg&quot; alt=&quot;&quot; class=&quot;img-responsive margin-bottom&quot; role=&quot;presentation&quot;&gt;
    &lt;/div&gt;
&lt;/div&gt;
{{!&gt; molecules-buttons-block }}
&lt;div class=&quot;row margin-top&quot;&gt;
    &lt;div class=&quot;col-xs-12 text-center&quot;&gt;
        &lt;a href=&quot;#&quot; class=&quot;btn btn-primary&quot;&gt;Schedule an appointment&lt;/a&gt;
        &lt;a href=&quot;#&quot; class=&quot;btn btn-primary btn__mobile-stack&quot;&gt;Attend a webinar&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;
