&lt;p&gt;To understand your annual retirement income goal you need to understand your budget in retirement. We have created a retirement budget below which you can customize.&lt;/p&gt;

{{&gt; molecules-household-retirement-budget-table-chart }}

&lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;col-xs-12 text-center&quot;&gt;
        &lt;a href=&quot;#&quot; class=&quot;btn btn-primary&quot;&gt;Save&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;
