&lt;div class=&quot;desktopDashboard&quot;&gt;
    &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;col-xs-8&quot;&gt;&lt;h1&gt;My BENCOR Products&lt;/h1&gt;&lt;/div&gt;
        &lt;div class=&quot;col-xs-4 text-right__desktop&quot;&gt;&lt;img src=&quot;../../images/sample/bencor-logo.png&quot;/&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;h2 class=&quot;sso--h2&quot;&gt;RETIREMENT PLANS &lt;span class=&quot;white-label__phone&quot;&gt;(800) 355-4556&lt;/span&gt;&lt;/h2&gt;
    &lt;hr class=&quot;sso--hr sso__black&quot;&gt;
    {{# table_a }}
        &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;col-xs-6 sso--section-title padding-bottom-md__desktop&quot;&gt;{{{ tbl_title }}}&lt;/div&gt;
            &lt;div class=&quot;col-xs-6 text-right sso--section-title__date&quot;&gt;&lt;span class=&quot;sr-only&quot;&gt; Accounts &lt;/span&gt; As of
                01/01/2015
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;visible-xs text-border-top padding-top padding-bottom-md&quot;&gt;&lt;strong&gt;Total DC Balance:&lt;/strong&gt;
            $400,000.20
        &lt;/div&gt;
        {{&gt; atoms-table-style2 }}
    {{/ table_a }}


    &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;col-xs-8&quot;&gt;&lt;h1&gt;My Transamerica Products&lt;/h1&gt;&lt;/div&gt;
        &lt;div class=&quot;col-xs-4 text-right__desktop&quot;&gt;&lt;img src=&quot;../../images/sample/transamerica-logo-white.png&quot;/&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;h2 class=&quot;sso--h2&quot;&gt;RETIREMENT PLANS &lt;span class=&quot;white-label__phone&quot;&gt;(800) 355-4556&lt;/span&gt;&lt;/h2&gt;
    &lt;hr class=&quot;sso--hr sso__black&quot;&gt;
    {{# table_a }}
        &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;col-xs-6 sso--section-title padding-bottom-md__desktop&quot;&gt;{{{ tbl_title }}}&lt;/div&gt;
            &lt;div class=&quot;col-xs-6 text-right sso--section-title__date&quot;&gt;&lt;span class=&quot;sr-only&quot;&gt; Accounts &lt;/span&gt; As of
                01/01/2015
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;visible-xs text-border-top padding-top padding-bottom-md&quot;&gt;&lt;strong&gt;Total DC Balance:&lt;/strong&gt;
            $400,000.20
        &lt;/div&gt;
        {{&gt; atoms-table-style2 }}
    {{/ table_a }}
&lt;/div&gt;

&lt;!--START MOBILE DASHBOARD--&gt;
&lt;div class=&quot;mobileDashboard row noprint&quot;&gt;
    &lt;div class=&quot;panel-group sso--dashboard&quot; id=&quot;myProductsBencor&quot;&gt;
        &lt;div class=&quot;col-sm-8&quot;&gt;&lt;h1 class=&quot;no-vertical-margin padding-bottom&quot;&gt;My BENCOR Products&lt;/h1&gt;&lt;/div&gt;
        &lt;div class=&quot;col-sm-4 text-center padding-bottom&quot;&gt;&lt;img src=&quot;../../images/sample/bencor-logo.png&quot;/&gt;&lt;/div&gt;
        &lt;!--START PANEL GROUP--&gt;
        &lt;div class=&quot;panel panel-default&quot;&gt;
            &lt;div class=&quot;accordion-toggle panel-heading&quot; data-toggle=&quot;collapse&quot; data-parent=&quot;#myProductsBencor&quot;
                 href=&quot;#panel_1&quot; aria-expanded=&quot;true&quot;&gt;
                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-xs-10 sso--accordion_title&quot;&gt;RETIREMENT PLANS&lt;/div&gt;
                    &lt;div class=&quot;col-xs-2 text-right&quot;&gt;&lt;span class=&quot;glyphicon glyphicon-plus-sign&quot;
                                                           aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;&lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;div id=&quot;panel_1&quot; class=&quot;panel-collapse collapse   in&quot;&gt;
                &lt;div class=&quot;panel-body&quot;&gt;
                    &lt;!--START GROUP--&gt;
                    &lt;div class=&quot;row&quot;&gt;
                        &lt;div class=&quot;col-xs-12 text-center sso--headline&quot;&gt;
                            &lt;h3&gt;Defined Contribution&lt;/h3&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;!--START PLAN--&gt;
                    &lt;div class=&quot;sso--plan&quot;&gt;
                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-xs-12 sso--plan_headline&quot;&gt;Plan Name:&lt;br&gt;
                                EFG 401(k) Even Longer Line 2
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-xs-6&quot;&gt;&lt;span class=&quot;sso--font1&quot;&gt;QA99999 00001&lt;/span&gt;&lt;br&gt;
                                &lt;span class=&quot;sso--font2&quot;&gt;Plan Number&lt;/span&gt;&lt;/div&gt;
                            &lt;div class=&quot;col-xs-6 text-right&quot;&gt;&lt;span class=&quot;sso--font1&quot;&gt;$200,000.20&lt;/span&gt;&lt;br&gt;
                                &lt;span class=&quot;sso--font2&quot;&gt;Plan Balance&lt;/span&gt;&lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-xs-12 col-bold text-center&quot;&gt;
                                &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot; data-toggle=&quot;modal&quot;
                                        data-target=&quot;#modal-1&quot;&gt;DETAILS
                                &lt;/button&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;!--END PLAN--&gt;
                    &lt;!--START PLAN--&gt;
                    &lt;div class=&quot;sso--plan&quot;&gt;
                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-xs-12 sso--plan_headline&quot;&gt;Plan Name:&lt;br&gt;
                                Transamerica and Aegon Compliance Employee 401(k)
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-xs-6&quot;&gt;&lt;span class=&quot;sso--font1&quot;&gt;QA99999 00001&lt;/span&gt;&lt;br&gt;
                                &lt;span class=&quot;sso--font2&quot;&gt;Plan Number&lt;/span&gt;&lt;/div&gt;
                            &lt;div class=&quot;col-xs-6 text-right&quot;&gt;&lt;span class=&quot;sso--font1&quot;&gt;$200,000.20&lt;/span&gt;&lt;br&gt;
                                &lt;span class=&quot;sso--font2&quot;&gt;Plan Balance&lt;/span&gt;&lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-xs-12 col-bold text-center&quot;&gt;
                                &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot; data-toggle=&quot;modal&quot;
                                        data-target=&quot;#modal-1&quot;&gt;DETAILS
                                &lt;/button&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;!--END PLAN--&gt;

                    &lt;!--START TOTALS--&gt;
                    &lt;div class=&quot;row sso--totals&quot;&gt;
                        &lt;div class=&quot;col-xs-6 text-left&quot;&gt;Total DC Balance:&lt;/div&gt;
                        &lt;div class=&quot;col-xs-6 text-right&quot;&gt;$400,000.40&lt;/div&gt;
                    &lt;/div&gt;
                    &lt;!--END TOTALS--&gt;
                    &lt;!--END GROUP--&gt;
                    &lt;!--START GROUP--&gt;
                    &lt;div class=&quot;row&quot;&gt;
                        &lt;div class=&quot;col-xs-12 text-center sso--headline&quot;&gt;
                            &lt;h3&gt;Related Defined&lt;br&gt;
                                Contribution Plans&lt;/h3&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;!--START PLAN--&gt;
                    &lt;div class=&quot;sso--plan&quot;&gt;
                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-xs-12 sso--plan_headline&quot;&gt;Employee/Provider:&lt;br&gt;
                                North Shore-LIJ Health System/Provider: LINCOLN - PENFACTS
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-xs-6&quot;&gt;&lt;span class=&quot;sso--font1&quot;&gt;L44574F5#11-2241326&lt;/span&gt;&lt;br&gt;
                                &lt;span class=&quot;sso--font2&quot;&gt;Plan Number&lt;/span&gt;&lt;/div&gt;
                            &lt;div class=&quot;col-xs-6 text-right&quot;&gt;&lt;span class=&quot;sso--font3&quot;&gt;As of 02/12/2016&lt;/span&gt; &lt;span
                                    class=&quot;sso--font1&quot;&gt;$200,000.20&lt;/span&gt;&lt;br&gt;
                                &lt;span class=&quot;sso--font2&quot;&gt;Plan Balance&lt;/span&gt;&lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-xs-12 col-bold text-center&quot;&gt;
                                &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot; data-toggle=&quot;modal&quot;
                                        data-target=&quot;#modal-1&quot;&gt;DETAILS
                                &lt;/button&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;!--END PLAN--&gt;
                    &lt;!--START PLAN--&gt;
                    &lt;div class=&quot;sso--plan&quot;&gt;
                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-xs-12 sso--plan_headline&quot;&gt;Plan Name:&lt;br&gt;
                                EFG 401(k) Even Longer Line 2
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-xs-6&quot;&gt;&lt;span class=&quot;sso--font1&quot;&gt;QA99999 00001&lt;/span&gt;&lt;br&gt;
                                &lt;span class=&quot;sso--font2&quot;&gt;Plan Number&lt;/span&gt;&lt;/div&gt;
                            &lt;div class=&quot;col-xs-6 text-right&quot;&gt;&lt;span class=&quot;sso--font1&quot;&gt;$200,000.20&lt;/span&gt;&lt;br&gt;
                                &lt;span class=&quot;sso--font2&quot;&gt;Plan Balance&lt;/span&gt;&lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-xs-12 col-bold text-center&quot;&gt;
                                &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot; data-toggle=&quot;modal&quot;
                                        data-target=&quot;#modal-1&quot;&gt;DETAILS
                                &lt;/button&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;!--END PLAN--&gt;

                    &lt;!--START TOTALS--&gt;
                    &lt;div class=&quot;row sso--totals&quot;&gt;
                        &lt;div class=&quot;col-xs-6 text-left&quot;&gt;Total DC Balance:&lt;/div&gt;
                        &lt;div class=&quot;col-xs-6 text-right&quot;&gt;$400,000.40&lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;row&quot;&gt;
                        &lt;div class=&quot;col-xs-12 sso--footnotes&quot;&gt;*Accounts reported on a gross basis will be reduced by any
                            outstanding or defaulted loan balances you may have before they are included in your &lt;em&gt;OnTrack&lt;/em&gt;&lt;sup&gt;&amp;reg;&lt;/sup&gt;
                            total for estimating your retirement income and outlook.
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;!--END TOTALS--&gt;
                    &lt;!--END GROUP--&gt;

                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;!--END PANEL GROUP--&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;mobileDashboard row noprint&quot;&gt;
    &lt;div class=&quot;panel-group sso--dashboard&quot; id=&quot;myProducts&quot;&gt;
        &lt;div class=&quot;col-sm-8&quot;&gt;&lt;h1 class=&quot;no-vertical-margin padding-bottom&quot;&gt;My Transamerica Products&lt;/h1&gt;&lt;/div&gt;
        &lt;div class=&quot;col-sm-4 text-center padding-bottom&quot;&gt;&lt;img src=&quot;../../images/sample/transamerica-logo-white.png&quot;/&gt;
        &lt;/div&gt;
        &lt;!--START PANEL GROUP--&gt;
        &lt;div class=&quot;panel panel-default&quot;&gt;
            &lt;div class=&quot;accordion-toggle panel-heading&quot; data-toggle=&quot;collapse&quot; data-parent=&quot;#myProducts&quot; href=&quot;#panel_2&quot;
                 aria-expanded=&quot;true&quot;&gt;
                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-xs-10 sso--accordion_title&quot;&gt;RETIREMENT PLANS&lt;/div&gt;
                    &lt;div class=&quot;col-xs-2 text-right&quot;&gt;&lt;span class=&quot;glyphicon glyphicon-plus-sign&quot;
                                                           aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;&lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;div id=&quot;panel_2&quot; class=&quot;panel-collapse collapse   in&quot;&gt;
                &lt;div class=&quot;panel-body&quot;&gt;
                    &lt;!--START GROUP--&gt;
                    &lt;div class=&quot;row&quot;&gt;
                        &lt;div class=&quot;col-xs-12 text-center sso--headline&quot;&gt;
                            &lt;h3&gt;Defined Contribution&lt;/h3&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;!--START PLAN--&gt;
                    &lt;div class=&quot;sso--plan&quot;&gt;
                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-xs-12 sso--plan_headline&quot;&gt;Plan Name:&lt;br&gt;
                                EFG 401(k) Even Longer Line 2
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-xs-6&quot;&gt;&lt;span class=&quot;sso--font1&quot;&gt;QA99999 00001&lt;/span&gt;&lt;br&gt;
                                &lt;span class=&quot;sso--font2&quot;&gt;Plan Number&lt;/span&gt;&lt;/div&gt;
                            &lt;div class=&quot;col-xs-6 text-right&quot;&gt;&lt;span class=&quot;sso--font1&quot;&gt;$200,000.20&lt;/span&gt;&lt;br&gt;
                                &lt;span class=&quot;sso--font2&quot;&gt;Plan Balance&lt;/span&gt;&lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-xs-12 col-bold text-center&quot;&gt;
                                &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot; data-toggle=&quot;modal&quot;
                                        data-target=&quot;#modal-1&quot;&gt;DETAILS
                                &lt;/button&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;!--END PLAN--&gt;
                    &lt;!--START PLAN--&gt;
                    &lt;div class=&quot;sso--plan&quot;&gt;
                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-xs-12 sso--plan_headline&quot;&gt;Plan Name:&lt;br&gt;
                                Transamerica and Aegon Compliance Employee 401(k)
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-xs-6&quot;&gt;&lt;span class=&quot;sso--font1&quot;&gt;QA99999 00001&lt;/span&gt;&lt;br&gt;
                                &lt;span class=&quot;sso--font2&quot;&gt;Plan Number&lt;/span&gt;&lt;/div&gt;
                            &lt;div class=&quot;col-xs-6 text-right&quot;&gt;&lt;span class=&quot;sso--font1&quot;&gt;$200,000.20&lt;/span&gt;&lt;br&gt;
                                &lt;span class=&quot;sso--font2&quot;&gt;Plan Balance&lt;/span&gt;&lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-xs-12 col-bold text-center&quot;&gt;
                                &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot; data-toggle=&quot;modal&quot;
                                        data-target=&quot;#modal-1&quot;&gt;DETAILS
                                &lt;/button&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;!--END PLAN--&gt;

                    &lt;!--START TOTALS--&gt;
                    &lt;div class=&quot;row sso--totals&quot;&gt;
                        &lt;div class=&quot;col-xs-6 text-left&quot;&gt;Total DC Balance:&lt;/div&gt;
                        &lt;div class=&quot;col-xs-6 text-right&quot;&gt;$400,000.40&lt;/div&gt;
                    &lt;/div&gt;
                    &lt;!--END TOTALS--&gt;
                    &lt;!--END GROUP--&gt;
                    &lt;!--START GROUP--&gt;
                    &lt;div class=&quot;row&quot;&gt;
                        &lt;div class=&quot;col-xs-12 text-center sso--headline&quot;&gt;
                            &lt;h3&gt;Related Defined&lt;br&gt;
                                Contribution Plans&lt;/h3&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;!--START PLAN--&gt;
                    &lt;div class=&quot;sso--plan&quot;&gt;
                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-xs-12 sso--plan_headline&quot;&gt;Employee/Provider:&lt;br&gt;
                                North Shore-LIJ Health System/Provider: LINCOLN - PENFACTS
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-xs-6&quot;&gt;&lt;span class=&quot;sso--font1&quot;&gt;L44574F5#11-2241326&lt;/span&gt;&lt;br&gt;
                                &lt;span class=&quot;sso--font2&quot;&gt;Plan Number&lt;/span&gt;&lt;/div&gt;
                            &lt;div class=&quot;col-xs-6 text-right&quot;&gt;&lt;span class=&quot;sso--font3&quot;&gt;As of 02/12/2016&lt;/span&gt; &lt;span
                                    class=&quot;sso--font1&quot;&gt;$200,000.20&lt;/span&gt;&lt;br&gt;
                                &lt;span class=&quot;sso--font2&quot;&gt;Plan Balance&lt;/span&gt;&lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-xs-12 col-bold text-center&quot;&gt;
                                &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot; data-toggle=&quot;modal&quot;
                                        data-target=&quot;#modal-1&quot;&gt;DETAILS
                                &lt;/button&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;!--END PLAN--&gt;
                    &lt;!--START PLAN--&gt;
                    &lt;div class=&quot;sso--plan&quot;&gt;
                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-xs-12 sso--plan_headline&quot;&gt;Plan Name:&lt;br&gt;
                                EFG 401(k) Even Longer Line 2
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-xs-6&quot;&gt;&lt;span class=&quot;sso--font1&quot;&gt;QA99999 00001&lt;/span&gt;&lt;br&gt;
                                &lt;span class=&quot;sso--font2&quot;&gt;Plan Number&lt;/span&gt;&lt;/div&gt;
                            &lt;div class=&quot;col-xs-6 text-right&quot;&gt;&lt;span class=&quot;sso--font1&quot;&gt;$200,000.20&lt;/span&gt;&lt;br&gt;
                                &lt;span class=&quot;sso--font2&quot;&gt;Plan Balance&lt;/span&gt;&lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-xs-12 col-bold text-center&quot;&gt;
                                &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot; data-toggle=&quot;modal&quot;
                                        data-target=&quot;#modal-1&quot;&gt;DETAILS
                                &lt;/button&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;!--END PLAN--&gt;

                    &lt;!--START TOTALS--&gt;
                    &lt;div class=&quot;row sso--totals&quot;&gt;
                        &lt;div class=&quot;col-xs-6 text-left&quot;&gt;Total DC Balance:&lt;/div&gt;
                        &lt;div class=&quot;col-xs-6 text-right&quot;&gt;$400,000.40&lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;row&quot;&gt;
                        &lt;div class=&quot;col-xs-12 sso--footnotes&quot;&gt;*Accounts reported on a gross basis will be reduced by any
                            outstanding or defaulted loan balances you may have before they are included in your &lt;em&gt;OnTrack&lt;/em&gt;&lt;sup&gt;&amp;reg;&lt;/sup&gt;
                            total for estimating your retirement income and outlook.
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;!--END TOTALS--&gt;
                    &lt;!--END GROUP--&gt;

                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;!--END PANEL GROUP--&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;!--END MOBILE DASHBOARD--&gt;

&lt;div class=&quot;modal fade&quot; id=&quot;modal-1&quot; tabindex=&quot;-1&quot; role=&quot;dialog&quot; aria-labelledby=&quot;&quot;&gt;
    &lt;div class=&quot;modal-dialog &quot; role=&quot;document&quot;&gt;&lt;!-- optional modal-lg or modal-sm can be added here --&gt;
        &lt;div class=&quot;modal-content&quot;&gt;
            &lt;div class=&quot;modal-header no-border&quot;&gt;
                &lt;div class=&quot;text-right&quot;&gt;&lt;a data-dismiss=&quot;modal&quot; href=&quot;javascript:void(0);&quot;&gt;&lt;img
                        src=&quot;../../images/close_modal.png&quot; width=&quot;17&quot; height=&quot;16&quot; alt=&quot;&quot;/&gt;&lt;/a&gt;&lt;/div&gt;
                &lt;h3 class=&quot;modal-title sso--modal__title&quot; id=&quot;modal_title&quot;&gt;RELATED ACCOUNTS DETAILS&lt;/h3&gt;
            &lt;/div&gt;
            &lt;div class=&quot;modal-body&quot;&gt;
                &lt;div class=&quot;sso--modal__list&quot;&gt;Employer: North Shore - LIJ Health System&lt;/div&gt;
                &lt;div class=&quot;sso--modal__list&quot;&gt;Provider: Lincoln - Penfacts&lt;/div&gt;
                &lt;div class=&quot;sso--modal__list&quot;&gt;Account Number: L44574F5#11-2241326&lt;/div&gt;
                &lt;div class=&quot;sso--modal__list&quot;&gt;Account Type: 403(b)&lt;/div&gt;
                {{# table_modal }}
                    &lt;div class=&quot;row margin-top-lg&quot;&gt;
                        &lt;div class=&quot;col-xs-6 sso--section-title padding-bottom-md__desktop&quot;&gt;{{{ tbl_title }}}&lt;/div&gt;
                        &lt;div class=&quot;col-xs-6 text-right sso--section-title__date&quot;&gt;&lt;span
                                class=&quot;sr-only&quot;&gt; Accounts &lt;/span&gt;As of 02/12/2016
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;visible-xs text-border-top padding-top padding-bottom-md&quot;&gt;&lt;strong&gt;Total DC
                        Balance:&lt;/strong&gt; $400,000.20
                    &lt;/div&gt;
                    {{&gt; atoms-table-style2 }}
                {{/ table_modal }} &lt;/div&gt;
            &lt;div class=&quot;sso--modal__footer&quot;&gt;&lt;a type=&quot;button&quot; class=&quot;btn btn-primary&quot; data-dismiss=&quot;modal&quot;
                                               href=&quot;javascript:void(0);&quot;&gt;CLOSE&lt;/a&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;!-- /.modal-content --&gt;
    &lt;/div&gt;
    &lt;!-- /.modal-dialog --&gt;
&lt;/div&gt;
&lt;!-- /.modal --&gt;
