{{# intro_para }}
&lt;p class=&quot;text-center-xs&quot;&gt;{{{ intro_para }}}&lt;/p&gt;
{{/ intro_para }}

{{# table_a }}
{{&gt; atoms-table-style2 }}
{{/ table_a }}

{{&gt; molecules-buttons-block }}
