&lt;div class=&quot;block-basic block-header-account&quot;&gt;
&lt;div class=&quot;block-text-bold&quot;&gt;Account#&lt;/div&gt; &lt;div class=&quot;divider&quot;&gt;&lt;/div&gt; &lt;div class=&quot;block-text-serif&quot;&gt;QA999999 00001&lt;/div&gt;&lt;div class=&quot;btn-account&quot;&gt;&lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;LATEST STATEMENT&lt;/button&gt;&lt;/div&gt;
&lt;/div&gt;