&lt;label&gt;Labeled DatePicker&lt;/label&gt;
&lt;form role=&quot;form&quot;&gt;
    &lt;fieldset&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;col-xs-12&quot;&gt;
                &lt;label for=&quot;dob1&quot;&gt;Date of Birth&lt;abbr class=&quot;required&quot; title=&quot;Date of Birth&quot;&gt;*&lt;/abbr&gt;&lt;/label&gt;
                {{&gt; atoms-input-datepicker(group_class: 'has-feedback success', feedback_icon: 'glyphicon-ok', id: 'dob1') }}
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;col-xs-12&quot;&gt;
                &lt;label for=&quot;dob2&quot;&gt;Date of Birth&lt;abbr class=&quot;required&quot; title=&quot;Date of Birth&quot;&gt;*&lt;/abbr&gt;&lt;/label&gt;
                {{&gt; atoms-input-datepicker(group_class: 'has-feedback error', feedback_icon: 'glyphicon-remove', id: 'dob2') }}
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/fieldset&gt;
&lt;/form&gt;
