{{#pla-footer}}
&lt;footer id=&quot;pla_global_footer&quot; class=&quot;trs-footer pla-footer page-footer row&quot;&gt;
   	&lt;div class=&quot;row&quot;&gt;
    	&lt;div class=&quot;pla-footer-contactus-container col-sm-12 text-center&quot;&gt;
			{{#contactUs}}
            	{{&gt; molecules-layout-pla-footer-contactUs}}
    		{{/contactUs}}
		&lt;/div&gt;
    &lt;/div&gt;
	&lt;div class=&quot;pla-footer__body&quot;&gt;
		&lt;div class=&quot;row&quot;&gt;
    		&lt;nav class=&quot;col-xs-12 pla-legal__nav&quot;&gt;
        	{{#legal}}
            	{{&gt; molecules-pla-footer-nav}}
        	{{/legal}}
			{{#help}}
            	{{&gt; molecules-pla-footer-nav}}
        	{{/help}}
			&lt;/nav&gt;
		&lt;/div&gt;
        &lt;div class=&quot;pla-footer-divider row&quot; &gt;
            &lt;div class=&quot;col-xs-12 col-sm-6 col-md-6 col-lg-6 pla-footer-logo-vert-center&quot;&gt;
                &lt;img src=&quot;../../images/aegon-logo-desktop.svg&quot;  alt=&quot;aegon logo&quot; onerror=&quot;this.onerror=null; this.src='../../images/aegon-logo-desktop.png'&quot;&gt;
            &lt;/div&gt;
            &lt;div class=&quot;col-xs-12 col-sm-6 col-md-6 col-lg-6 pla-footer-country-vert-center&quot;&gt;
                {{&gt; molecules-input-country}}
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;hidden-xs col-sm-12 col-md-12 col-lg-12 trs-footer__footnotes pla-footer__footnotes&quot;&gt;
                &lt;div class=&quot;row&quot;&gt;
                	{{#disclaimers}}&lt;p&gt;{{warning}}&lt;/p&gt;{{/disclaimers}}
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class=&quot;col-4-xs hidden-sm hidden-md hidden-lg trs-footer page-footer pla-footer-mobile-footnotes&quot;&gt;
                &lt;a href=&quot;#&quot; class=&quot;trs-footer__nav-list&quot;&gt;Company Disclosure&lt;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt;
	&lt;/div&gt;
&lt;/footer&gt;
{{/pla-footer}}