&lt;div class=&quot;page-container&quot;&gt;
    &lt;div class=&quot;container-fluid&quot;&gt;
        &lt;!-- top navbar --&gt;
        {{&gt; organisms-header }}
        &lt;!-- /top navbar --&gt;
        &lt;!-- mobile only phone number bar --&gt;
        {{&gt; molecules-mobile-phone }}
        &lt;!-- /mobile only phone number bar --&gt;

        &lt;div class=&quot;row&quot;&gt;

            &lt;!-- sidebar --&gt;
            &lt;div class=&quot;col-xs-12 col-sm-3 left_sidebar sidebar-offcanvas  [ hidden-xs hidden-sm ]&quot; id=&quot;sidebar&quot; role=&quot;navigation&quot;&gt;
                &lt;nav id=&quot;myNavmenu&quot; class=&quot;{{ nav_class }} navmenu navmenu-default&quot; role=&quot;navigation&quot;&gt;
                    {{# primary_menu}}
                        {{&gt; molecules-desktop-primary }}
                    {{/ primary_menu}}

                    {{# util_menu}}
                        {{&gt; molecules-utility-menu }}
                    {{/ util_menu}}
                &lt;/nav&gt;
            &lt;/div&gt;
			&lt;!-- /sidebar --&gt;

            &lt;!-- main area &amp; col-xs-12 --&gt;
            &lt;div class=&quot;non-responsive-swipe&quot;&gt;
                &lt;div class=&quot;col-xs-12 col-sm-12 col-md-9 left-content-border right_panel&quot;&gt;

                    &lt;main class=&quot;row&quot; id=&quot;main_content&quot;&gt;
                    {{&gt; atoms-status-note-simple }}
                    {{! this id provides necessary ada skip navigation for better user experience and ada compliance }}
                        {{&gt; organisms-body}}
                    &lt;/main&gt;

                    {{&gt; organisms-sso-footer }}

                &lt;/div&gt;
            &lt;/div&gt;
            &lt;!-- /main area &amp; col-xs-12 --&gt;

        &lt;/div&gt;&lt;!--/.row--&gt;
    &lt;/div&gt;&lt;!--/.container--&gt;
&lt;/div&gt;&lt;!--/.page-container--&gt;
{{&gt; organisms-help }}