&lt;a class=&quot;logo-link&quot; href=&quot;{{ url }}&quot;&gt;&lt;img src=&quot;{{ pla-img.pla-logo-mobile-hires.src }}&quot; class=&quot;logo&quot; alt=&quot;{{ pla-img.pla-logo-mobile-hires.alt }}&quot; /&gt;&lt;/a&gt;
