&lt;p&gt;The best strategy is diversification.You can decide your own strategy to see how well-diversified you are, or you can have us do it for you with an automated solution to keep you on the right course.&lt;/p&gt;

{{&gt; molecules-ontrack-tabs }}

&lt;div class=&quot;tab-content&quot;&gt;
    &lt;div class=&quot;tab-pane active&quot; id=&quot;tab1&quot;&gt;
        &lt;!-- START DO IT FOR ME - ONE-STEP DIVERSIFICATION --&gt;
        {{&gt; molecules-ontrack-do-it-for-me-one-step-diversification }}
        &lt;!-- END DO IT FOR ME - ONE-STEP DIVERSIFICATION --&gt;

        &lt;hr&gt;

        &lt;!-- START DO IT FOR ME - TARGET DATE FUNDS --&gt;
        {{&gt; molecules-ontrack-do-it-for-me-target-date-funds }}
        &lt;!-- END DO IT FOR ME - TARGET DATE FUNDS --&gt;

        &lt;hr&gt;

        &lt;!-- START DO IT FOR ME - PORTFOLIOXPRESS --&gt;
        {{&gt; molecules-ontrack-do-it-for-me-portfolio-express }}
        &lt;!-- END DO IT FOR ME - PORTFOLIOXPRESS --&gt;

        &lt;hr&gt;

        &lt;!-- START DO IT FOR ME - MANAGED ADVICE --&gt;
        {{&gt; molecules-ontrack-do-it-for-me-managed-advice }}
        &lt;!-- END DO IT FOR ME - MANAGED ADVICE --&gt;
    &lt;/div&gt;

    &lt;div class=&quot;tab-pane&quot; id=&quot;tab2&quot;&gt;
        &lt;form class=&quot;form-inline ontrack__form&quot;&gt;
            {{&gt; molecules-ontrack-do-it-myself-table }}
        &lt;/form&gt;
    &lt;/div&gt;

    &lt;div class=&quot;tab-pane&quot; id=&quot;tab3&quot;&gt;
        {{&gt; molecules-ontrack-a-guaranteed-income }}
    &lt;/div&gt;
&lt;/div&gt;
