{{# statusNote }}
&lt;p class=&quot;status-note text-right&quot;&gt;
    &lt;span class=&quot;status-note__name display-inline-block&quot;&gt;{{status_greeting}} {{status_name}}&lt;/span&gt;&lt;span class=&quot;status-note__separator&quot; role=&quot;presentation&quot;&gt; | &lt;/span&gt;
    &lt;span class=&quot;display-inline-block&quot;&gt;{{status_heading}} {{status_note_1}}&lt;/span&gt;&lt;span class=&quot;status-note__separator&quot; role=&quot;presentation&quot;&gt; | &lt;/span&gt;
    &lt;span class=&quot;display-inline-block&quot;&gt;{{status_note_2}}&lt;/span&gt;
&lt;/p&gt;
{{/ statusNote }}