&lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;

&lt;ul class=&quot;list--glyphed-bullets&quot;&gt;
    {{# glyphed-bullets }}
    &lt;li&gt;
        &lt;span class=&quot;{{glyph}}&quot; role=&quot;presentation&quot;&gt;&lt;/span&gt;
        {{{ text }}}
    &lt;/li&gt;
    {{/ glyphed-bullets}}
&lt;/ul&gt;
