{{! no sense in splitting this into json &amp; mustache. It's a very specific banner. If the same design is used for other banners, then we'll split it up for reuse. }}
&lt;div class=&quot;ad__bg--outlook margin-top margin-bottom&quot;&gt;
    &lt;div class=&quot;ad__bg2--outlook&quot; role=&quot;presentation&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;row clearfix rel&quot;&gt;
        &lt;div class=&quot;col-xs-12&quot;&gt;
            &lt;h3 class=&quot;ad__title--outlook&quot;&gt;What's &lt;em&gt;Your Retirement Outlook&lt;/em&gt;&lt;sup&gt;&amp;reg;&lt;/sup&gt;?&lt;/h3&gt;
            &lt;ul class=&quot;ad__forecast--outlook&quot;&gt;
                &lt;li&gt;&lt;img class=&quot;img-responsive center-block forecast-image&quot; src=&quot;../../images/rainy-notext.png&quot;&gt;&lt;span class=&quot;forecast-text&quot;&gt;Rainy&lt;/span&gt;&lt;/li&gt;&lt;!-- do not remove
             --&gt;&lt;li class=&quot;sep&quot;&gt;&lt;hr&gt;&lt;/li&gt;&lt;!--
             --&gt;&lt;li&gt;&lt;img class=&quot;img-responsive center-block forecast-image&quot; src=&quot;../../images/cloudy-notext.png&quot;&gt;&lt;span class=&quot;forecast-text&quot;&gt;Cloudy&lt;/span&gt;&lt;/li&gt;&lt;!--
             --&gt;&lt;li class=&quot;sep&quot;&gt;&lt;hr&gt;&lt;/li&gt;&lt;!--
             --&gt;&lt;li&gt;&lt;img class=&quot;img-responsive center-block forecast-image&quot; src=&quot;../../images/partly-sunny-notext.png&quot;&gt;&lt;span class=&quot;forecast-text&quot;&gt;Partly Sunny&lt;/span&gt;&lt;/li&gt;&lt;!--
             --&gt;&lt;li class=&quot;sep&quot;&gt;&lt;hr&gt;&lt;/li&gt;&lt;!--
             --&gt;&lt;li&gt;&lt;img class=&quot;img-responsive center-block forecast-image&quot; src=&quot;../../images/sunny-notext.png&quot;&gt;&lt;span class=&quot;forecast-text&quot;&gt;Sunny&lt;/span&gt;&lt;/li&gt;
            &lt;/ul&gt;
            &lt;p class=&quot;align-center no-vertical-margin ad__content--outlook&quot;&gt;Want to know if you're on course for a sunny retirement? &lt;br&gt;It's easy to find out!&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
