&lt;p&gt;Using &amp;lt;div&amp;gt; elements&lt;/p&gt;

&lt;div class=&quot;panel-group trs-accordion-table&quot; id=&quot;{{accordion_id}}&quot;&gt;
    {{#accordion_items }}
    &lt;div class=&quot;panel panel-default first&quot;&gt;
        &lt;div class=&quot;accordion-toggle panel-heading&quot; data-toggle=&quot;collapse&quot; data-parent=&quot;#{{accordion_id}}&quot; href=&quot;#{{id}}&quot; aria-expanded=&quot;{{aria_expanded}}&quot;&gt;
            &lt;div class=&quot;row&quot;&gt;
                {{# heading}}
                &lt;div class=&quot;col-sm-3&quot;&gt;{{{ value }}}{{# icon }}&lt;i class=&quot;{{glyph_icon}}&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;{{/ icon }}&lt;/div&gt;
                {{/ heading}}
            &lt;/div&gt;
        &lt;/div&gt;

        &lt;div id=&quot;{{id}}&quot; class=&quot;panel-collapse collapse  {{state}}&quot;&gt;
            &lt;div class=&quot;panel-body&quot;&gt;
                {{# rows}}
                &lt;div class=&quot;row&quot;&gt;
                    {{# cols }}
                    &lt;div class=&quot;col-sm-3 {{{ col-class }}}&quot;&gt;{{{ value }}}&lt;/div&gt;
                    {{/ cols}}
                &lt;/div&gt;
                {{/ rows}}
            &lt;/div&gt;
        &lt;/div&gt;

    &lt;/div&gt;
    {{/accordion_items }}
&lt;/div&gt;

&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;Using a &amp;lt;table&amp;gt; element&lt;/p&gt;

&lt;table class=&quot;accordion-table&quot; id=&quot;accordion-table-{{accordion_id}}&quot;&gt;
    {{#accordion_items}}
    &lt;tbody class=&quot;table-head {{thead_class}}&quot;&gt;
        &lt;tr class=&quot;nowrap-td&quot; data-toggle=&quot;collapse&quot; data-target=&quot;.{{id}}&quot;&gt;
            {{#heading}}
            &lt;td&gt;&lt;span class=&quot;head-title&quot;&gt;{{{value}}}&lt;/span&gt;{{#icon}}&amp;nbsp;&lt;i class=&quot;{{glyph_icon}}&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;{{/icon}}&lt;/td&gt;
            {{/heading}}
        &lt;/tr&gt;
    &lt;/tbody&gt;

    &lt;tbody class=&quot;table-body&quot; {{#aria_expanded}}aria-expanded=&quot;{{aria_expanded}}&quot;{{/aria_expanded}}&gt;
        {{#rows}}
        &lt;tr&gt;
            {{#cols}}
            &lt;td&gt;
                &lt;div class=&quot;cell {{id}} {{state}} collapse&quot;&gt;{{{value}}}&lt;/div&gt;
            &lt;/td&gt;
            {{/cols}}
        &lt;/tr&gt;
        {{/rows}}
    &lt;/tbody&gt;

    &lt;tbody class=&quot;table-footer&quot;&gt;
        &lt;tr class=&quot;nowrap-td&quot;&gt;
            &lt;td colspan=&quot;3&quot;&gt;&lt;div class=&quot;cell text-right bold&quot;&gt;Totals&lt;/div&gt;&lt;/td&gt;
            &lt;td&gt;
                &lt;div class=&quot;cell bold&quot;&gt;
                    $1,000.00
                &lt;/div&gt;
            &lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
    {{/accordion_items}}
&lt;/table&gt;
