&lt;h2 class=&quot;margin-bottom&quot;&gt;Summary of Activity by Contribution Type.&lt;/h2&gt;

&lt;div class=&quot;row margin-bottom-lg&quot;&gt;
    &lt;div class=&quot;col-xs-12&quot;&gt;
        &lt;div class=&quot;tbl__mobile-margin&quot;&gt;
            &lt;table class=&quot;table table-inline table__summary tbl-responsive&quot; aria-describedby=&quot;activity_contribution_tbl&quot;&gt;
                &lt;caption id=&quot;activity_contribution_tbl&quot; class=&quot;sr-only&quot;&gt;
                    Summary of Activity by Contribution Type.
                &lt;/caption&gt;

                {{! mandatory header }}
                &lt;thead&gt;
                    &lt;tr class=&quot;tbl_subHead_bg&quot;&gt;
                        &lt;th scope=&quot;col&quot;&gt;Source Type&lt;/th&gt;
                        &lt;th class=&quot;text-right&quot; scope=&quot;col&quot;&gt;Opening Balance&lt;/th&gt;
                        &lt;th class=&quot;text-right&quot; scope=&quot;col&quot;&gt;Money In&lt;/th&gt;
                        &lt;th class=&quot;text-right&quot; scope=&quot;col&quot;&gt;Money Out&lt;/th&gt;
                        &lt;th class=&quot;text-right&quot; scope=&quot;col&quot;&gt;Credits / Fees&lt;/th&gt;
                        &lt;th class=&quot;text-right&quot; scope=&quot;col&quot;&gt;Gain / Loss&lt;/th&gt;
                        &lt;th class=&quot;text-right&quot; scope=&quot;col&quot;&gt;Closing Balance&lt;/th&gt;
                    &lt;/tr&gt;
                &lt;/thead&gt;
                {{! /mandatory header }}

                {{! table body }}
                &lt;tbody class=&quot;nowrap-td&quot;&gt;
                    {{! example row }}
                    &lt;tr&gt;
                        &lt;td scope=&quot;row&quot;&gt;
                            GL Basic Contribution Account
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $0.00
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $1,495.19
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $0.00
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $1.28
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $75.44
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $1,571.91
                        &lt;/td&gt;
                    &lt;/tr&gt;
                    {{! /example row }}

                    &lt;tr&gt;
                        &lt;td scope=&quot;row&quot;&gt;
                            Employee Roth
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $0.00
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $5,353.82
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $0.00
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $4.29
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $270.13
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $5,628.24
                        &lt;/td&gt;
                    &lt;/tr&gt;

                    &lt;tr&gt;
                        &lt;td scope=&quot;row&quot;&gt;
                            Employee Pre-Tax
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $0.00
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $31,985.41
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $0.00
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right negative&quot;&gt;
                            -$4.30
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $1,613.74
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $33,594.85
                        &lt;/td&gt;
                    &lt;/tr&gt;

                    &lt;tr&gt;
                        &lt;td scope=&quot;row&quot;&gt;
                            Safe Harbor Profit Sharing
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $0.00
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $14,026.50
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $0.00
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $11.26
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $707.70
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $14,745.46
                        &lt;/td&gt;
                    &lt;/tr&gt;

                    &lt;tr&gt;
                        &lt;td scope=&quot;row&quot;&gt;
                            Azerothian Industries Inc
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $0.00
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $14,026.50
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $0.00
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $11.26
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $707.70
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $14,745.46
                        &lt;/td&gt;
                    &lt;/tr&gt;

                    &lt;tr&gt;
                        &lt;td scope=&quot;row&quot;&gt;
                            Crown Chemical Co
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $0.00
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $14,026.50
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $0.00
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $11.26
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $707.70
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $14,745.46
                        &lt;/td&gt;
                    &lt;/tr&gt;

                    &lt;tr&gt;
                        &lt;td scope=&quot;row&quot;&gt;
                            Employer Match
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $0.00
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $10,712.18
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $0.00
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $8.61
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $540.53
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $11,261.32
                        &lt;/td&gt;
                    &lt;/tr&gt;
                &lt;/tbody&gt;
                {{! /table body }}

                {{! table footer }}
                &lt;tfoot&gt;
                    &lt;tr class=&quot;tbl_subFoot_bg&quot;&gt;
                        &lt;td class=&quot;align-left align-right-xs&quot; data-label=&quot;&quot; scope=&quot;row&quot;&gt;&lt;strong&gt;Total&lt;/strong&gt;&lt;/td&gt;{{! this won't have a 'column description' because the data-label is empty }}
                        &lt;td&gt;&lt;strong&gt;$0.00&lt;/strong&gt;&lt;/td&gt;
                        &lt;td&gt;&lt;strong&gt;$63,573.10&lt;/strong&gt;&lt;/td&gt;
                        &lt;td&gt;&lt;strong&gt;$0.00&lt;/strong&gt;&lt;/td&gt;
                        &lt;td&gt;&lt;strong&gt;$21.14&lt;/strong&gt;&lt;/td&gt;
                        &lt;td&gt;&lt;strong&gt;$3,207.54&lt;/strong&gt;&lt;/td&gt;
                        &lt;td&gt;&lt;strong&gt;$66,801.78&lt;/strong&gt;&lt;/td&gt;
                    &lt;/tr&gt;
                &lt;/tfoot&gt;
                {{! /table footer }}
            &lt;/table&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;h2 class=&quot;margin-bottom&quot;&gt;Summary of Activity by Funds.&lt;/h2&gt;

&lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;col-xs-12&quot;&gt;
        &lt;div class=&quot;tbl__mobile-margin&quot;&gt;
            &lt;table class=&quot;table table-inline table__summary tbl-responsive&quot; aria-describedby=&quot;activity_by_fund_tbl&quot;&gt;
                &lt;caption id=&quot;activity_by_fund_tbl&quot; class=&quot;sr-only&quot;&gt;
                    Summary of Activity by Funds.
                &lt;/caption&gt;

                {{! mandatory header }}
                &lt;thead class=&quot;tbl-responsive__mainHeader&quot;&gt;
                    &lt;tr class=&quot;tbl_subHead_bg&quot;&gt;
                        &lt;th scope=&quot;col&quot;&gt;Fund Name&lt;/th&gt;
                        &lt;th class=&quot;text-right&quot; scope=&quot;col&quot;&gt;Opening Balance&lt;/th&gt;
                        &lt;th class=&quot;text-right&quot; scope=&quot;col&quot;&gt;Money In&lt;/th&gt;
                        &lt;th class=&quot;text-right&quot; scope=&quot;col&quot;&gt;Money Out&lt;/th&gt;
                        &lt;th class=&quot;text-right&quot; scope=&quot;col&quot;&gt;Credits / Fees&lt;/th&gt;
                        &lt;th class=&quot;text-right&quot; scope=&quot;col&quot;&gt;Gain / Loss&lt;/th&gt;
                        &lt;th class=&quot;text-right&quot; scope=&quot;col&quot;&gt;Closing Balance&lt;/th&gt;
                        &lt;th class=&quot;text-right&quot; scope=&quot;col&quot;&gt;Number of Units&lt;/th&gt;
                    &lt;/tr&gt;
                &lt;/thead&gt;
                {{! /mandatory header }}

                {{! example row group using tbody }}
                &lt;tbody class=&quot;nowrap-td&quot;&gt;
                    {{! row group 'header' }}
                    &lt;tr class=&quot;tbl_subHead_bg tbl-responsive__fixedRow&quot;&gt;
                        &lt;td class=&quot;tbl_graph-color6_border align-center-xs&quot; colspan=&quot;8&quot; data-label=&quot;&quot; scope=&quot;rowgroup&quot;&gt;Short Bonds/Stable/MMkt&lt;/td&gt;{{! this won't have a 'column description' because the data-label is empty }}
                    &lt;/tr&gt;
                    {{! /row group 'header' }}

                    {{! a row }}
                    &lt;tr&gt;
                        &lt;td class=&quot;wrap-text&quot; scope=&quot;row&quot;&gt;
                            &lt;a href=&quot;#&quot;&gt;Putnam Stable Value (2&lt;/a&gt;
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $0.00
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $6,308.44
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $0.00
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right negative&quot;&gt;
                            -$30.00
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $52.91
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $6,331.35
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            6331.350000
                        &lt;/td&gt;
                    &lt;/tr&gt;
                    {{! /a row }}
                &lt;/tbody&gt;
                {{! /example row group using tbody }}

                &lt;tbody class=&quot;nowrap-td&quot;&gt;
                    &lt;tr class=&quot;tbl_subHead_bg tbl-responsive__fixedRow&quot;&gt;
                        &lt;td class=&quot;tbl_graph-color7_border align-center-xs&quot; colspan=&quot;8&quot; data-label=&quot;&quot; scope=&quot;rowgroup&quot;&gt;Interm./Long-Term Bonds&lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                        &lt;td class=&quot;wrap-text&quot; scope=&quot;row&quot;&gt;
                            &lt;a href=&quot;#&quot;&gt;BlackRock Total Instl&lt;/a&gt;
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $0.00
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $12,988.44
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $0.00
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $7.91
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right negative&quot;&gt;
                            -$195.64
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $12,800.71
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            1101.610612
                        &lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                        &lt;td class=&quot;wrap-text&quot; scope=&quot;row&quot;&gt;
                            &lt;a href=&quot;#&quot;&gt;Leeroy Jenkins Inc&lt;/a&gt;
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $0.00
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $12,988.44
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $0.00
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $7.91
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right negative&quot;&gt;
                            -$195.64
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $12,800.71
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            1101.610612
                        &lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                        &lt;td class=&quot;wrap-text&quot; scope=&quot;row&quot;&gt;
                            &lt;a href=&quot;#&quot;&gt;Azertohian Industries&lt;/a&gt;
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $0.00
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $12,988.44
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $0.00
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $7.91
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right negative&quot;&gt;
                            -$195.64
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $12,800.71
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            1101.610612
                        &lt;/td&gt;
                    &lt;/tr&gt;
                &lt;/tbody&gt;

                &lt;tbody class=&quot;nowrap-td&quot;&gt;
                    &lt;tr class=&quot;tbl_subHead_bg tbl-responsive__fixedRow&quot;&gt;
                        &lt;td class=&quot;tbl_graph-color8_border align-center-xs&quot; colspan=&quot;8&quot; data-label=&quot;&quot; scope=&quot;rowgroup&quot;&gt;Aggressive Bonds&lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                        &lt;td class=&quot;wrap-text&quot; scope=&quot;row&quot;&gt;
                            &lt;a href=&quot;#&quot;&gt;Federated Instl Yield Bond Inst&lt;/a&gt;
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $0.00
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $6,714.29
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right negative&quot;&gt;
                            -$356.50
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $1.35
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $258.52
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $6,617.66
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            661.104747
                        &lt;/td&gt;
                    &lt;/tr&gt;
                &lt;/tbody&gt;

                &lt;tbody class=&quot;nowrap-td&quot;&gt;
                    &lt;tr class=&quot;tbl_subHead_bg tbl-responsive__fixedRow&quot;&gt;
                        &lt;td class=&quot;tbl_graph-color9_border align-center-xs&quot; colspan=&quot;8&quot; data-label=&quot;&quot; scope=&quot;rowgroup&quot;&gt;Large-Cap Stocks&lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                        &lt;td class=&quot;wrap-text&quot; scope=&quot;row&quot;&gt;
                            &lt;a href=&quot;#&quot;&gt;Vanguard Equity Adm&lt;/a&gt;
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $0.00
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $13,265.43
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right negative&quot;&gt;
                            -$909.23
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $0.00
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $1,099.64
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $13,455.84
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            188.695184
                        &lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                        &lt;td class=&quot;wrap-text&quot; scope=&quot;row&quot;&gt;
                            &lt;a href=&quot;#&quot;&gt;JPMorgan Large A&lt;/a&gt;
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $0.00
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $12,673.77
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $0.00
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $26.67
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $1,319.86
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $14,020.30
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            403.810787
                        &lt;/td&gt;
                    &lt;/tr&gt;
                &lt;/tbody&gt;

                &lt;tbody class=&quot;nowrap-td&quot;&gt;
                    &lt;tr class=&quot;tbl_subHead_bg tbl-responsive__fixedRow&quot;&gt;
                        &lt;td class=&quot;tbl_graph-color10_border align-center-xs&quot; colspan=&quot;8&quot; data-label=&quot;&quot; scope=&quot;rowgroup&quot;&gt;Small/Mid-Cap Stocks&lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                        &lt;td class=&quot;wrap-text&quot; scope=&quot;row&quot;&gt;
                            &lt;a href=&quot;#&quot;&gt;Harbor Mid Cap Value Instl&lt;/a&gt;
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $0.00
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $3,380.77
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right negative&quot;&gt;
                            -$525.79
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $1.39
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $487.65
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $3,344.02
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            145.772147
                        &lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                        &lt;td class=&quot;wrap-text&quot; scope=&quot;row&quot;&gt;
                            &lt;a href=&quot;#&quot;&gt;BlackRock US Opportunities I&lt;/a&gt;
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $0.00
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $3,367.12
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right negative&quot;&gt;
                            -$154.49
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $3.43
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $275.24
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $3,491.30
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            91.109161
                        &lt;/td&gt;
                    &lt;/tr&gt;
                &lt;/tbody&gt;

                &lt;tbody class=&quot;nowrap-td&quot;&gt;
                    &lt;tr class=&quot;tbl_subHead_bg tbl-responsive__fixedRow&quot;&gt;
                        &lt;td class=&quot;tbl_graph-color11_border align-center-xs&quot; colspan=&quot;8&quot; data-label=&quot;&quot; scope=&quot;rowgroup&quot;&gt;International Stocks&lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                        &lt;td class=&quot;wrap-text&quot; scope=&quot;row&quot;&gt;
                            &lt;a href=&quot;#&quot;&gt;Artisan Interna&lt;/a&gt;
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $0.00
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $6,820.85
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $0.00
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $10.39
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right negative&quot;&gt;
                            -$90.64
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $6,740.60
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            247.815866
                        &lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                        &lt;td class=&quot;wrap-text&quot; scope=&quot;row&quot;&gt;
                            &lt;a href=&quot;#&quot;&gt;Leeroy Jenkins Inc&lt;/a&gt;
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $0.00
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $12,988.44
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $0.00
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $7.91
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right negative&quot;&gt;
                            -$195.64
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $12,800.71
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            1101.610612
                        &lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                        &lt;td class=&quot;wrap-text&quot; scope=&quot;row&quot;&gt;
                            &lt;a href=&quot;#&quot;&gt;Azertohian Industries&lt;/a&gt;
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $0.00
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $12,988.44
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $0.00
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $7.91
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right negative&quot;&gt;
                            -$195.64
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $12,800.71
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            1101.610612
                        &lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                        &lt;td class=&quot;wrap-text&quot; scope=&quot;row&quot;&gt;
                            &lt;a href=&quot;#&quot;&gt;Crown Chemical Co&lt;/a&gt;
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $0.00
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $12,988.44
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $0.00
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $7.91
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right negative&quot;&gt;
                            -$195.64
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $12,800.71
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            1101.610612
                        &lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                        &lt;td class=&quot;wrap-text&quot; scope=&quot;row&quot;&gt;
                            &lt;a href=&quot;#&quot;&gt;Tinker Ltd&lt;/a&gt;
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $0.00
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $12,988.44
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $0.00
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $7.91
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right negative&quot;&gt;
                            -$195.64
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            $12,800.71
                        &lt;/td&gt;
                        &lt;td class=&quot;text-right&quot;&gt;
                            1101.610612
                        &lt;/td&gt;
                    &lt;/tr&gt;
                &lt;/tbody&gt;

                {{! table footer }}
                &lt;tfoot class=&quot;nowrap-td&quot;&gt;
                    &lt;tr class=&quot;tbl_subFoot_bg&quot;&gt;
                        &lt;td class=&quot;align-left align-right-xs&quot; data-label=&quot;&quot; scope=&quot;row&quot;&gt;&lt;strong&gt;Total&lt;/strong&gt;&lt;/td&gt;{{! this won't have a 'column description' because the data-label is empty }}
                        &lt;td&gt;&lt;strong&gt;$0.00&lt;/strong&gt;&lt;/td&gt;
                        &lt;td&gt;&lt;strong&gt;$65,519.11&lt;/strong&gt;&lt;/td&gt;
                        &lt;td class=&quot;negative&quot;&gt;&lt;strong&gt;-$1,946.01&lt;/strong&gt;&lt;/td&gt;
                        &lt;td&gt;&lt;strong&gt;$21.14&lt;/strong&gt;&lt;/td&gt;
                        &lt;td&gt;&lt;strong&gt;$3,207.54&lt;/strong&gt;&lt;/td&gt;
                        &lt;td&gt;&lt;strong&gt;$66,801.78&lt;/strong&gt;&lt;/td&gt;
                        &lt;td class=&quot;hidden-xs&quot;&gt;{{! no need to show an empty cell in smart phones }}&lt;/td&gt;
                    &lt;/tr&gt;
                &lt;/tfoot&gt;
                {{! /table footer }}
            &lt;/table&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
