{{# panel }}
&lt;div class=&quot;panel panel-{{#style}}{{.}}{{/style}}{{^style}}default{{/style}}&quot;&gt; 
	{{# heading }}
    &lt;div class=&quot;panel-heading&quot;&gt; 
    	{{# panel_title }}
        &lt;h3 class=&quot;panel-title&quot;&gt;{{ . }}&lt;/h3&gt;
        {{/ panel_title }}
        {{^ panel_title }}
        {{ minor_heading }}
        {{/ panel_title }}
    &lt;/div&gt;
   {{/ heading }}
    &lt;div class=&quot;panel-body&quot;&gt; {{{ content }}} &lt;/div&gt;
    {{# footer }}
    &lt;div class=&quot;panel-footer&quot;&gt;{{{ . }}}&lt;/div&gt;
    {{/ footer }} &lt;/div&gt;
{{/ panel }}