&lt;a href=&quot;#&quot; class=&quot;{{ trigger_classes }}&quot; data-toggle=&quot;modal&quot; data-target=&quot;#{{ modal_id }}&quot; {{# noescape}}data-keyboard=&quot;false&quot;{{/ noescape}}&gt;{{ trigger_text }}&lt;/a&gt;
