&lt;!-- Load these scripts in your header/footer
&lt;script src=&quot;https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-animate.min.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;/js/trs-angular/responsive-table.js&quot;&gt;&lt;/script&gt;
--&gt;
&lt;script&gt;
    var tableDataJsonOneColumnMobileHighlight = {
        columns: [
            { id: 'symbol', title: 'Symbol' },
            { id: 'descr', title: 'Description', isMobileHighlight: true },
            { id: 'qtt', title: 'Quantity', className: 'text-right' },
            { id: 'price', title: 'Price', className: 'text-right' },
            { id: 'value', title: 'Value', className: 'text-right' },
        ],
        rows: [
            {
                symbol: 'SYM',
                descr: 'High Quality Bond Fund',
                qtt: '100,000',
                price: '$1,000.00',
                value: '$23,000.00'
            },
            {
                symbol: 'SYM',
                descr: 'This is a fund with a really long name meant to see how long names behave in constrained real estate',
                qtt: '100,000',
                price: '$100.00',
                value: '$3,000.00'
            },
            {
                symbol: 'SYM',
                descr: 'High Yield Bond Fund',
                qtt: '100,000',
                price: '$100.00',
                value: '$3,000.00'
            },
            {
                symbol: 'SYM',
                descr: 'Large Value',
                qtt: '100,000',
                price: '$100.00',
                value: '$13,000.00'
            },
            {
                symbol: 'SYM',
                descr: 'High Quality Bond Fund',
                qtt: '100,000',
                price: '$1,000.00',
                value: '$23,000.00'
            },
            {
                symbol: 'SYM',
                descr: 'High Quality Bond Fund',
                qtt: '100,000',
                price: '$1,000.00',
                value: '$23,000.00'
            },
            {
                symbol: 'SYM',
                descr: 'Core Bond Fund',
                qtt: '100,000',
                price: '$100.00',
                value: '$3,000.00'
            },
            {
                symbol: 'SYM',
                descr: 'High Yield Bond Fund',
                qtt: '100,000',
                price: '$100.00',
                value: '$3,000.00'
            },
            {
                symbol: 'SYM',
                descr: 'Large Value',
                qtt: '100,000',
                price: '$100.00',
                value: '$13,000.00'
            },
            {
                symbol: 'SYM',
                descr: 'High Quality Bond Fund',
                qtt: '100,000',
                price: '$1,000.00',
                value: '$23,000.00'
            }
        ],
        footer: [
            { colspan: 2, title:'Total' },
            { className: &quot;text-right&quot;, title: '100,000.00' },
            { className: &quot;text-right&quot;, title: '$100,000.00' },
            { className: &quot;text-right&quot;, title: '$100,000,000.00', isMobileHighlight: true, mobileLabel: 'Total Value' }
        ]
    };
&lt;/script&gt;

{{# showNote}}
&lt;p class=&quot;footnote&quot;&gt;This table appears normal to a desktop browser. Shrink the browser for magic!&lt;/p&gt;
{{/ showNote}}

{{! Rendering with pre-existing data structure. Check alternate mobile table for dynamically feeding data from JS. }}
&lt;div ng-app=&quot;TRS.ResponsiveTable&quot;&gt;
    &lt;trs-responsive-table data-variable=&quot;tableDataJsonOneColumnMobileHighlight&quot;&gt;&lt;/trs-responsive-table&gt;
&lt;/div&gt;
&lt;script&gt;
    angular.module('TRS.ResponsiveTable.config', [])
        .constant('BASE_PATH', &quot;/angular-templates/&quot;)
        .constant('TEMPLATE_EXTENSION', &quot;html&quot;)
        .constant('APP_BUILD', &quot;${_applicationSession.buildId}&quot;);
&lt;/script&gt;
