&lt;header&gt;
    &lt;div class=&quot;row trs-header no-padding&quot;&gt;
        &lt;!-- Page Header --&gt;
        {{&gt; molecules-header-nav }}
        &lt;!-- /Page Header --&gt;
    &lt;/div&gt;
    {{# breadcrumbsVisible }}
    &lt;div class=&quot;row hidden-xs&quot;&gt;
        {{&gt; molecules-breadcrumbs }}
    &lt;/div&gt;
    {{/ breadcrumbsVisible }}
&lt;/header&gt;
