&lt;p&gt;
    To improve &lt;em&gt;Your Retirement Outlook&lt;/em&gt;&lt;sup&gt;&amp;reg;&lt;/sup&gt;, we may recommend a few adjustments to your savings strategy. Review these suggested changes, if any, and click &lt;strong&gt;Use This Plan&lt;/strong&gt; to update your strategy. Or, you can modify these suggestions by clicking &lt;strong&gt;Adjust This Plan&lt;/strong&gt;.
&lt;/p&gt;

&lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;col-xs-12&quot;&gt;
        {{&gt; atoms-glyphed-bullets }}
    &lt;/div&gt;
&lt;/div&gt;

{{# includeHowAreYouDoing }}
&lt;div class=&quot;row margin-bottom&quot;&gt;
    &lt;div class=&quot;col-xs-12 js-eq-ht-container&quot;&gt;
        &lt;div class=&quot;block block-well col-xs-12 col-sm-7 block-left no-border-right border-no-radius js-eq-ht-div&quot;&gt;
            &lt;div class=&quot;well-body&quot;&gt;
            	{{# progress_toggle_2 }}
                {{&gt; molecules-progress-toggler }}
                {{/ progress_toggle_2 }}
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;block block-well col-xs-12 col-sm-5 col-sm-5--webkit-fix block-right border-no-radius js-eq-ht-div&quot;&gt;
            &lt;div class=&quot;well-body&quot;&gt;
                {{&gt; molecules-your-retirement-forecast }}
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
{{/ includeHowAreYouDoing }}

&lt;div class=&quot;row margin-top margin-bottom-lg&quot;&gt;
    &lt;div class=&quot;col-xs-12&quot;&gt;
        {{# includeHowAreYouDoing }}
        &lt;div class=&quot;btn-unit btn-unit-primary-action&quot;&gt;
            &lt;a class=&quot;btn btn-primary&quot; href=&quot;{{ link.pages-managed-dashboard-subscribed }}&quot;&gt;Use this plan&lt;/a&gt;
        &lt;/div&gt;
        {{/ includeHowAreYouDoing }}

        &lt;div class=&quot;btn-unit btn-unit-secondary-action&quot;&gt;
            &lt;a class=&quot;btn btn-secondary&quot; href=&quot;#&quot;&gt;Adjust this plan&lt;/a&gt;
        &lt;/div&gt;

        {{# includeHowAreYouDoing }}
        &lt;!--div class=&quot;btn-unit btn-unit-secondary-action&quot;&gt;
            &lt;a class=&quot;btn btn-secondary&quot; href=&quot;{{ link.pages-managed-summary }}&quot;&gt;Save this plan&lt;/a&gt;
        &lt;/div--&gt;
        {{/ includeHowAreYouDoing }}
    &lt;/div&gt;
&lt;/div&gt;
