&lt;div class=&quot;text-center-sm&quot;&gt;&lt;!-- add back in col-xs-12  to DDOL --&gt;
&lt;!-- Begin .body --&gt;

{{# page_heading }}
	{{&gt; atoms-heading }}
{{/ page_heading }}
    
    &lt;div class=&quot;row clearfix&quot;&gt;
        &lt;div class=&quot;col-xs-12 col-sm-7 margin-bottom mobile-content-panel&quot;&gt;
        {{# page_subhead }}
            {{&gt; atoms-heading }}
        {{/ page_subhead }}
            &lt;p class=&quot;margin-bottom&quot;&gt;{{confirmation_content}}&lt;/p&gt;
            {{# button_1 }}
            {{&gt; atoms-button-link }}
            {{/ button_1 }}
        &lt;/div&gt;
        
        &lt;div class=&quot;col-xs-12 col-sm-5 no-pad-xs&quot;&gt;
        {{# aside }}
            &lt;aside class=&quot;panel panel-{{style}} js-panel-2-accordion__mbl&quot;&gt;
                &lt;div class=&quot;panel-heading&quot;&gt;
                    &lt;h3 class=&quot;panel-title clearfix&quot;&gt;
                        &lt;div class=&quot;hidden-xs&quot;&gt;{{panel_title}}&lt;/div&gt;
                        &lt;div data-target=&quot;#{{p_content.id}}&quot; class=&quot;visible-xs accordion-toggle&quot; data-toggle=&quot;collapse&quot; aria-controls=&quot;{{p_content.id}}&quot;&gt;
                            {{panel_title}}
                            &lt;span class=&quot;glyphicon glyphicon-plus-sign alert-icon-size pull-right&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;&lt;/div&gt;
                    &lt;/h3&gt;
                &lt;/div&gt;
                {{# p_content }}
                &lt;div class=&quot;panel-body {{class}} js-mbl-accordion__pnl&quot; id=&quot;{{id}}&quot;&gt;
                    {{# content}}
                    &lt;p&gt;{{{ . }}}&lt;/p&gt;
                    {{/ content}}
                &lt;/div&gt;
                {{/ p_content }}
            &lt;/aside&gt;
        {{/ aside }}
        &lt;/div&gt;        
    &lt;/div&gt;&lt;!-- /.row --&gt;

&lt;!-- End .body --&gt;
&lt;/div&gt;