&lt;form class=&quot;form-inline ontrack__form profile-and-goals&quot;&gt;
    {{&gt; molecules-ontrack-tabs }}

    &lt;div class=&quot;tab-content&quot;&gt;
        &lt;div class=&quot;tab-pane active&quot; id=&quot;pg-tab1&quot;&gt;
            {{&gt; molecules-ontrack-personal-information(&quot;isMyself&quot;: true) }}
            {{&gt; molecules-ontrack-retirement-goals(&quot;isMyself&quot;: true) }}
            {{&gt; molecules-ontrack-profile-and-goals-buttons(&quot;isMyself&quot;: true) }}
        &lt;/div&gt;

        &lt;div class=&quot;tab-pane&quot; id=&quot;pg-tab2&quot;&gt;
            {{&gt; molecules-ontrack-personal-information(&quot;isSpouse&quot;: true) }}
            {{&gt; molecules-ontrack-retirement-goals(&quot;isSpouse&quot;: true) }}
            {{&gt; molecules-ontrack-profile-and-goals-buttons(&quot;isSpouse&quot;: true) }}
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/form&gt;

{{! advised: modals sit after content container and before js }}
&lt;div class=&quot;modal fade&quot; id=&quot;onTrackModal&quot; tabindex=&quot;-1&quot; role=&quot;dialog&quot; aria-labelledby=&quot;onTrackModalLabel&quot;&gt;
    &lt;div class=&quot;modal-dialog modal-lg&quot; role=&quot;document&quot;&gt;{{! optional modal-lg or modal-sm can be added here }}
        &lt;div class=&quot;modal-content col-sm-12&quot;&gt;
            &lt;div class=&quot;modal-header no-border&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;modal&quot; aria-label=&quot;Close&quot;&gt;
                &lt;span aria-hidden=&quot;true&quot; class=&quot;trs-icons-close-btn&quot;&gt;&lt;/span&gt;&lt;/button&gt;
                &lt;h3 class=&quot;modal-title&quot; id=&quot;modal_title&quot;&gt;Modal Title&lt;/h3&gt;
            &lt;/div&gt;

            &lt;div class=&quot;modal-body text-small&quot;&gt;
                &lt;p&gt;Knight Rider: A shadowy flight into the dangerous world of a man who does not exist. One two three four five six seven eight Sclemeel schlemazel hasenfeffer incorporated! Space. The final frontier. These are the voyages of the Starship Enterprise. Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Why do we always come here? I guess well never know. Its like a kind of torture to have to watch the show. The ship set ground on the shore of this uncharted desert isle with Gilligan the Skipper too the millionaire and his wife. Now the world don't move to the beat of just one drum. What might be right for you may not be right for some.
            &lt;/div&gt;

            &lt;div class=&quot;modal-footer align-center&quot;&gt;
                &lt;a type=&quot;button&quot; class=&quot;btn btn-secondary&quot; data-dismiss=&quot;modal&quot;&gt;Close&lt;/a&gt;
                {{!&lt;a type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;Continue&lt;/a&gt;}}
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
