&lt;style&gt;
.chart-something123 {
    position: relative;
    margin: 15px 0;
    width: 600px;
}
.chart-something123 .xx {
    position: absolute;
    bottom: 55px;
    left: 95px;
    color: #fff;
    font-size: 24px;
}
.chart-something123 .yy {
    position: absolute;
    top: 95px;
    right: 30px;
    color: #fff;
    font-size: 24px;
}
&lt;/style&gt;

&lt;div class=&quot;chart-something123&quot;&gt;
    &lt;div id=&quot;portfolio-express-chart&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;xx&quot;&gt;Stocks&lt;/div&gt;
    &lt;div class=&quot;yy&quot;&gt;Bonds / Other&lt;/div&gt;
&lt;/div&gt;

&lt;script type=&quot;text/javascript&quot;&gt;
$(document).on('ready', function () {

    // Portfolio Express Chart
    (function () {
        // var colors = [&quot;#C07DE2&quot;, &quot;#14B7DB&quot;, &quot;#F76230&quot;, &quot;#D0D0D0&quot;, &quot;#20C772&quot;, &quot;#02648E&quot;, &quot;#3E7CAB&quot;, &quot;#1798CB&quot;, &quot;#1B8A39&quot;, &quot;#66BE7D&quot;, &quot;#6CD487&quot;, &quot;#02648E&quot;, &quot;#A95ECF&quot;, &quot;#F76230&quot;, &quot;#E7E6E5&quot;];

        var colors = [&quot;#AA5AD2&quot;, &quot;#14B7DB&quot;, &quot;#F76230&quot;, &quot;#D0D0D0&quot;, &quot;#20C772&quot;, &quot;#E22739&quot;, &quot;#1E4387&quot;]; // Official Zeplin colors for graphs

        Highcharts.setOptions({
            colors: colors,
            exporting: {
                enabled: false
            },
            credits: {
                enabled: false
            }
        });

        $('#portfolio-express-chart').highcharts({
            chart: {
                plotBorderWidth: 1,
                type: 'areaspline',
                backgroundColor: 'transparent',
                plotBackgroundColor: '#1798CB',
                plotBorderColor: 'none'
            },
            title: {
                text: 'Your personalized &lt;em&gt;PortfolioXpress&lt;/em&gt;&lt;sup&gt;&amp;reg;&lt;/sup&gt; glide path',
                useHTML: true,
                y: 15
            },
            subtitle: {
                text: 'How your investments will change over time&lt;br&gt;&lt;small&gt;(hover dots to see allocations)&lt;/small&gt;.',
                useHTML: true,
                y: 40
            },
            xAxis: {
                categories: [38, 34, 30, 23, 21, 18, 15, 10, 0, 10, 15, 20, 25, 30, 35],
                labels: {
                    formatter: function () {
                        if (0 === this.value) {
                            return '&lt;span style=&quot;color: #FF0000; font-weight: bold;&quot;&gt;' + this.value + '&lt;/span&gt;';
                        } else {
                            return this.value;
                        }
                    }
                },
                tickWidth: 0,
                min: 0.5,
                max: 13.5,
                tickInterval: 1,
                maxPadding: 0,
                endOnTick: false,
                startOnTick: false,
                plotLines: [{
                    color: '#D0D0D0',
                    width: 1,
                    value: 0
                }, {
                    color: '#D0D0D0',
                    width: 1,
                    value: 1
                }, {
                    color: '#D0D0D0',
                    width: 1,
                    value: 2
                }, {
                    color: '#D0D0D0',
                    width: 1,
                    value: 2
                }, {
                    color: '#D0D0D0',
                    width: 1,
                    value: 3
                }, {
                    color: '#D0D0D0',
                    width: 1,
                    value: 4
                }, {
                    color: '#D0D0D0',
                    width: 1,
                    value: 5
                }, {
                    color: '#D0D0D0',
                    width: 1,
                    value: 6
                }, {
                    color: '#D0D0D0',
                    width: 1,
                    value: 7
                }, {
                    color: '#D0D0D0',
                    width: 1,
                    value: 8
                }, {
                    color: '#D0D0D0',
                    width: 1,
                    value: 9
                }, {
                    color: '#D0D0D0',
                    width: 1,
                    value: 10
                }, {
                    color: '#D0D0D0',
                    width: 1,
                    value: 11
                }, {
                    color: '#D0D0D0',
                    width: 1,
                    value: 12
                }, {
                    color: '#D0D0D0',
                    width: 1,
                    value: 13
                }, {
                    color: '#D0D0D0',
                    width: 1,
                    value: 14
                }]
            },
            yAxis: {
                title: {
                    text: 'Investment Mix'
                },
                tickInterval: 10,
                min: 0,
                max: 100,
                gridLineWidth: 0,
                minorGridLineWidth: 0,
                startOnTick: false,
                minPadding: 0
            },
            plotOptions: {
                areaspline: {
                    stacking: 'normal',
                    lineColor: '#000',
                    lineWidth: 2,
                    marker: {
                        fillColor: '#FFFFFF',
                        lineWidth: 2,
                        lineColor: '#000',
                        radius: 6
                    }
                }
            },
            series: [{
                showInLegend: false,
                data: [{
                    y: 100,
                    marker: {
                        fillColor: '#E22739',
                        radius: 6
                    }
                }, {
                    y: 90,
                    marker: {
                        fillColor: '#F7F79B',
                        radius: 6
                    }
                }, {
                    y: 80,
                    marker: {
                        fillColor: '#F7F79B',
                        radius: 6
                    }
                }, {
                    y: 75,
                    marker: {
                        fillColor: '#F7F79B',
                        radius: 6
                    }
                }, {
                    y: 70,
                    marker: {
                        fillColor: '#F7F79B',
                        radius: 6
                    }
                }, {
                    y: 65,
                    marker: {
                        fillColor: '#F7F79B',
                        radius: 6
                    }
                }, {
                    y: 55,
                    marker: {
                        fillColor: '#F7F79B',
                        radius: 6
                    }
                }, {
                    y: 50,
                    marker: {
                        fillColor: '#F7F79B',
                        radius: 6
                    }
                }, {
                    y: 45,
                    marker: {
                        fillColor: '#E22739',
                        radius: 6
                    }
                }, {
                    y: 40,
                    marker: {
                        fillColor: '#F7F79B',
                        radius: 6
                    }
                }, {
                    y: 35,
                    marker: {
                        fillColor: '#F7F79B',
                        radius: 6
                    }
                }, {
                    y: 30,
                    marker: {
                        fillColor: '#F7F79B',
                        radius: 6
                    }
                }, {
                    y: 25,
                    marker: {
                        fillColor: '#F7F79B',
                        radius: 6
                    }
                }, {
                    y: 20,
                    marker: {
                        fillColor: '#F7F79B',
                        radius: 6
                    }
                }, {
                    y: 15,
                    marker: {
                        fillColor: '#F7F79B',
                        radius: 6
                    }
                }, {
                    y: 10,
                    marker: {
                        fillColor: '#F7F79B',
                        radius: 6
                    }
                }, {
                    y: 5,
                    marker: {
                        fillColor: '#F7F79B',
                        radius: 6
                    }
                }],
                color: '#20C772'
            }]
        });
    }());

});
&lt;/script&gt;
