   		&lt;!-- Top Message Bar --&gt;
        {{&gt; molecules-pla-topbar }}

        &lt;!-- /Top Message Bar --&gt;
&lt;header&gt;

    &lt;div class=&quot;row trs-header no-padding&quot;&gt;

        &lt;!-- Page Header --&gt;
        {{&gt; molecules-headerPLA-nav }}

        &lt;!-- /Page Header --&gt;
    &lt;/div&gt;
    &lt;div class=&quot;row hidden-xs&quot;&gt;
        {{&gt; molecules-button-breadcrumb }}
    &lt;/div&gt;
&lt;/header&gt;