{{# showModalLink }}
&lt;p&gt;&lt;a href=&quot;#&quot; data-toggle=&quot;modal&quot; data-target=&quot;#modal-37&quot;&gt;&lt;em&gt;OnTrack&lt;/em&gt;&lt;sup&gt;&amp;reg;&lt;/sup&gt; Modal - SLIDE #37: Add New Account agreement&lt;/a&gt;&lt;/p&gt;
{{/ showModalLink }}


&lt;!-- slide 37 --&gt;
&lt;div class=&quot;modal fade&quot; id=&quot;modal-37&quot; tabindex=&quot;-1&quot; role=&quot;dialog&quot; aria-labelledby=&quot;section-title-37&quot;&gt;
    &lt;div class=&quot;modal-dialog&quot; role=&quot;document&quot;&gt;{{! optional modal-lg or modal-sm can be added here }}
        &lt;div class=&quot;modal-content&quot;&gt;
            &lt;div class=&quot;modal-header&quot;&gt;
                &lt;a href=&quot;#&quot; type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;modal&quot; aria-label=&quot;Close&quot;&gt;
                    &lt;span aria-hidden=&quot;true&quot; class=&quot;trs-icons-close-btn&quot;&gt;&lt;/span&gt;
                &lt;/a&gt;
                &lt;h3 id=&quot;section-title-37&quot; class=&quot;modal-title section-title&quot;&gt;Add a new account&lt;/h3&gt;
            &lt;/div&gt;

            &lt;div class=&quot;modal-body&quot;&gt;
                &lt;form role=&quot;form&quot; class=&quot;form-inline ontrack__form&quot;&gt;

                    &lt;div class=&quot;row no-border no-vertical-padding no-vertical-margin&quot;&gt;
                        &lt;div class=&quot;col-xs-12&quot;&gt;
                            &lt;p class=&quot;text-center-xs&quot;&gt;&lt;strong&gt;Please read and agree to the following before you continue.&lt;/strong&gt;&lt;/p&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;

                    &lt;div class=&quot;row no-border&quot;&gt;
                        &lt;div class=&quot;col-xs-12&quot;&gt;
                            &lt;div class=&quot;pre-scrollable&quot;&gt;
                            {{!&lt;div class=&quot;pre-scroll&quot;&gt;
                                &lt;div class=&quot;wrap&quot;&gt;}}
                                    &lt;p&gt;Bacon ipsum dolor amet pork chop alcatra swine pork belly turducken brisket ham frankfurter pig fatback rump ham hock cupim strip steak corned beef.  Ball tip pork corned beef tail ham hock, bresaola rump sirloin kielbasa frankfurter cupim leberkas beef.  Landjaeger bacon meatball, bresaola shank porchetta shoulder turkey jerky ham sausage t-bone.  Pork loin t-bone biltong ground round pig sausage alcatra kielbasa strip steak doner hamburger landjaeger cupim short ribs tenderloin.&lt;/p&gt;
                                    &lt;p&gt;Short loin shoulder turducken pork chop pork belly corned beef tenderloin doner shank bacon biltong porchetta.  Pork belly shoulder corned beef tail kielbasa tongue pork chop pork loin chicken strip steak andouille beef shank meatball picanha.  Shank landjaeger beef pancetta swine drumstick ground round shankle alcatra salami.  Leberkas swine doner salami pig shoulder filet mignon sirloin shankle frankfurter boudin jowl prosciutto flank tail.  Bresaola biltong andouille, spare ribs beef ribs brisket kevin short ribs kielbasa.  Ground round tongue ribeye short loin, pig jowl corned beef tri-tip swine beef boudin.  Bacon tenderloin swine meatball shankle pork.&lt;/p&gt;
                                    &lt;p&gt;Beef ribs short loin flank, landjaeger shank shoulder t-bone porchetta jerky.  Filet mignon tenderloin drumstick biltong spare ribs swine ball tip picanha alcatra brisket ham pork loin kevin.  Pork loin spare ribs ham ball tip short loin, biltong pastrami brisket.  Meatloaf biltong hamburger beef ribs t-bone, shankle andouille jerky tail.  Venison ground round capicola meatball, turkey brisket doner flank ribeye pig.  Kielbasa doner picanha pig turducken brisket pork belly cow pancetta meatloaf.  Flank biltong chuck pig, strip steak cupim beef ribs turkey salami spare ribs pastrami leberkas porchetta cow ribeye.&lt;/p&gt;
                                    &lt;p&gt;Porchetta pig bacon, shoulder tongue drumstick spare ribs ribeye pancetta ball tip boudin chuck pork loin frankfurter.  Bacon ground round filet mignon pork belly sirloin beef ribs short loin beef short ribs ham ham hock leberkas.  Drumstick prosciutto capicola swine turducken biltong alcatra tenderloin sausage tongue.  Ball tip sirloin salami chuck.  Kevin prosciutto venison biltong jerky leberkas ribeye sirloin.&lt;/p&gt;
                                    &lt;p&gt;Salami turducken meatloaf tongue, landjaeger pancetta capicola pork belly cupim picanha ribeye.  Tongue andouille biltong pig ribeye corned beef filet mignon t-bone short ribs pork chop turkey boudin.  Landjaeger filet mignon strip steak jerky drumstick ball tip ham prosciutto.  Shankle andouille shank turkey, bresaola capicola filet mignon kielbasa cow chuck tenderloin corned beef tri-tip ham hock.  Pork prosciutto salami venison chuck, rump shankle doner.  Brisket bresaola cow, boudin ham pork belly prosciutto t-bone drumstick salami meatloaf pig spare ribs.  Pig beef ribs pastrami, short loin spare ribs salami kielbasa fatback.&lt;/p&gt;
                                {{!&lt;/div&gt;
                            &lt;/div&gt;}}
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;

                &lt;/form&gt;
            &lt;/div&gt;

            &lt;div class=&quot;modal-footer&quot;&gt;
                &lt;a class=&quot;btn btn-secondary left&quot; data-dismiss=&quot;modal&quot; href=&quot;#&quot;&gt;Cancel&lt;/a&gt;
                &lt;a class=&quot;btn btn-secondary hidden-xs&quot; href=&quot;javascript:void(0);&quot; onclick=&quot;return false;&quot;&gt;Print&lt;/a&gt;
                &lt;a class=&quot;btn btn-primary&quot; href=&quot;javascript:void(0);&quot; onclick=&quot;return false;&quot;&gt;I accept&lt;/a&gt;
            &lt;/div&gt;

        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;!-- /slide 37 --&gt;

