{{# table_a }}
&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;col-xs-6 section-title padding-bottom-md__desktop&quot;&gt;{{{ tbl_title }}}&lt;/div&gt;
  &lt;div class=&quot;col-xs-6 text-right section-title-date&quot;&gt;&lt;span class=&quot;sr-only&quot;&gt; Accounts &lt;/span&gt; As of 01/01/2015&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;tbl-mobile--div-balance text-border-top padding-top padding-bottom-md&quot;&gt;&lt;strong&gt;Total DC Balance:&lt;/strong&gt; $400,000.20&lt;/div&gt;
{{&gt; atoms-table-style2 }}
{{/ table_a }}

{{# table_b }}
&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;col-xs-6 section-title padding-bottom-md__desktop&quot;&gt;{{{ tbl_title }}}&lt;/div&gt;
  &lt;div class=&quot;col-xs-6 text-right section-title-date&quot;&gt;&lt;span class=&quot;sr-only&quot;&gt; Accounts &lt;/span&gt; As of 01/01/2015&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;visible-xs text-border-top padding-top&quot;&gt;&lt;strong&gt;Total DB Plan Balance:&lt;/strong&gt; $400,000.20&lt;/div&gt;
&lt;div class=&quot;visible-xs hidden-md padding-bottom-md&quot;&gt;&lt;strong&gt;Total DB Monthly Benefit:&lt;/strong&gt; $400,000.20&lt;/div&gt;
{{&gt; atoms-table-style2 }}
{{/ table_b }}
