&lt;li&gt;
    &lt;a href=&quot;{{{ tab-href }}}&quot; title=&quot;{{{ tab-title }}}&quot; class=&quot;{{{ tab-class }}}&quot;&gt;
        &lt;span class=&quot;glyphicon glyphicon-{{{ tab-icon }}}&quot; role=&quot;presentation&quot;&gt;&lt;/span&gt;
        &lt;span&gt;Call Us: &lt;strong&gt;1-800-PYRAMID&lt;/strong&gt;&lt;/span&gt;
    &lt;/a&gt;
&lt;/li&gt;
